{% extends 'layout.html.twig' %}
{% set active = '' %}

{# title #}
{% block title %}Sales FAQ{% endblock %}

{# keywords #}
{% block keywords %}web hosting faq, web hosting answers{% endblock %}

{# description #}
{% block description %}Frequently asked web hosting questions answered by the award-winning InMotion Hosting team.{% endblock %}

{# intro #}
{% block intro %}
 <div class="span9">
  <h1>Frequently Asked Questions</h1>
 </div>
 <div class="span3">
 </div>
{% endblock %}

{# content #}
{% block content %}
<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="span9">
                <h2>General Questions<a name="top" id="top"></a></h2>
                    <p><a href="#g_howlong">How long has InMotion Hosting been in business?</a><br />
                    <a href="#g_why">Why should I choose InMotion Hosting?</a><br />
                    <a href="#g_moneyback">Do you offer a Money Back guarantee? </a><br />
                    <a href="#g_hiddencharges">Are there any hidden charges?</a></p>
                <h2>Pre-Sales Questions<a name="top2" id="top2"></a></h2>
                    <p><a href="#d_domain">Can I purchase a domain name with InMotion Hosting?</a><br />
                    <a href="#p_howlong">How long will it take to set up my account?</a><br />
                    <a href="#p_payment">What forms of payment do you accept?</a><br />
                    <a href="#p_upgrade">Can I upgrade my hosting plan at a later stage?</a><br />
                    <a href="#p_upgradefee">When I upgrade, do I have to pay a setup fee again?</a><br />
                    <a href="#p_invoice">How will you invoice me?</a><br />
                    <a href="#p_popup">Do you put banners or pop-ups on my web pages?</a><br />
                    <a href="#p_techsupport">What are your hours of Technical Support?</a><br />
                    <a href="#cp_demo">Do you have an online control panel? </a></p>
                <h2>Technical Questions<a name="top3" id="top3"></a></h2>
                    <p><a href="#t_servers">What kind of servers do you use?</a><br />
                    <a href="#t_monitor">Do you monitor your servers?</a><br />
                    <a href="#t_backup">Do you backup my website?</a><br />
                    <a href="#t_macintosh">Can I use your web hosting services if I own a Macintosh Computer?</a><br />
                    <a href="#t_frontpage">Do you offer Microsoft FrontPage Extensions?</a><br />
                    <a href="#t_adult">Do you allow adult content on your servers?</a><br />
                    <a href="#t_ssh">Do you allow telnet / SSH access?</a><br />
                    <a href="#t_database">What kind of database access do you provide?</a><br />
                    <a href="#t_operatingsystem">What Operating System do you use on the servers?</a><br />
                    <a href="#t_php">What version of PHP do you use?</a><br />
                    <a href="#t_apache">What version of Apache do you use?</a><br />
                    <a href="#t_mysql">What version of MySQL do you use?</a><br />
                    <a href="#t_asp">Can I use Active Server Pages (ASP) on my website?</a><br />
                    <a href="#t_jsp">Can I use Java Servlet Pages (JSP) on my website?</a></p>
                <h2>Domain Name Questions<a name="top4" id="top4"></a></h2>
                    <p> <a href="#d_domain">Can I purchase a domain name with InMotion Hosting?</a><br />
                    <a href="#d_nohost">Can I purchase a domain name without purchasing a hosting account?</a><br />
                    <a href="#d_point">I already have a domain name. How do I point it to my new account?</a> <br />
                    <a href="#d_pointwhy">I've changed my domain name servers over, and my website is not coming up. How come?</a></p>
                <h2>Add-On Services<a name="top5" id="top5"></a></h2>
                    <p><a href="#a_bandwidth">Can I purchase more bandwidth?</a><br />
                    <a href="#a_email">Can I purchase more email accounts?</a><br />
                    <a href="#a_ftp">Can I purchase more FTP Accounts?</a><br />
                    <a href="#a_sql">Can I purchase more SQL Databases?</a><br />
                    <a href="#a_subdomains">Can I purchase more subdomains?</a><br />
                    <a href="#a_parkeddomains">Can I purchase more Parked Domains?</a><br />
                    <a href="#a_addondomains">Can I purchase more Add-On Domains?</a><br />
                    <a href="#a_cart">Do you offer a shopping cart?</a><br />
                    <a href="#merchant">Do you offer merchant accounts?</a><br />
                    <a href="#design">Do you offer web design?</a><br />
                    <a href="#webeditor">Do you offer a web authoring tool?</a></p>
                <h2>Affiliate and Reseller Questions<a name="top6" id="top6"></a></h2>
                    <p><a href="#r_reseller">Do you have a reseller plan?</a><br />
                    <a href="#r_affill">Do you have an affiliate program?</a></p>
                    <a name="g_howlong" id="g_howlong"></a>
                    <h4>How long has InMotion Hosting been in business?</h4>
                    <p>InMotion Hosting has been hosting shared accounts since our inception in 2001.</p>
                    <p>InMotion Hosting, Inc. is registered in the State of California, USA.</p>
                    <p><a href="#top">return to top</a></p>
                <a name="g_why" id="g_why"></a>
                <h4>Why should I choose InMotion Hosting?</h4>
                    <p>Service</p>
                    <p>InMotion Hosting has been voted #1 for our superior customer and technical service by many independent reviewers. Our 'service first' philosophy has allowed us to be one of the strongest and most reliable web hosting forces on the internet, building a client base of happy eBusiness and personal web hosting clients.</p>
                    <p>Stability</p>
                    <p>We provide a world class infrastructure and a top notch network so you can avoid costly investments in hardware, software, and system administration. We have a first rate BGP4 Network with state of the art fault tolerant IP routing to ensure your website stays up.</p>
                    <p>Growth Potential</p>
                    <p>InMotion Hosting offers <a href="/business-hosting">three shared hosting plans</a> along with <a href="/vps-hosting">VPS</a> and <a href="/dedicated-servers">V-Dedicated</a> plans, all with increasing levels of functionality, allowing you stay ahead of the competition as your business grows.</p>
                    <p>We are a reliable and affordable web hosting company with years of experience. We operate our own servers over which we have full control. We have a team of system administrators who are monitoring our servers 24 hours a day, 7 days a week, 365 days a year.</p>
                    <p><a href="#top">return to top</a></p>
                <a name="g_moneyback" id="g_moneyback"></a>
                <h4>Do you offer a Money Back guarantee?</h4>
                    <p>Yes!</p>
                    <p> We offer a 30-day money back guarantee on Value Class packages and a 90-day* money back guarantee on Business Class packages. If you are not satisfied with our service in any way, we will refund all hosting charges, no questions asked.</p>
                    <p> There is no refund for domain names, as you are given full ownership of the domain name for the year. You may transfer your domain name away at that time. There are no refunds upon completion of the 30th day of hosting with InMotion. *Monthly contracts have a one month money back guarantee. <a href="/30day">Read more</a>.</p>
                    <p><a href="#top">return to top</a></p>
                <a name="g_hiddencharges" id="g_hiddencharges"></a>
                <h4>Are there any hidden charges?</h4>
                    <p>No. We will not charge you for anything without your prior consent.</p>
                    <p><a href="#top">return to top</a></p>
                <a name="p_howlong" id="p_howlong"></a>
                <h4>How long will it take to set up my account?</h4>
                    <p>Your account will be activated the very same business day.</p>
                    <p><a href="#top2">return to top</a></p>
                <a name="p_payment" id="p_payment"></a>
                <h4>What forms of payment do you accept?</h4>
                    <p>We accept Visa, MasterCard, American Express and Discover.</p>
                    <p>Payments by check or money order must be mailed to our mailing address. Make checks payable to InMotion Hosting, Inc.</p>
                    <p>We do not accept cash.</p>
                    <p><a href="#top2">return to top</a></p>
                <a name="p_upgrade" id="p_upgrade"></a>
                <h4>Can I upgrade my hosting plan at a later stage?</h4>
                    <p>Yes.</p>
                    <p>All accounts can be upgraded. Upgrades will happen the same business day.</p>
                    <p><a href="#top2">return to top</a></p>
                <a name="p_upgradefee" id="p_upgradefee"></a>
                <h4>When I upgrade, do I have to pay a setup fee again?</h4>
                    <p>No. Setup fees (which are waived on all year long sign-ups) are one time fees.</p>
                    <p><a href="#top2">return to top</a></p>
                <a name="p_invoice" id="p_invoice"></a>
                <h4>How will you invoice me?</h4>
                    <p>All accounts renew automatically. For customers paying by check or who request notice before billing, invoices are sent via email.</p>
                    <p><a href="#top2">return to top</a></p>
                <a name="p_popup" id="p_popup"></a>
                <h4>Do you put banners or pop-ups on my web pages?</h4>
                    <p>No. We never change or tamper with your website.</p>
                    <p><a href="#top2">return to top</a></p>
                <a name="p_techsupport" id="p_techsupport"></a>
                <h4>What are your hours of Technical Support?</h4>
                    <p>Phone, email, and chat support is available 24 hours a day, 7 days a week, 365 days a year.</p>
                    <p><a href="#top2">return to top</a></p>
                <a name="cp_demo" id="cp_demo"></a>
                <h4>Do you have an online control panel?</h4>
                    <p>Yes.</p>
                    <p>You can <a href="demo.html">view our demo page</a> for more information.</p>
                    <p><a href="#top2">return to top</a></p>
                <a name="t_servers" id="t_servers"></a>
                <h4>What kind of servers do you use?</h4>
                    <p>All of our servers are 100% Dell PowerEdge servers with CentOS operating systems. Depending on the primary function, the machines will have from 2GB to 48GB RAM, 2 to 16 processors, and 2-24 hard drives.</p>
                    <p><a href="#top3">return to top</a></p>
                <a name="t_monitor" id="t_monitor"></a>
                <h4>Do you monitor your servers?</h4>
                    <p>Yes.</p>
                    <p>Administrators monitor our servers 24 hours a day, 7 days a week, 365 days a year.</p>
                    <p><a href="#top3">return to top</a></p>
                <a name="t_backup" id="t_backup"></a>
                <h4>Do you backup my website?</h4>
                    <p>We perform backups of all websites under 10Gb. There are additional backup options for websites over 10g, available upon request.</p>
                    <p><a href="#top3">return to top</a></p>
                <a name="t_macintosh" id="t_macintosh"></a>
                <h4>Can I use your web hosting services if I own a Macintosh Computer?</h4>
                    <p>Yes.</p>
                    <p>You can use your favorite Macintosh-compatible Web-authoring tool and use an FTP application to make your changes.</p>
                    <p><a href="#top3">return to top</a></p>
                <a name="t_frontpage" id="t_frontpage"></a>
                <h4>Do you offer Microsoft FrontPage Extensions?</h4>
                    <p>Yes.</p>
                    <p> Every account has extensions for all versions of Microsoft FrontPage and can be enabled in your control panel.</p>
                    <p><a href="#top3">return to top</a></p>
                <a name="t_adult" id="t_adult"></a>
                <h4>Do you allow adult content on your servers?</h4>
                    <p>We do not allow adult content. This is described as pornographic material. We do allow certain types of artistic material. Please <a href="/contact">contact support</a> if you have further questions.</p>
                    <p><a href="#top3">return to top</a></p>
                <a name="t_ssh" id="t_ssh"></a>
                <h4>Do you allow telnet / SSH access?</h4>
                    <p>Unfortunately on shared accounts we are not able to allow access of that type due to security issues. On all VPS and V-Dedicated plans full SSH access is allowed.</p>
                    <p><a href="#top3">return to top</a></p>
                <a name="t_database" id="t_database"></a>
                <h4>What kind of database access do you provide?</h4>
                    <p>Our main shared hosting only allows for MySQL access, though we do have special shared servers that provide PostgreSQL and SQLite, available upon request.  We do not offer MSSQL or Microsoft Access Database.</p>
                    <p><a href="#top3">return to top</a></p>
                <a name="t_operatingsystem" id="t_operatingsystem"></a>
                <h4>What Operating System do you use on the servers?</h4>
                    <p>Our servers currently run CentOS 4.x and Redhat 9, depending on the server. Our VPS systems are powered under Virtuozzo with CentOS 4.x and Redhat 9 as well.</p>
                    <p><a href="#top3">return to top</a></p>
                <a name="t_php" id="t_php"></a>
                <h4>What version of PHP do you use?</h4>
                    <p>We currently offer PHP 5.x as a default, but we have servers that run 4.4.x that are available by request for those needing older versions.  PHP 5.3 is currently only available by request on V-Dedicated and Dedicated servers</p>
                    <p><a href="#top3">return to top</a></p>
                <a name="t_apache" id="t_apache"></a>
                <h4>What version of Apache do you use?</h4>
                    <p>Most of our servers run Apache 2.  Older versions are currently only available on V-dedicated and Dedicated servers upon request.</p>
                    <p><a href="#top3">return to top</a></p>
                <a name="t_mysql" id="t_mysql"></a>
                <h4>What version of MySQL do you use?</h4>
                    <p>We currently run MySQL 5.x by default, but we have servers that run 4.0.x and 4.1.x available by request for those needing older versions.</p>
                    <p><a href="#top3">return to top</a></p>

                <a name="t_asp" id="t_asp"></a>
                <h4>Can I use Active Server Pages (ASP) on my website?</h4>
                    <p>No. We only use Unix Servers. ASP requires Windows Servers.</p>
                    <p><a href="#top3">return to top</a></p>
                <a name="t_jsp" id="t_jsp"></a>
                <h4>Can I use Java Servlet Pages (JSP) on my website?</h4>
                    <p>Due to resource requirements, we currently only support JSP on V-Dedicated and Dedicated platforms by request.</p>
                    <p><a href="#top3">return to top</a></p>
                <a name="d_domain" id="d_domain"></a>
                <h4>Can I purchase a domain name with InMotion Hosting?</h4>
                    <p>Yes.</p>
                    <p> You can order .com,.net,.org,.biz and .info domain names for $11.95, at the time of signup. You get full ownership of the domain name for 1 year.<a href="/domains"> Learn more about domain names here</a></p>
                    <p>If you want to purchase a domain name with a different extension, we suggest you purchase it from a 3rd party program, and set your nameservers to:</p>
                    <p>NS.INMOTIONHOSTING.COM - ip 74.124.210.242<br />
                     NS2.INMOTIONHOSTING.COM - ip 66.117.7.112</p>
                    <p>Then, at the time of sign up, choose 'I own this domain' and continue the order process.</p>
                    <p><a href="#top4">return to top</a></p>
                <a name="d_nohost" id="d_nohost"></a>
                <h4>Can I purchase a domain name without purchasing a hosting account?</h4>
                   <p>Yes, you can . You can purchase .com,.net, .org, .biz, .us and .info domain names for $11.95 a year. Click <a href="/domains">here</a> and enter the domain you would like to purchase,  it is available, you can purchase it without hosting.</p>
                <a name="d_point" id="d_point"></a>
                <h4>I already have a domain name. How do I point it to my new account?</h4>
                    <p>In order to point your domain at our servers, you should contact (via phone or their website) the company who sold you the domain and ask them to modify the nameservers to reflect the following information:</p>
                    <p>NS.INMOTIONHOSTING.COM - ip 74.124.210.242<br />
                     NS2.INMOTIONHOSTING.COM - ip 66.117.7.112</p>
                    <p><a href="#top4">return to top</a></p>
                <a name="d_pointwhy" id="d_pointwhy"></a>
                <h4>I've changed my domain name servers over, and my website is not coming up. How come?</h4>
                    <p>Once you have changed the nameservers for your domain name, it takes anywhere from 24-72 hours for your domain name to fully propagate over to our servers. However, in the mean time, you can access your website via a temporary url. (http://servername.inmotionhosting.com/~username)</p>
                    <p>If you experience any other problems with your domain, please contact <a href="/contact">support</a>.</p>
                    <p><a href="#top4">return to top</a> </p>
                <a name="a_bandwidth" id="a_bandwidth"></a>
                <h4>Can I purchase more bandwidth?</h4>
                    <p>Yes. Please <a href="/contact">contact</a> a sales representative for more information.</p>
                    <p><a href="#top5">return to top</a></p>
                <a name="a_email" id="a_email"></a>
                <h4>Can I purchase more email accounts?</h4>
                    <p>Yes. Please <a href="/contact">contact</a> a sales representative for more information.</p>
                    <p><a href="#top5">return to top</a></p>
                <a name="a_ftp" id="a_ftp"></a>
                <h4>Can I purchase more FTP Accounts?</h4>
                    <p>Yes. Please <a href="/contact">contact</a> a sales representative for more information.</p>
                    <p><a href="#top5">return to top</a></p>
                <a name="a_sql" id="a_sql"></a>
                <h4>Can I purchase more SQL Databases?</h4>
                    <p>Yes. Please <a href="/contact">contact</a> a sales representative for more information.</p>
                    <p><a href="#top5">return to top</a></p>
                <a name="a_subdomains" id="a_subdomains"></a>
                <h4>Can I purchase more subdomains?</h4>
                    <p>Yes. Please <a href="/contact">contact</a> a sales representative for more information.</p>
                    <p><a href="#top5">return to top</a></p>
                <a name="a_parkeddomains" id="a_parkeddomains"></a>
                <h4>Can I purchase more Parked Domains?</h4>
                    <p>Yes. Please <a href="/contact">contact</a> a sales representative for more information.</p>
                    <p><a href="#top5">return to top</a></p>
                <a name="a_addondomains" id="a_addondomains"></a>
                <h4>Can I purchase more Add-On Domains?</h4>
                    <p>Yes. Please <a href="/contact">contact</a> a sales representative for more information.</p>
                    <p><a href="#top5">return to top</a></p>
                <a name="a_cart" id="a_cart"></a>
                <h4>Do you offer a shopping cart?</h4>
                <p>Yes, we offer the OsCommerce shopping cart on all Power and Pro hosting accounts.</p>
                    <p>Additionally, you are able to install any 3rd party shopping cart that you wish.</p>
                    <p><a href="#top5">return to top</a></p>
                <a name="merchant" id="merchant"></a>
                <h4>Do you offer merchant accounts?</h4>
                    <p>Yes, we offer merchant accounts, click <a href="http://www.inmotionhosting.com/merchant/" target="_blank">here</a> to learn more. </p>
                    <p><a href="#top5">return to top</a></p>
                <a name="design" id="design"></a>
                <h4>Do you offer web design?</h4>
                    <p>Yes, InMotion Hosting has it own design team that can build a custom website for your business or personal web site.</p>
                    <p>For information on our design packages please click <a href="/webdesign">here</a>. </p>
                    <p><a href="#top5">return to top</a></p>
                <a name="webeditor" id="webeditor"></a>
                <h4>Do you offer a web authoring tool?</h4>
                    <p>Yes, InMotion Hosting offers a full featured web builder software, which includes flash introductions with audio, drag and drop image placement, and over 250+ themes.</p>
                    <p>Click <a href="/webbuilder">here</a> to learn more.</p>
                    <p><a href="#top5">return to top</a></p>
                <a name="r_reseller" id="r_reseller"></a>
                <h4>Do you have a reseller plan?</h4>
                    <p>Yes, InMotion Hosting offers reseller plans for our VPS Hosting plans. Please <a href="/contact">contact</a> a sales representative for more information.</p>
                    <p><a href="#top3">return to top</a></p>
                <a name="r_affill" id="r_affill"></a>
                <h4>Do you have an affiliate program?</h4>
                    <p>Yes.</p>
                    <p> We have an affiliate program. Please <a href="hosting_affiliate_program.html">read more about it here</a>.</p>
                    <p><a href="#top3">return to top</a></p>
                <p>If you were unable to find an answer to your question, please contact <a href="/contact">sales</a>, call us toll free at 888-321-HOST, outside of the U.S. at +1-310-943-9858.</p>
            </div><!--  end span9  -->
            <div class="span3 offset1"></div>
        </div><!--  end row  -->
    </div><!--  end container  -->
</div><!--  end wrap  -->
{% endblock %}
