{% extends 'layout.html.twig' %}
{% set active = 'business_hosting' %}

{% block content %}
    <div class="wrap intro">
        <div class="container">
            <div class="span9">
                <h1>Business Hosting</h1>
                <p>In addition to award winning technical support and 99.9% uptime, InMotion Hosting’s exclusive Speed Zone technology helps keep your website and email fast by locating your data as close to you as possible.</p>
            </div>
            <div class="span3">
                stuff
            </div>
        </div>
    </div><!-- /.intro -->
    <div class="pattern">
        <div class="container">
            <div class="row rostrum">
                <div class="span4 rostrum-tiered-item rostrum-tiered-item-second">
                    <div class="island raised">
                        <h3 class="">Launch</h3>
                        <p class="">Small Business Starter</p>
                        <dl class="split-center">
                            <dt class="split-center-title">Sites on Account:</dt>
                            <dd class="split-center-value">2</dd>
                            <dt class="split-center-title">Domains Supported:</dt>
                            <dd class="split-center-value">6</dd>
                            <dt class="split-center-title">Additional Sub Domains:</dt>
                            <dd class="split-center-value">25</dd>
                            <dt class="split-center-title">Free Google AdWords Credits:</dt>
                            <dd class="split-center-value">$75</dd>
                            <dt class="split-center-title">MySQL Databases:</dt>
                            <dd class="split-center-value">2</dd>
                            <dt class="split-center-title">FTP Accounts:</dt>
                            <dd class="split-center-value">1,000</dd>
                        </dl>
                    </div><!-- /.rostrum-tiered-item-second -->
                </div>
                <div class="span4 rostrum-tiered-item rostrum-tiered-item-first">
                    <div class="island raised">
                        <h3>Power</h3>
                        <p>Top Choice for Small Business</p>
                        <dl class="split-center">
                            <dt class="split-center-title">Sites on Account:</dt>
                            <dd class="split-center-value">6</dd>
                            <dt class="split-center-title">Domains Supported:</dt>
                            <dd class="split-center-value">26</dd>
                            <dt class="split-center-title">Additional Sub Domains:</dt>
                            <dd class="split-center-value">100</dd>
                            <dt class="split-center-title">Free Google AdWords Credits:</dt>
                            <dd class="split-center-value">$100</dd>
                            <dt class="split-center-title">MySQL Databases:</dt>
                            <dd class="split-center-value">50</dd>
                            <dt class="split-center-title">FTP Accounts:</dt>
                            <dd class="split-center-value">2,000</dd>
                        </dl>
                    </div><!-- /.rostrum-tiered-item-first -->
                </div>
                <div class="span4 rostrum-tiered-item rostrum-tiered-item-third">
                    <div class="island raised">
                        <h3 class="icon package-title">fjwow</h3>
                        <p class="package-subtitle">Host 25 sites on 1 account</p>
                        <dl class="split-center">
                            <dt class="split-center-title">Sites on Account:</dt>
                            <dd class="split-center-value">25</dd>
                            <dt class="split-center-title">Domains Supported:</dt>
                            <dd class="split-center-value">Unlimited</dd>
                            <dt class="split-center-title">Additional Sub Domains:</dt>
                            <dd class="split-center-value">Unlimited</dd>
                            <dt class="split-center-title">Free Google AdWords Credits:</dt>
                            <dd class="split-center-value">$100</dd>
                            <dt class="split-center-title">MySQL Databases:</dt>
                            <dd class="split-center-value">200</dd>
                            <dt class="split-center-title">FTP Accounts:</dt>
                            <dd class="split-center-value">Unlimited</dd>
                        </dl>
                    </div><!-- /.rostrum-tiered-item-third -->
                </div>
            </div><!-- /.rostrum -->
            <div class="wrap row trust-building">
                <div class="span12">
                    <div class="pull-left raised icon icon-90">
                        <p>All business plans come with an Industry Leading 90-Day Money Back Guarantee</p>
                    </div>
                    <div class="pull-left raised icon icon-90">
                        <p>All business plans come with an Industry Leading 90-Day Money Back Guarantee</p>
                    </div>
                    <div class="pull-left raised icon icon-90">
                        <p>All business plans come with an Industry Leading 90-Day Money Back Guarantee</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.pattern -->
    <div class="navbar-inverse nav-static-top hosting-plan-details">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#specifications" data-toggle="tab">Specifications<div class="arrow"></div></a></li>
                    <li><a href="#features" data-toggle="tab">Features</a></li>
                    <li><a href="#compare" data-toggle="tab">Compare</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="tab-content">
            <div class="tab-pane active" id="specifications">
                <h1>something</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td colspan="2"></td>
                            <th scope="col">Launch</th>
                            <th scope="col">Power</th>
                            <th scope="col">Pro</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th scope="row" colspan="2">Price</th>
                            <td>$5.95/mo</td>
                            <td>$7.95/mo</td>
                            <td>$13.95/mo</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <th scope="row">Sites on 1 Account</th>
                            <td>Multiple sites, no hidden fees!</td>
                            <td>2</td>
                            <td>6</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <th scope="row">Domain Supported</th>
                            <td>Parked Domains</td>
                            <td>6</td>
                            <td>26</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <th scope="row">Sites on 1 Account</th>
                            <td>Multiple sites, no hidden fees!</td>
                            <td>2</td>
                            <td>6</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <th scope="row">Domain Supported</th>
                            <td>Parked Domains</td>
                            <td>6</td>
                            <td>26</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <th scope="row">Sites on 1 Account</th>
                            <td>Multiple sites, no hidden fees!</td>
                            <td>2</td>
                            <td>6</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <th scope="row">Domain Supported</th>
                            <td>Parked Domains</td>
                            <td>6</td>
                            <td>26</td>
                            <td>Unlimited</td>
                        </tr>
                    </tbody>
                </table>                    
            </div>
            <div class="tab-pane" id="features">
                <h1>something else</h1>
                <ul>
                    <li>
                        <h4>Hosting Email Features</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </li>
                    <li>
                        <h4>Hosting Email Features</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </li>
                    <li>
                        <h4>Hosting Email Features</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </li>
                    <li>
                        <h4>Hosting Email Features</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </li>
                    <li>
                        <h4>Hosting Email Features</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </li>
                    <li>
                        <h4>Hosting Email Features</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </li>
                    <li>
                        <h4>Hosting Email Features</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </li>
                    <li>
                        <h4>Hosting Email Features</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="compare">
                <h1>something else again</h1>
            </div>
        </div>
    </div>



{% endblock %}
