{% extends 'layout.html.twig' %}
{% set active = 'domains' %}

{# title #}
{% block title %}Free Domain Name Registration{% endblock %}

{# keywords #}
{% block keywords %}comma, delimited, listing, of, keywords{% endblock %}

{# description #}
{% block description %}more optimized stuff in this description{% endblock %}

{# intro #}
{% block intro %}
    <div class="span8">
        <h1>Domain Registration</h1>
        <p>Secure your online identity today. Even if you are not ready to build a website, you can reserve your name so it’s ready when you need it. Research also shows that major search engines, such as Google and Yahoo, favor domain names that are aged in the process of calculating objective search results.</p>
    </div>
    <div class="span3 gears-domains pull-right">
        <img src="../../img/gears-domains.png" />
    </div>
{% endblock %}

{# content #}
{% block content %}
    <div class="wrap sunken">
        <div class="container">
            <div class="row">
                <div class="span8 domainwell">
                    <form class="well-small domains-pill">
                        <input class="inputtext" type="text" placeholder="my domain" />
                        <a href="#" class="btn btn-primary tall">Search</a>
                    </form>
                </div>
                <p class="span4"><i class="icon-greencheck ipos"></i>All registered domains come with <span class="caps">free</span> setup.</p>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="container">
            <div class="row domain-quadrants">
                <div class="span6">
                    <h2>Additional Domains</h2>
                    <p>If you are a pre-existing customer, please purchase additional domains through our Account Management Panel (AMP).</p><p>Domains are $11.95/year.</p><a href="#" class="btn btn-primary">Amp Login</a>
                </div>
                <div class="span6">
                    <h2>Domain Privacy</h2>
                    <p>InMotion Hosting provides Domain Privacy so that our information is made public – not yours. So be sure to ask about Domain Privacy when your account has been activated. It’s only $9/year and our customers love it!  See an Example</p><a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <h2>Already have a domain?</h2>
                    <p>Purchase any 12- or 24-month hosting plan to get your domain transferred for FREE. InMotion Hosting can register any available .com,  .net, .org, .us, .biz, or .info domain name & can support any domain on the Internet!</p><a href="#" class="btn btn-primary">Learn More</a>
                </div>
                <div class="span6">
                    <h2>Free New Domain</h2>
                    <p>Purchase any 12 month or 24 month Business Class plan and your Domain is free for the first year. Choose from any available .com, .net, .org, .us, .biz, or .info domain name!*</p><a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
