{% extends 'layout.html.twig' %}
{% set active = 'domains' %}

{# title #}
{% block title %}Free Domain Name Registration{% endblock %}

{# keywords #}
{% block keywords %}comma, delimited, listing, of, keywords{% endblock %}

{# description #}
{% block description %}more optimized stuff in this description{% endblock %}

{% block content %}

    <h1>Domains</h1>

{% endblock %}
