{% extends 'layout.html.twig' %}
{% set active = 'guarantee' %}

{# title #}
{% block title %}{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# intro #}
{% block intro %}
<div class="row">
    <div class="span9">
        <h1>30/90- Day Guarantee</h1>
        We are so confident in our service that we offer a 30 and 90 day money back guarantee.
    </div>
    <div class="span3">
        <img alt="gears" class="banner-img" src="../../img/gears-plain.png" />
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container wrap">
    <div class="row">
        <div class="span9">
            <h2>Overview</h2>
            <p>If you purchase any 1 or 2 year Business Class Hosting Packages (<a href="#">Launch</a>, <a href="#">Power</a> or <a href="#">Pro</a>) - you are eligible for our 90 day money back guarantee.</p><p>If you purchase any 6 month or 12 month Virtual Dedicated (<a href="#">VPS-1000</a>, <a href="#">VPS-2000</a> or <a href="#">VPS-3000</a>) - you are eligible for our 90 day money back guarantee. Purchasing any Virtual Dedicated for less than 6 month billing cycles are only eligible for a 30 day money back guarantee.</p><p>If you purchase any monthly, 6 month, or 12 month Dedicated Server package (<a href="#">Essential</a>, <a href="#">Advanced</a>, <a href="#">Elite</a> or <a href="#">Commercial Class</a>) you are eligible for our 30 day money back guarantee.</p><p>If you purchase any of our other web hosting packages, including our Value Class (<a href="#">Starter</a>, <a href="#">Basic</a> or <a href="#">Max</a>) you are eligible for our 30 day money back guarantee.</p><p>In the event of exercising any money back guarantee, certain restrictions apply.
            <ul>
                <li>Domain names are non-refundable. The domain is yours to keep and you will be given the rights and registry key so that you can manage your domain name.</li>
                <li>In the event that you exercise our free domain or free domain name transfer promotion, the price of the domain of $11.95 per year and a $5.00 administrative fee will be deducted from your refund.</li>
                <li>Setup fees are non-refundable. For example, if you purchase a 1 month Pro package, the purchase price is $19.95 (hosting) + $40 (setup), equivalent to $59.95. In the event of canceling within the eligible money back guarantee time, you will only be eligible for a refund of the web hosting fee ($19.95)</li>
                <li>Customers who exercise the money back guarantee and use more than 500mb of bandwidth will be charged for such usage. Please contact sales for details.</li>
                <li>InMotion Websites products and services are bound by the terms and conditions of its respective contract. Hence, this particular money back guarantee does not apply.</li>
                <li>Any customers whom InMotion Hosting deems in violation of our terms of service are not eligible for refunds of any kind, at our sole discretion.</li>
                <li>All cancellations/refunds must be done via our electronic form. Cancellations/refunds via email, telephone or live chat are not adequate means to request a cancellation or refund.</li>
                <li>Customers who have signed up on or after June 15, 2007 are eligible for 90 day money back guarantee. Customers who have signed up on June 14, 2007 or earlier are only eligible for a 30 day money back guarantee.</li>
            </ul>
            <p>If you have any other questions, please do not hesitate to <a href="#">contact us</a>.
        </div>
        <div class="span3">
            <img src="../../img/icons-guarantee.png" alt="awards, bbb, cnet icons" class="pull-right" />
        </div>
    </div>
</div>
{% endblock %}