{% extends 'layout.html.twig' %}
{% set active = 'hosting_affiliate_program' %}

{# title #}
{% block title %}Free Domain Name Registration{% endblock %}

{# keywords #}
{% block keywords %}comma, delimited, listing, of, keywords{% endblock %}

{# description #}
{% block description %}more optimized stuff in this description{% endblock %}

{# intro #}
{% block intro %}
    <div class="span8">
        <h1>Hosting Affiliate Program</h1>
        <p>The Web host affiliate program from InMotion Hosting is a great way for you to get paid CASH just for recommending InMotion. All you have to do is sign up for an affiliate account, place a link or banner to us from your site, and for every sign up we receive, you earn money. It’s that simple. Each day you recommend products and services to friends, family, and co-workers, so why not earn up to $100 per for each recommendation?</p>
    </div>
    <div class="span3 gears-top pull-right">
        <img src="../../img/gears-plain.png" alt="gears graphic" />
        <span class="cta-banner"><a href="#" class="btn btn-primary">Sign Up Now</a></span>
    </div>
{% endblock %}

{# content #}
{% block content %}
<div class="centerall {{active}}">
    <div class="wrap pattern">
        <div class="container">
            <div class="row affiliate-top">
                <h2 class="jutwrap4">3 Simple Steps to Start Earning Money Today</h2>
                <div class="span4">
                    <img src="../../img/icon-affiliates-clipboard.png" alt="step 1 - register" />
                    <ol class="gutter-remove jutwrap5">
                        <li class="b1">1</li>
                        <p>Register with the InMotion Hosting Affililate Program.</p>
                    </ol>
                </div>
                <div class="span4">
                    <img src="../../img/icon-affiliates-step2.png" alt="step 2 - place links" />
                     <ol class="gutter-remove jutwrap5">
                        <li class="b1">2</li>
                        <p>Place links or banners to InMotion Hosting from your website.</p>
                    </ol>
                </div>
                <div class="span4">
                    <img src="../../img/icon-affiliates-step3.png" alt="step 3 - collect $" />
                    <ol class="gutter-remove jutwrap5">
                        <li class="b1">3</li>
                        <p>Earn money for each customer you recommend that purcahses hosting.</p>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="affiliate-cta-place">
        <a href="#" class="btn btn-primary">Sign Up Now</a>
    </div>
    <div class="wrap">
        <div class="container">
            <div class="row-fluid {{active}}">
                <div class="span6">
                    <h2>The more you sell, the more you make.</h2>
                    <img src="../../img/icon-affiliates-quad1.png" class="jutwrap6" alt="make money!" />
                    <p>The InMotion Hosting affiliate program offers some of the highest commissions in the industry.</p><p>1 - 2 Sales Per month: $50 Per Sale</p><b>Make 3+ Sales Per month: $100 Per Sale</b>
                </div>
                <div class="span6">
                    <h2>Bonus Opportunities</h2>
                    <b>Earn up to an additional $25 TOTAL per sale!</b>
                    <div class="jutwrap3">
                        <div class="span5"><span class="g1">$10</span><p>Place us on your homepage above the fold</p></div>
                        <div class="span5"><span class="g1">$5</span><p>Provide us with your IM information for easy contact</p></ol></div>
                        <div class="span5"><span class="g1">$5</span><p>Place our link on multiple websites</p></ol></div>
                        <div class="span5"><span class="g1">$5</span><p>Like/Follow us on Twitter, Facebook, G+</p></div>
                    </div>
                </div>
            </div>
            <div class="row-fluid {{active}}">
                <div class="span6">
                    <h2>Affiliate Program Features</h2>
                    <img src="../../img/icon-affiliates-quad3.png" alt="icon clipboard" class="jutwrap6" />
                    <span class="quadrant3">
                        <ul>
                            <li>Affiliate Referral Bonus</li>
                            <li>Monthly Payouts</li>
                            <li>Dedicated Affiliate Contact</li>
                            <li>IP &amp; cookie-based tracking</li>
                            <li>2nd Tier Commissions</li>
                            <li>Affiliate Giveaways</li>
                            <li>Detailed account tracking</li>
                            <li>Easy-to-Use control panel</li>
                            <li>Real-time statistics</li>
                            <li>FREE to join!</li>
                            <li>Custom landing pages</li>
                        </ul>
                    </span>
                </div>
                <div class="span6">
                    <h2>How much money can you make?</h2>
                    <div class="bignumber">$2,500,000</div>
                    <i>Paid out to affiliates in 2012</i>
                    <p class="wrap-emp">Are you a company or a large scale advertiser? Contact <a href="#">affiliates@inmotionhosting.com</a> for info concerning more in-depth relationships or call us now at (888) 321-HOST x865.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="affiliate-cta-place jutwrap6">
        <a href="#" class="btn btn-primary">Sign Up Now</a>
    </div>
    <div class="pattern">
        <div class="container wrap">
            <div class="row-fluid">
                <div class="island raised">
                <div class="span2"><h4>Please Note:</h4></div>
                InMotion Hosting has a strict policy against ‘Self-Sign Ups’ or attempts to earn commissions on your own hosting accounts.<br />Please learn more about our <a href="#">affiliate program policies</a>.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
