{% extends 'layout.html.twig' %}
{% set active = 'hosting_affiliate_program' %}

{# title #}
{% block title %}{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# intro #}
{% block intro %}
    <div class="span8">
        <h1>Affiliate Program</h1>
        <p>The Web host affiliate program from InMotion Hosting is a great way for you to get paid CASH just for recommending us. All you have to do is sign up for an affiliate account, place a link or banner to us from your site, and for every sign up we receive, you earn money. It’s that simple. Each day you recommend products and services to friends, family, and co-workers, so why not earn up to $100 per for each recommendation?</p>
    </div>
    <div class="span3">
        stuff
    </div>
{% endblock %}

{% block content %}

    <h1>Longtail</h1>

{% endblock %}