{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{# title #}
{% block title %}This is a super optimized title element to which the system concatenates &#39; | InMotion Hosting&#39;{% endblock %}

{# keywords #}
{% block keywords %}comma, delimited, listing, of, keywords{% endblock %}

{# description #}
{% block description %}more optimized stuff in this description{% endblock %}

{% block content %}
    <div class="wrap pattern">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h2>Tools &amp; technology you need to succeed</h2>
                    <div class="row">
                        <div class="span4">
                            <h3 class="muted">Support</h3>
                            <p>You’ll get quick answers 24x7x365 from our US-based support team. Contact our experts anytime via phone, email or chat.</p>
                        </div>
                        <div class="span4">
                            <h3 class="muted">Technology</h3>
                            <p>Your websites will sing in our data centers. We use high-performance Dell® servers running CentOS® enterprise-class Linux, with networking hardware from Cisco Systems® among others.</p>
                        </div>
                        <div class="span4">
                            <h3 class="muted">Reliability</h3>
                            <p>99.9% uptime. That is the promise we make to you. Our proprietary software and expert system administrators monitor your websites 24 hours a day.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <h3 class="muted">Guarantee</h3>
                            <p>Starting with InMotion Hosting is risk free. We are so confident that we offer a 90-day money back guarantee on certain products. No questions asked. Seriously.</p>
                        </div>
                        <div class="span4">
                            <h3 class="muted">Software</h3>
                            <p>You have a huge range of free tools available at InMotion Hosting, including open source software like WordPress and Moodle, plus other free tools like Spam Assasin®.</p>
                        </div>
                        <div class="span4">
                            <h3 class="muted">Go Green</h3>
                            <p>Your website will have a tiny carbon footprint with InMotion Hosting. We have invested in green data centers and environmental partnerships for years.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span12"><a href="#">See all the benefits</a></div>
            </div>
        </div>
    </div><!-- /.pattern -->
    <div class="wrap container">
        <div class="row">
            <div class="span5">
                <img src="../img/traffic.png" />
            </div>
            <div class="span7">
                <h2>Start getting traffic.</h2>
                <span>Great web hosting is the foundation of a strong online presence.</span>
                <p>Having a professionally designed website is how you attract quality web traffic. Our Premium Web Builder lets you easily build an outstanding website in just minutes.If you’re looking for a professional site but don’t have the time to build it yourself, let our professional team of experienced web designers build the perfect site to your exact needs. Once your site is up, start sending targeted traffic to your website with free advertising credits from the biggest sites on the web including free with all web hosting plans.</p>
                <a href="#">View portfolio</a>
            </div>
        </div>
    </div>
    <div class="wrap sunken">
        <div class="container">
        </div>
    </div>
    <div class="wrap container">
        <div class="row">
            <div class="span8">
                <h2>A Brand You Can Trust</h2>
                <span>IMH has been serving the web community since 2001.</span>
                <p>We’ve worked hard to develop an impeccable reputation of having unmatched support and reliability. We’ve been awarded 3 out of 3 stars from CNET since 2003 and have an A+ service rating from the Better Business Bureau. But the opinions that matter most to us are from our thousands of loyal customers. Our devoted customers send us dozens of compliments each day. See for yourself just what everyone’s raving about.</p>
                <a href="#">Learn more about us</a>
            </div>
            <div class="span3 offset1 island sunken">
                <blockquote class="quoted">Inmotion has given my growing company the reliability, flexibility and consistency that I hav ebeen looking for. Their customer service and technical support have always been fast and efficient.</blockquote>
                <span class="emisor vibrant">Ajay Narain <span class="muted">Sunnyvale, CA</span></span>
            </div>
        </div>
    </div>
{% endblock %}
