{% extends 'layout.html.twig' %}
{% set active = 'link_to_us' %}

{# title #}
{% block title %}Link To Us{% endblock %}

{# keywords #}
{% block keywords %}link to us, vps hosting, web hosting, dedicated server, inmotion hosting, inmotion, virtual private server, cpanel hosting{% endblock %}

{# description #}
{% block description %}Show off your web hosting company! If you like InMotion Hosting's service and support, show it off using these badges and links.{% endblock %}

{# intro #}
{% block intro %}
<div class="row">
    <div class="span9">
        <h1>Link To Us</h1>
        <p>If you like InMotion Hosting show it off! Please feel free to use any of the text links or badges below. Simply copy the HTML code and paste it anywhere in your website's code that you want the badge to show up.</p>
    </div>
    <div class="span3">
        <img class="banner-img" src="../../img/gears-plain.png" alt="gears icon" />
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container wrap {{active}}">
    <div class="row">
        <div class="span4">
            <h2>InMotion</h2>
            <div class="raised island marg-bot">
                <div class="sunken snippet">
                    <a href="http://www.inmotionhosting.com" target="_blank"><img src="http://creatives.inmotionhosting.com/link-to-us/i_love_imh.gif" border="0" alt="I Love InMotion Hosting" width="131" height="34"/></a>
                </div>
                <pre id="selectme" onClick="fnSelect('selectme')">&lt;a href="http://www.inmotionhosting.com" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/link-to-us/i_love_imh.gif" border="0" alt="I Love InMotion Hosting" width="131" height="34"/&gt;&lt;/a&gt;</pre>
            </div>
            <div class="raised island marg-bot">
                <div class="sunken snippet">
                    <a href="http://www.inmotionhosting.com" target="_blank"><img src="http://creatives.inmotionhosting.com/link-to-us/powered_by_imh.gif" border="0" alt="Powered by InMotion Hosting" width="131" height="34"/></a>
                </div>
                <pre id="selectme2" onClick="fnSelect('selectme2')">&lt;a href="http://www.inmotionhosting.com" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/link-to-us/powered_by_imh.gif" border="0" alt="Powered by InMotion Hosting" width="131" height="34"/&gt;&lt;/a&gt;</pre>
            </div>
            <div class="raised island marg-bot">
                <div class="sunken snippet">
                    <a href="http://www.inmotionhosting.com" target="_blank"><img src="http://creatives.inmotionhosting.com/micro-badge-blk.gif" border="0" alt="Web Hosting by InMotion Hosting" width="110" height="15"></a>
                </div>
                <pre id="selectme3" onClick="fnSelect('selectme3')">&lt;a href="http://www.inmotionhosting.com" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/micro-badge-blk.gif" border="0" alt="Web Hosting by InMotion Hosting" width="110" height="15"&gt;&lt;/a&gt;</pre>
            </div>
            <div class="raised island marg-bot">
                <div class="sunken snippet">
                    <a href="http://www.inmotionhosting.com" target="_blank"><img src="http://creatives.inmotionhosting.com/micro-badge-2-wht.gif" border="0" alt="Web Hosting by InMotion Hosting" width="110" height="15"></a>
                </div>
                <pre id="selectme4" onClick="fnSelect('selectme4')">&lt;a href="http://www.inmotionhosting.com" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/micro-badge-2-wht.gif" border="0" alt="Web Hosting by InMotion Hosting" width="110" height="15"&gt;&lt;/a&gt;</pre>
            </div>
            <div class="raised island marg-bot">
                <div class="sunken snippet pad-t10">
                    <small>Powered By:</small><br/><a href="http://www.inmotionhosting.com" target="_blank"><img src="http://creatives.inmotionhosting.com/badge-150x40.gif" border="0" alt="Web Hosting by InMotion" width="150" height="40"></a>
                </div>
                <pre id="selectme5" onClick="fnSelect('selectme5')">&lt;small&gt;Powered By:&lt;/small&gt;&lt;br/&gt;&lt;a href="http://www.inmotionhosting.com" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/badge-150x40.gif" border="0" alt="Web Hosting by InMotion" width="150" height="40"&gt;&lt;/a&gt;</pre>
            </div>
            <div class="raised island marg-bot">
                <div class="sunken snippet pad-t10">
                    <small>Powered By:</small><br/><a href="http://www.inmotionhosting.com" target="_blank"><img src="http://creatives.inmotionhosting.com/badge-100x30.gif" border="0" alt="Web Hosting by InMotion Hosting" width="100" height="30"></a>
                </div>
                <pre id="selectme6" onClick="fnSelect('selectme6')">&lt;small&gt;Powered By:&lt;/small&gt;&lt;br/&gt;&lt;a href="http://www.inmotionhosting.com" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/badge-100x30.gif" border="0" alt="Web Hosting by InMotion Hosting" width="100" height="30"&gt;&lt;/a&gt;</pre>
            </div>
        </div>
        <div class="span4">
            <h2>Go Green</h2>
            <div class="raised island marg-bot">
                <div class="sunken snippet">
                    <div style="border: 1px solid #d8d8d8; background-color: #fff; color: #558904; font-size: 11px; width: 125px; height: 28px; padding: 2px; line-height: 14px; vertical-align: middle; margin: 0 auto;"><img src="http://creatives.inmotionhosting.com/green-hosting_outlet.gif" width="18" height="27" style="float: left; margin: 0px 7px 0 0;" alt="" />Green <a href="http://www.inmotionhosting.com" style="color: #558904;">Web Hosting</a> by InMotion Hosting</div>
                </div>
                <pre id="selectme7" onClick="fnSelect('selectme7')">&lt;div style="border: 1px solid #d8d8d8; background-color: #fff; color: #558904; font-size: 11px; width: 125px; height: 28px; padding: 2px; line-height: 14px; vertical-align: middle;"&gt;&lt;img src="http://creatives.inmotionhosting.com/green-hosting_outlet.gif" width="18" height="27" style="float: left; margin: 0px 7px 0 0;" alt="" /&gt;Green &lt;a href="http://www.inmotionhosting.com" style="color: #558904;"&gt;Web Hosting&lt;/a&gt; by InMotion Hosting&lt;/div&gt;</pre>
            </div>
            <div class="raised island marg-bot">
                <div class="sunken snippet">
                    <div style="border: 1px solid #d8d8d8; background-color: #fff; color: #558904; font-size: 11px; width: 125px; height: 28px; padding: 2px; line-height: 14px; vertical-align: middle; margin: 0 auto;"><img src="http://creatives.inmotionhosting.com/green-hosting_leaves.gif" width="27" height="20" style="float: left; margin: 4px 4px 0 0;" alt="" />Green <a href="http://www.inmotionhosting.com" style="color: #558904;">Web Hosting</a> by InMotion Hosting</div>
                </div>
                <pre id="selectme8" onClick="fnSelect('selectme8')">&lt;div style="border: 1px solid #d8d8d8; background-color: #fff; color: #558904; font-size: 11px; width: 125px; height: 28px; padding: 2px; line-height: 14px; vertical-align: middle;"&gt;&lt;img src="http://creatives.inmotionhosting.com/green-hosting_leaves.gif" width="27" height="20" style="float: left; margin: 4px 4px 0 0;" alt="" /&gt;Green &lt;a href="http://www.inmotionhosting.com" style="color: #558904;"&gt;Web Hosting&lt;/a&gt; by InMotion Hosting&lt;/div&gt;</pre>
            </div>
            <div class="raised island marg-bot">
                <div class="sunken snippet">
                    <div style="border: 1px solid #d8d8d8; background-color: #fff; color: #558904; font-size: 11px; width: 125px; height: 28px; padding: 2px; line-height: 14px; vertical-align: middle; margin: 0 auto;"><img src="http://creatives.inmotionhosting.com/green-hosting_leaf.gif" width="20" height="20" style="float: left; margin: 4px 7px 0 0;" alt="" />Green <a href="http://www.inmotionhosting.com" style="color: #558904;">Webhosting</a> by InMotion Hosting</div>
                </div>
                <pre id="selectme9" onClick="fnSelect('selectme9')">&lt;div style="border: 1px solid #d8d8d8; background-color: #fff; color: #558904; font-size: 11px; width: 125px; height: 28px; padding: 2px; line-height: 14px; vertical-align: middle;"&gt;&lt;img src="http://creatives.inmotionhosting.com/green-hosting_leaf.gif" width="20" height="20" style="float: left; margin: 4px 7px 0 0;" alt="" /&gt;Green &lt;a href="http://www.inmotionhosting.com" style="color: #558904;"&gt;Webhosting&lt;/a&gt; by InMotion Hosting&lt;/div&gt;</pre>
            </div>
            <div class="raised island marg-bot">
                <div class="sunken snippet pad-t10">
                    <small>Powered By:</small><br/><a href="http://www.inmotionhosting.com" target="_blank"><img src="http://creatives.inmotionhosting.com/green-hosting-button_sm.gif" border="0" alt="Web Hosting by InMotion" width="130" height="42"></a>
                </div>
                <pre id="selectme10" onClick="fnSelect('selectme10')">&lt;small&gt;Powered By:&lt;/small&gt;&lt;br/&gt;&lt;a href="http://www.inmotionhosting.com" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/green-hosting-button_sm.gif" border="0" alt="Web Hosting by InMotion" width="130" height="42"&gt;&lt;/a&gt;</pre>
            </div>
            <h2>Open Source</h2>
            <div class="raised island marg-bot">
                <div class="sunken snippet pad-t10">
                    <a href="http://www.inmotionhosting.com" target="_blank"><img src="http://creatives.inmotionhosting.com/link-to-us/100_percent_open_source.gif" alt="100% Open Source" width="131" height="34" border="0"/></a>
                </div>
                <pre id="selectme11" onClick="fnSelect('selectme11')">&lt;a href="http://www.inmotionhosting.com" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/link-to-us/100_percent_open_source.gif" alt="100% Open Source" width="131" height="34" border="0"/&gt;&lt;/a&gt;</pre>
            </div>
            <div class="raised island marg-bot">
                <div class="sunken snippet pad-t10">
                    <a href="http://www.inmotionhosting.com" target="_blank"><img src="http://creatives.inmotionhosting.com/link-to-us/powered_by_open_source.gif" alt="Powered by Open Source" width="131" height="34" border="0"/></a>
                </div>
                <pre id="selectme12" onClick="fnSelect('selectme12')">&lt;a href="http://www.inmotionhosting.com" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/link-to-us/powered_by_open_source.gif" alt="Powered by Open Source" width="131" height="34" border="0"/&gt;&lt;/a&gt;</pre>
            </div>
            <div class="raised island marg-bot">
                <div class="sunken snippet pad-t10">
                    <a href="http://www.inmotionhosting.com" target="_blank"><img src="http://creatives.inmotionhosting.com/link-to-us/powered_by_linux.gif" alt="Powered by Linux" width="131" height="34" border="0"/></a>
                </div>
                <pre id="selectme13" onClick="fnSelect('selectme13')">&lt;a href="http://www.inmotionhosting.com" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/link-to-us/powered_by_linux.gif" alt="Powered by Linux" width="131" height="34" border="0"/&gt;&lt;/a&gt;</pre>
            </div>
        </div>
        <div class="span4">
            <h2>Software</h2>
            <div class="raised island marg-bot">
                <div class="sunken snippet">
                    <a href="http://www.inmotionhosting.com/support/edu/wordpress" target="_blank"><img src="http://creatives.inmotionhosting.com/link-to-us/powered_by_wordpress.gif" alt="Powered by WordPress" width="131" height="34" border="0"/></a>
                </div>
                <pre id="selectme14" onClick="fnSelect('selectme14')">&lt;a href="http://www.inmotionhosting.com/support/edu/wordpress" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/link-to-us/powered_by_wordpress.gif" alt="Powered by WordPress" width="131" height="34" border="0"/&gt;&lt;/a&gt;</pre>
            </div>
            <div class="raised island marg-bot">
                <div class="sunken snippet">
                    <a href="http://www.inmotionhosting.com/support/edu/wordpress" target="_blank"><img src="http://creatives.inmotionhosting.com/link-to-us/i_love_wordpress.gif" alt="I Love WordPress" width="131" height="34" border="0"/></a>
                </div>
                <pre id="selectme15" onClick="fnSelect('selectme15')">&lt;a href="http://www.inmotionhosting.com/support/edu/wordpress" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/link-to-us/i_love_wordpress.gif" alt="I Love WordPress" width="131" height="34" border="0"/&gt;&lt;/a&gt;</pre>
            </div>
            <div class="raised island marg-bot">
                <div class="sunken snippet">
                    <a href="http://www.inmotionhosting.com/support/edu/drupal-7" target="_blank"><img src="http://creatives.inmotionhosting.com/link-to-us/proudly_built_with_drupal.gif" alt="Proudly Built with Drupal" width="131" height="34" border="0"/></a>
                </div>
                <pre id="selectme16" onClick="fnSelect('selectme16')">&lt;a href="http://www.inmotionhosting.com/support/edu/drupal-7" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/link-to-us/proudly_built_with_drupal.gif" alt="Proudly Built with Drupal" width="131" height="34" border="0"/&gt;&lt;/a&gt;</pre>
            </div>
            <div class="raised island marg-bot">
                <div class="sunken snippet">
                    <a href="http://www.inmotionhosting.com/support/edu/drupal-7" target="_blank"><img src="http://creatives.inmotionhosting.com/link-to-us/powered_by_drupal.gif" alt="Powered by Drupal" width="131" height="34" border="0"/></a>
                </div>
                <pre id="selectme17" onClick="fnSelect('selectme17')">&lt;a href="http://www.inmotionhosting.com/support/edu/drupal-7" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/link-to-us/powered_by_drupal.gif" alt="Powered by Drupal" width="131" height="34" border="0"/&gt;&lt;/a&gt;</pre>
            </div>
            <div class="raised island marg-bot">
                <div class="sunken snippet">
                    <a href="http://www.inmotionhosting.com/support/edu/joomla-25" target="_blank"><img src="http://creatives.inmotionhosting.com/link-to-us/powered_by_joomla.gif" alt="Powered by Joomla" width="131" height="34" border="0"/></a>
                </div>
                <pre id="selectme18" onClick="fnSelect('selectme18')">&lt;a href="http://www.inmotionhosting.com/support/edu/joomla-25" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/link-to-us/powered_by_joomla.gif" alt="Powered by Joomla" width="131" height="34" border="0"/&gt;&lt;/a&gt;</pre>
            </div>
            <div class="raised island marg-bot">
                <div class="sunken snippet">
                    <a href="http://www.inmotionhosting.com/support/edu/joomla-25" target="_blank"><img src="http://creatives.inmotionhosting.com/link-to-us/proudly_built_with_joomla.gif" alt="Proudly Built with Joomla" width="131" height="34" border="0"/></a>
                </div>
                <pre id="selectme19" onClick="fnSelect('selectme19')">&lt;a href="http://www.inmotionhosting.com/support/edu/joomla-25" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/link-to-us/proudly_built_with_joomla.gif" alt="Proudly Built with Joomla" width="131" height="34" border="0"/&gt;&lt;/a&gt;</pre>
            </div>
            <div class="raised island marg-bot">
                <div class="sunken snippet">
                    <a href="http://www.inmotionhosting.com/support/edu/opencart" target="_blank"><img src="http://creatives.inmotionhosting.com/link-to-us/powered_by_opencart.gif" alt="Powered by OpenCart" width="131" height="34" border="0"/></a>
                </div>
                <pre id="selectme20" onClick="fnSelect('selectme20')">&lt;a href="http://www.inmotionhosting.com/support/edu/opencart" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/link-to-us/powered_by_opencart.gif" alt="Powered by OpenCart" width="131" height="34" border="0"/&gt;&lt;/a&gt;</pre>
            </div>
            <div class="raised island marg-bot">
                <div class="sunken snippet">
                    <a href="http://www.inmotionhosting.com/support/edu/prestashop-15" target="_blank"><img src="http://creatives.inmotionhosting.com/link-to-us/powered_by_prestashop.gif" alt="Powered by PrestaShop" width="131" height="34" border="0"/></a>
                </div>
                <pre id="selectme21" onClick="fnSelect('selectme21')">&lt;a href="http://www.inmotionhosting.com/support/edu/prestashop-15" target="_blank"&gt;&lt;img src="http://creatives.inmotionhosting.com/link-to-us/powered_by_prestashop.gif" alt="Powered by PrestaShop" width="131" height="34" border="0"/&gt;&lt;/a&gt;</pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}