{% extends 'layout.html.twig' %}
{% set active = 'green-dedi' %}

{# title #}
{% block title %}{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# intro #}
{% block intro %}
    {% block opening %}
    {% endblock %}

{% endblock %}

{# content #}
{% block content %}
    <div class="wrap">
        <div class="container">

            {% block left_column %}
            {% endblock %}

            <div class="span3 offset1-longtail">
                <div class="sales-longtail-right-column">
                    <h3>Dedicated Servers</h3>
                    <p>Starting at<br />$xxx.xx/month!</p>
                    <a href="#" class="btn btn-primary">ORDER NOW</a>
                    <hr class="recommended-hosting" />
                    <h4>QUESTIONS?</h4>
                    <p><a href="#">Live Chat</a> with our Sales<br />team of call 888-321-HOST.</p>
                </div>
                <div class="sales-longtail-right-column">
                    <img src="{{ app.request.basepath }}/img/sales-page-recommended-hosting-awards.gif">
                </div>
            </div>
            <!--  end span3 (right column)  -->

        </div>
        <!--  end container  -->

    </div>
    <!--  end wrap  -->
{% endblock %}
