{% extends 'layout.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# intro #}
{% block intro %}
    {% block opening %}
    {% endblock %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="container">
    {% block container %}
        {% block left_column %}
        {% endblock %}

    {% endblock %}
    </div>
</div>

{% endblock %}
