{% extends 'layout.html.twig' %}
{% set active = 'domains' %}

{% block intro %}
{% endblock %}

{# title #}
{% block title %}{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Long Tail (template</h1>
    </div>
    <div class="span3">
        stuff
    </div>
{% endblock %}

{% block content %}

    <h1>Longtail</h1>

{% endblock %}
