{% extends 'layout.html.twig' %}
{% set active = 'partners_and_awards' %}

{# title #}
{% block title %}{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# intro #}
{% block intro %}
<div class="row">
    <div class="span9">
        <h1>Partners and Awards</h1>
    </div>
    <div class="span3">
        <img alt="gears" class="banner-img" src="../../img/gears-plain.png" />
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="wrap-emp partners">
        <h2>Our Trusted Partners</h2>
        <p>At InMotion Hosting, we work with many brands you already know and trust to keep your web hosting reliable, state of the art and a great value.</p>
        <ul>
            <li><img src="../../img/partners/google.jpg" alt="google" /></li>
            <li><img src="../../img/partners/yahoo.jpg" alt="yahoo" /></li>
            <li><img src="../../img/partners/bing.jpg" alt="bing" /></li>
            <li><img src="../../img/partners/dell.jpg" alt="dell" /></li>
            <li><img src="../../img/partners/intel.jpg" alt="intel" /></li>
            <li><img src="../../img/partners/cisco.jpg" alt="cisco" /></li>
            <li><img src="../../img/partners/cpanel.jpg" alt="cpanel" /></li>
            <li><img src="../../img/partners/centos.jpg" alt="centos" /></li>
            <li><img src="../../img/partners/mzima.jpg" alt="mzima" /></li>
            <li><img src="../../img/partners/cox.jpg" alt="cox" /></li>
            <li><img src="../../img/partners/level3.jpg" alt="level3" /></li>
        </ul>
    </div>
    <div class="jutwrap3 awards">
        <h2>Our Awards</h2><br />
            <span><a href="http://www.bestwebhostsearch.com/category/dedicated-web-hosting/" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_best-dedicated-2012-bestwebhostsearch.png" width="140" height="143" border="0" alt="Best Dedicated Server Host 2012 - BestWebHostSearch.com" /></a></span>

            <span><a href="http://www.top-10-web-hosting.com/inmotion-hosting-webmaster-review.php" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_top10webhosting_dedicated_2012.png" width="175" height="124" border="0" alt="Top 10 Web Hosting Award - Best Dedicated Host - 2012" /></a></span>

            <span><a href="http://www.webhostingclue.com/best-small-business-hosting" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_business-hosting_2012-webhostingclue.png" border="0" width="125" height="125" alt="Business Hosting Award 2012 - WebHostingClue.com" /></a></span>

            <span><a href="http://www.top-10-web-hosting.com/inmotion-hosting-webmaster-review.php" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_top10webhosting_2012.gif" width="175" height="124" border="0" alt="Top 10 Web Hosting Award - Best Business Host - 2012" /></a></span>

            <span><a href="http://web-hosting.topfiveawards.com/" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_diamond_topfivewards.png" border="0" width="96" height="150" alt="Diamond Award 2012 - TopFiveAwards.com" /></a></span>

            <span><a href="http://www.wpbeginner.com/hosting/inmotion-hosting/" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_wp-beginner-2012-best-business.png" border="0" width="150" height="124" alt="WP Beginner - Best Business Host 2012" /></a></span>

            <span><a href="http://www.webhostingclue.com/best-vps-web-hosting" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_vps-hosting_2012-webhostingclue.png" border="0" width="125" height="125" alt="VPS Hosting Award 2012 - WebHostingClue.com" /></a></span>

            <span><a href="http://www.thewebhostinghero.com/inmotion-review.html" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_best-web-host-2012-webhostinghero.png" width="135" height="118" border="0" alt="Best Web Hosting 2012 - webhostinghero.com" /></a></span>

            <span><a href="http://www.webmasterscafe.com/inmotion-hosting-reviews/" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_best-wordpress-hosting-2012-webmasterscafe.png" width="160" height="142" border="0" alt="Best Wordpress Hosting 2012 - webmasterscafe.com" /></a></span>

            <span><a href="http://besthostingsearch.com/user-reviews/inmotion-hosting/" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_best-website-hosting-2012-besthostingsearch.png" width="160" height="113" border="0" alt="" /></a></span>


            <span><a href="http://www.top-10-web-hosting.com/inmotion-hosting-webmaster-review.php" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_top10webhosting_2011.gif" width="175" height="121" border="0" alt="Top 10 Web Hosting Award - 2011" /></a></span>

            <span><img src="http://img01.inmotionhosting.com/_img/da-organisation-120.png" width="120" height="120" border="0" alt="Drupal Association - Organisation Member" /></span>

            <span><a href="http://www.bestwebhostsearch.com/category/best-web-hosting/" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_best-overall-2012-bestwebhostsearch.png" width="140" height="142" border="0" alt="Best Overall Host 2012 - BestWebHostSearch.com" /></a></span>

            <span><a href="http://www.hostucan.com/company/inmotionhosting" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_accredited_hostucan.png" width="150" height="112" border="0" alt="Accredited by HostUcan.com" /></a></span>

            <span><a href="http://www.hostingsthatsuck.com/inmotion-sucks/" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_does-not-suck-hostingsthatsuck.png" width="130" height="124" border="0" alt="InMotion Hosting does not suck - hostingsthatsuck.com" /></a></span>

            <span><a href="http://webhostingtop.org/best-business-hosting" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_best-business-hosting-webhostingtop.png" width="125" height="122" border="0" alt="Best Business Hosting - webhostingtop.com" /></a></span>

            <span><a href="http://www.bestwebhostingproviders.net/web-hosting-reviews/inmotion-review" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_best-business-host-bestwebhostingproviders.png" width="160" height="137" border="0" alt="Best Business Host - bestwebhostingproviders.net" /></a></span>

            <span><a href="http://www.webhostingreviewsrus.com/inmotion-hosting-review/" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_top-ten-finalist-2012-webhositngreviewsrus.png" width="87" height="160" border="0" alt="Top 10 Finalist - webhositngreviewsrus.com" /></a></span>

            <script type="text/javascript">var companyID = '27';</script> <script src="http://guruscore.co/jq.guruscoreV2.js" type="text/javascript"></script> <span style="width: 130px; padding-left: 60px; margin-right: 45px;"><div title="Read Reviews" id="RankBudge"> <div id="InsideRankBadge1"> <span class="replaceMe" style="float:none; width: auto; height: auto; display: inline;"></span><span style="font-size: 20px; color: #fff; float:none; width: auto; height: auto; display:inline;">%</span>

            <div  id="InsideRankBadge2"> <a id="mylink" href=" http://hosting.reviewsgurus.com/reviews/inmotion-27.aspx" title=" InMotion Reviews"> InMotion Review</a> </div> </div> </div></span>

            <span><a href="http://www.bestwebhostsearch.com/category/vps-web-hosting/" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_best-vps-2012-bestwebhostsearch.png" width="140" border="0" height="144" alt="Best VPS Host 2012 - BestWebHostSearch.com" /></a></span>

            <span><a href="http://www.webhostingclue.com/web-hosting-review/inmotion" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_top-10-hosting-webhostingclue.gif" width="125" border="0" height="125" alt="Top 10 Hosting Award 2011 - WebHostingClue.com" /></a></span>

            <span><a href="http://www.bighosts.com/inmotion-review.php" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_top-business-host-bighosts.png" width="200" border="0" height="67" alt="Top Business Host - bighosts.com" style="margin-top: 30px;" /></a></span>

            <span><a href="http://www.100webhosting.com/inmotion-hosting-best-business-class-web-hosting/" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_best-business-hosting-100webhosting.gif" border="0" width="180" height="136" alt="Best Business Hosting - 100WebHosting.com" /></a></span>

            <span><a href="http://www.webhostingsearch.com/articles/web-hosting-code-of-conduct.php" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_code-conduct-webhostingsearch.png" border="0" width="130" height="105" alt="Comply with Webhosting Search Code of Conduct" /></a></span>

            <span><a href="http://webhostingrating.com/companies/inmotion/" target="_blank"><img src="http://webhostingrating.com/widget.php?type=1&c=inmotion" alt="Web Hosting Rating" border="0"/></a><br /><a style="font-size:10px; color: darkgrey; text-decoration:none;" href="http://webhostingrating.com/" target="_blank">Web Hosting Rating</a></span>

            <span><a href="http://bestwebsitehostingservices.org/" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_best-dedicated-bestwebsitehostingservices.png" alt="Best Dedicated Hosting - bestwebsitehostingservices.org" border="0" width="104" height="160" /></a></span>

            <span><a href="http://www.top-cheap-web-hosting.com/web-hosting-guide/best-business-hosting-award-2011" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_best-business-hosting-2011-topcheapwebhosting.png" width="131" border="0" height="130" alt="Best Business Hosting Award 2011 - top-cheap-web-hosting.com" /></a></span>

            <span><a href="http://www.hostucan.com/company/inmotionhosting" target="_blank"><img src="http://www.hostucan.com/sites/default/files/awards/2011/6/best-business-hosting.png" width="125" border="0" height="125" alt="HostUCan Hosting  Award - Best Business Hosting - June 2011" /></a></span>

            <span><a href="http://bestwebhostingsreviews.com/best-small-business-hosting" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_bestwebhostingsreviews.gif" border="0" width="143" height="143" alt="Best Small Business Host - BestWebHostingsReviews.com" /></a></span>

            <span><a href="http://www.webhostingmasters.com/best-business-hosting/" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_best-business-hosting-webhostingmasters.png" border="0" width="127" height="127" alt="Best Business Hosting - WebHostingMasters.com" /></a></span>

            <span><a href="http://www.webhostingdeals.org/inmotion-hosting-review" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_best-cpanel-hosting-webhostingdeals.png" border="0" width="140" height="149" alt="Best cPanel Hosting - WebHostingDeals.org" /></a></span>

            <span><a href="http://www.webhost4lifereview.com/inmotion-hosting-reviews/" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_best-business-hosting-webhost4lifereview.gif" border="0" width="140" height="128" alt="Best Business Hosting - WebHost4LifeReview.com" /></a></span>

            <span><a href="http://www.webhostingclue.com/web-hosting-review/inmotion" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_vps-hosting-webhostingclue.gif" border="0" width="125" height="125" alt="VPS Hosting Award 2011 - WebHostingClue.com" /></a></span>

            <span><a href="http://www.webhostingmasters.com/best-vps-hosting/" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_best-vps-hosting-webhostingmasters.png" border="0" width="127" height="127" alt="Best VPS Hosting - WebHostingMasters.com" /></a></span>

            <span><a href="http://www.websitehosting.com/inmotion-hosting-review/" target="_blank" style="text-decoration: none; color: darkgrey; font-size:10px;">InMotion Hosting Review<br /><img src="http://img01.inmotionhosting.com/_img/award_business-hosting-websitehosting.gif" width="120" height="120" border="0" alt="WebSiteHosting.com - Best Business Hosting" /></a></span>

            <span><a href="http://www.castironhostingreview.com/inmotion-review.html" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_best-business-hosting-cast-iron-hosting.png" width="128" height="128" border="0" alt="Cast-Iron Hosting - Best Business Hosting" /></a></span>

            <span><a href="http://www.webhostranking.com/reviews/inmotionhosting-review/" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_whr-best-business-hosting.png" width="160" height="127" border="0" alt="Web Host Ranking - Best Business Hosting" /></a></span>

            <span><a href="http://www.castironhostingreview.com/inmotion-review.html" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_best-vps-hosting-cast-iron-hosting.png" width="128" height="128" border="0" alt="Cast-Iron Hosting - Best VPS Hosting" /></a></span>

            <span><a href="http://www.webhosting-top10.com/inmotion-review.html" target="_blank"><img src="http://img01.inmotionhosting.com/_img/award_best-business-hosting-webhostingtop10.png" width="130" height="143" border="0" alt="Webhosting-top10.com - Best Business Web Hosting 2011" /></a></span>

            <span><a href="http://www.upperhost.com/inmotion_web_hosting_review.htm" target="_blank"><img src="http://img01.inmotionhosting.com/_img/inmotionhosting-upperhost.jpg" width="160" height="160" border="0" alt="UpperHost - Most Recommended Web Hosting Company" /></a></span>

            <span><a href="http://www.webhostingsearch.com/hosting-awards/best-support-december-2009.php" target="_blank"><img src="http://img01.inmotionhosting.com/_img/best-support.png" width="98" height="132" border="0" alt="Web Hosting Award - Best Support 2009" /></a></span>

            <span><img src="http://img01.inmotionhosting.com/_img/best-dedicated-hosting.png" style="margin-top: -20px;" border="0" alt="InMotionHosting Reviews - WebHostingGeeks.com 2009" /></a></span>

            <span><img src="http://img01.inmotionhosting.com/_img/award_top10webhosting_2010.gif" width="175" height="124" border="0" alt="Top 10 Web Hosting Award - 2010" /></span>

            <span><a href="http://www.hostseeq.com/c/dedicated_servers.htm" target="_blank"><img src="http://img01.inmotionhosting.com/_img/best-dedicated-servers-award-hostseeq.png" border="0" width="175" height="175" alt="Dedicated Servers - HostSeeq Award 2009" /></a></span>

            <span><a href="http://www.hosting-review.com/hosting-directory/editors_review/inmotion-vps" target="_blank"><img src="http://img01.inmotionhosting.com/_img/editors-pick-hosting-review.gif" width="120" height="90" border="0" alt="Best Web Hosting" /></a></span>

            <span><a href="http://www.alreadyhosting.com/reviews/inmotion-hosting-review.php" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/top-web-hosting-2009.jpg" width="153" height="128" border="0" alt="Top Web Hosting Award - AlreadyHosting.com 2009" /></a></span>

            <span><a href="http://www.top-10-web-hosting.com/inmotion-hosting-webmaster-review.php" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_top10webhosting_2009.gif" width="175" height="124" border="0" alt="Top 10 Web Hosting Award" /></a></span>

            <span><a href="http://www.findbestwebhosting.com/ResearchHostingCompany.aspx/InMotion-Hosting-Inc/316" target="_blank" rel="nofollow" onClick="javascript:urchinTracker('/awards/findbestwebhosting.html');"><img src="http://img01.inmotionhosting.com/_img/fbwh-award-inmotion-hosting.gif" border="0" alt="Best VPS Hosting Award"></a></span>

            <span><img src="http://www.web-hosting-top.com/images/award-web-hosting-top-2009.gif" width="120" height="144" border="0" usemap="#webhostingtop1" alt=""/><map name="webhostingtop1" id="webhostingtop1"><area shape="rect" coords="0,0,120,10" href="http://www.web-hosting-top.com/" alt="Web Hosting Reviews" target="_blank" /><area shape="rect" coords="0,10,120,144" href="http://www.web-hosting-top.com/web-hosting/web-hosting-top.inmotionhosting.com-reviews" alt="InMotionHosting review" target="_blank"/></map></span>

            <span><a href="http://www.webhostingsearch.com/review/inmotion.php#reviews-review-Business-Launch" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/whs-business-hosting-2008.gif" width="100" height="142" border="0" alt="Best Business Hosting 2008 Award" /></a></span>

            <span><a href="http://www.thewebhostinghero.com" target="_blank"><img src="http://img01.inmotionhosting.com/_img/web-hosting-hero-best-business-host-2008.jpg" border="0" width="150" height="124" alt="Best Business Web Hosting Award" /></a></span>

            <span><a href="http://www.webhostingbreak.com/inmotion/" target="_blank"><img src="http://img01.inmotionhosting.com/_img/web-hosting-break-most-reliable.jpg" width="135" height="99" border="0" alt="Most Reliable Web Hosting Award" /></a></span>

            <span><a href="http://www.findmyhost.com/reviews/inmotion-hosting.aspx" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/findmyhost.gif" width="88" height="101" border="0" alt="FindMyHost Approved Host Award" /></a></span>

            <span><img src="http://img01.inmotionhosting.com/_img/award_top10webhosting_2008.gif" width="175" height="124" border="0" alt="Top 10 Web Hosting Award"/></span>

            <span><img src="http://img01.inmotionhosting.com/_img/awards_hostaz_goldaward.gif" width="125" height="125" border="0" alt="HostAZ Best Business Web Hosting Award" /></span>

            <span><img src="http://img01.inmotionhosting.com/_img/awards_business-hosting-2007.jpg" width="101" height="141" border="0" alt="Best Business Hosting 2007 Award" /></span>

            <span><img src="http://img01.inmotionhosting.com/_img/award_top10webhosting_2007.gif" width="175" height="124" border="0" alt="Top 10 Web Hosting Best Business Host Award" /></span>

            <span><a href="http://top10hostinglist.com/reviews/inmotionhosting.html" target="_blank" rel="nofollow"><img src="http://img01.inmotionhosting.com/_img/award_top10hostinglist.gif" width="125" height="95" border="0" alt="Top10HostingList Award" /></a></span>

            <span><img src="http://img01.inmotionhosting.com/_img/awards_top10award_nov2006.gif" width="79" height="136" border="0" alt="Best VPS Hosting Award" /></span>

            <span><img src="http://img01.inmotionhosting.com/_img/awards_top10award_oct2006.gif" width="79" height="136" border="0" alt="Best Dedicated Servers Award" /></span>

            <span><img src="http://img01.inmotionhosting.com/_img/awards_top10award_jan2006.gif" width="79" height="136" border="0" alt="Host Review Best Dedicated Servers Award" /></span>

            <span><img src="http://img01.inmotionhosting.com/_img/awards_top10award_oct2005.gif" width="79" height="136" border="0" alt="Host Review Dedicated Server" /></span>

            <span><img src="http://img01.inmotionhosting.com/_img/awards_05_awards_Hosting-Review-Unix_Linux.jpg" width="120" height="160" border="0" alt="Hosting-Review Best Linux Web Hosting 2005" /></span> 

            <span><img src="http://img01.inmotionhosting.com/_img/awards_03_100best.gif" width="125" height="102" border="0" alt="100Best.com Customer Service Award" /></span>
    </div>
</div>
{% endblock %}