{% extends 'layout.html.twig' %}
{% set active = 'testimonials' %}

{# title #}
{% block title %}{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# intro #}
{% block intro %}
<div class="row">
    <div class="span9">
        <h1>Testimonials</h1>
    </div>
    <div class="span3">
        <img alt="gears" class="banner-img" src="../../img/gears-plain.png" />
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container wrap">
    <div class="span2 pull-right"><img src="../../img/icon-talk-bubble.png" alt="chat bubble" /></div>
    <div class="span9">
    <p><b>Important Note</b>: Please remember that these customers have volunteered to be listed here - if you contact them directly please remember they are volunteers and you should contact our tech support team here for in depth questions! Thank You!</p>
    </div>
</div>
<div class="container">
    <div class="domain-quadrants row">
        <div class="span6">
            <div class="raised island marg-bot">
                <blockquote class="quoted">When I started looking for a new webhosting provider, my first concern was finding a company that answers their phones 24/7, 365 days per year. Well, I haven't called on Christmas morning, but every time I do call InMotion Hosting, I easily get connected in a timely manner to a very helpful staff member.I've been with this company for several years, and I highly recommend them. Whether it's for simple web hosting or VPS hosting or even needing a dedicated server, there is no better company out there, in my opinion, then InMotion Hosting.</blockquote>
                 <span class="quotename">Jonathan Fleck</span>
                 <span class="quotefrom">Los Angeles, CA</span>
                 <p><a href="http://www.a-1courier.com">www.a-1courier.com</a></p>
            </div>

            <div class="raised island marg-bot">
                 <blockquote class="quoted">InMotion has given my growing company the reliability, flexibility and consistency that I have been looking for. Their customer service and technical support have always been fast and efficient. I have never waited on hold and have always had my requests handled promptly and professionally. I wish all my vendors were as effective as InMotion.</blockquote>
                 <span class="quotename">Ajay Narain</span>
                 <span class="quotefrom">Sunnyvale, CA</span>
                 <p><a href="http://www.maxonic.com/">www.maxonic.com/</a></p>
            </div>

            <div class="raised island marg-bot">
                 <blockquote class="quoted">I just wanted to let you are your company know how satisfied I am with the service Inmotion Hosting has been providing. I have a VPS account (DVDYourMemories.com) and your service has kept my site up longer than either of my two previous hosting companies (Lunarpages and OLM). I know this because I have an uptime tracker installed which alerts me when the site is down. What's more, when I do need some technical support, the technicians pick up in less than one minute. This is unheard of with most hosting companies! With Lunarpages and OLM I would average about 10 minutes before someone would actually answer the phone. Add that to the fact that the technicians actually spoke English and knew what they were talking about. I hope you realize what a tremendous thing you've got going on here. I'll be continuing to use your service in the future and have already referred many other business owners over to InMotion Hosting.</blockquote>
                 <span class="quotename">Chuck Temple</span>
                 <span class="quotefrom">San Diego, CA</span>
                 <p><a href="http://www.dvdyourmemories.com/">www.dvdyourmemories.com</a></p>
            </div>

            <div class="raised island marg-bot">
                 <blockquote class="quoted">Dear InMotion Hosting: I want to thank you for delivering such a reliable and high performance hosting service. The software I require is available and easy to install. You provide much more capacity than I use. Your support is excellent, vastly superior to my previous host. Your support engineers are easy to understand, understand me instantly and always have the answer. Please pass along my appreciation. Anybody who is looking for quality and value need look no further.</blockquote>
                 <span class="quotename">Carl Wohlforth</span>
                 <span class="quotefrom">San Jose, CA</span>
                 <p><a href="http://www.carlscoins.com/forum/">www.carlscoins.com</a></p>
            </div>

            <div class="raised island marg-bot">
                 <blockquote class="quoted">As a busy developer and site administrator, I know how difficult it is to find a reliable, consistent and accessible hosting company. I have many sites on inmotionhosting.com servers; everything from their budget plans to dedicated servers. They all run quickly and with no downtime. I recommend them, though, because of their service. It's as good as the top-tier dedicated providers, at a fraction of the cost, and with great performance. I've dealt with all of them, and can say that inmotionhosting.com is unique in it's ability to provide world class performance, technical support and service at a modest price.</blockquote>
                 <span class="quotename">Jason Larson</span>
                 <span class="quotefrom">Bellingham, WA</span>
                 <p><a href="http://www.binarydesigninc.com/">www.binarydesigninc.com</a></p>
            </div>

            <div class="raised island marg-bot">
                 <blockquote class="quoted">To the Staff of InMotion Hosting, I felt the need to write you and let you all know what an outstanding job all of you have done. Since I switched to InMotion hosting a few years ago, I have not once regretted it. In fact it has been one of the best choices I have made, not only for myself, but my clients as well. I have been a web designer for many years with quite a few clients. The problem I kept running into was below average customer service with other hosting companies. That all changed the day I switched to InMotion Hosting. InMotion Hosting puts their clients first and provides superior hosting plans, superior products, and superior customer service at some of the best rates on the web today. You are always working on ways to improve service and offering your customers the very best hosting service on the web today. Other hosting companies only talk about great customer service while InMotion hosting provides it. Anytime I have had questions or issues, you have always been there night or day to help me and my clients out. As a result you make me look good and my clients feel secure. That is priceless to me. Keep up the Awesome Job Everyone!</blockquote>
                 <span class="quotename">Royce Bishop</span>
                 <span class="quotefrom">Irving, TX</span>
                 <p><a href="http://www.cubedcreations.com/">www.cubedcreations.com</a></p>
            </div>

            <div class="raised island marg-bot">
                 <blockquote class="quoted">Before I found InMotion Hosting I was paying my ISP 3 times as much money for less disk space and bandwidth. With InMotion, I not only get more for my hard earned dollars, I actually am able to talk to a live support technician on the phone, instead of being on hold for what seems like an eternity. I also opted for the pro plan and I'm able to host all of my websites on one account.</blockquote>
                 <span class="quotename">Brian Wetsch</span>
                 <span class="quotefrom">Burbank, CA</span>
                 <p><a href="http://www.brianwetsch.com/">www.brianwetsch.com</a></p>
            </div>
        </div>

        <div class="span6 pull-right">
            <div class="raised island marg-bot">
                 <blockquote class="quoted">I signed up with a major hosting company. Two days after I started my service with this other company, I became very un-happy with their customer service. I was tricked into thinking my plan came with all these special features, which turns out in the end, I would have to pay $5 extra for each feature a month. I spoke with several different companies after that, including InMotion. I was able to get fast responses, incredible help and support. Not to mention, a plan that included all the special features I need and all the same features that were in "others" plans, for less money. I cancelled my other hosting plan on the spot. InMotion's customer service and tech help are very friendly and timely, realizing the importance of my website to me. Their servers are fast and reliable. I have never had any problems. Being that I'm not a web guru, its helpful to talk to someone who can help me, and not make me feel like a moron for not knowing how to do something. I recommend InMotion Hosting to everyone. You can't beat it! Thanks!</blockquote>
                 <span class="quotename">Todd Fullford</span>
                 <span class="quotefrom">Nashville, TN</span>
            </div>

            <div class="raised island marg-bot">
                 <blockquote class="quoted">I just wanted to let you know how absolutely pleased I am with InMotion. You're always up, your support is excellent and I have NEVER had a problem with uptime or connections. Not to mention that your rates are very reasonable. By the way, congrats on opening the new support center. Recently, I had a friend of mine tell me that his hosting service was down for over 24 hours.. I recommended InMotion. I am also recommending InMotion to my local bowling association for hosting their web site.</blockquote>
                 <span class="quotename">Tim Sawyer</span>
                 <span class="quotefrom">Merrimack, NH</span>
            </div>

            <div class="raised island marg-bot">
                 <blockquote class="quoted">This is a note on the positive side of your quality focus. I wanted to take a moment to thank you for the excellent technical help I received recently related to "forms" on my domain deadernest.com. Adam, who assisted me, was very professional and effective in his work and helpful in his attitude. I appreciated it very much. He's another reason I'm happy for having signed up (In February) for InMotion Hosting. As I have the opportunity, I'll be eager to spread the good word about your organization. Thanks again.</blockquote>
                 <span class="quotename">Richard Goers</span>
                 <span class="quotefrom">Berkley, MI</span>
            </div>

            <div class="raised island marg-bot">
                 <blockquote class="quoted">We at Environmental Pest Management, Inc. wanted to extend our thanks to you for providing us with an excellent solution for hosting our website. We have been working hard to get on the web and building our website. There are a few cosmetic things on our site that need to be taken care of, but everything went very smoothly. We were impressed with your support, tutorials, FAQ's, and the availability of information. Publishing our site was incredibly easy and loaded without any problems. Thank you so much for making this easy, and we are very happy that we chose InMotion Hosting. We look forward to being with you well into the future. Thank you again.</blockquote>
                 <span class="quotename">Jeff Rice</span>
                 <span class="quotefrom">Indiana, PA</span>
            </div>

            <div class="raised island marg-bot">
                 <blockquote class="quoted">I am writing to let you know that I am extremely happy with the service that I have from InMotion Hosting. When I published my first website, I was intimidated by the whole process. The support that I received made me feel comfortable, and gave me the confidence to get up and running. The tech support response time is always quick and accurate. I will be adding 2 new websites which are currently in development. It's nice to know that you can still get good service and outstanding tech support, without the "downtime" that other web-hosting companies experience. Tech support has also been very helpful in helping me setup my account info in a quick, responsive manner. I opted for the "Premium Support" - and the extra programming help has been AWESOME! I will continue to recommend InMotion Hosting for webhosting services. Thanks alot!</blockquote>
                 <span class="quotename">Erik</span>
                 <span class="quotefrom">San Diego, CA</span>
                 <p><a href="http://www.myworldadventure.com/">www.myworldadventure.com</a></p>
            </div>

            <div class="raised island marg-bot">
                 <blockquote class="quoted">What can I say every issue that I have ever had has been resolved within 24hrs. I have never experienced such professional customer support in my life for anything! You guys are truly amazing and are experts when it comes to everything web. We have a dedicated server and I have a separate shared hosting plan for my test server. The support is flawless no matter how many times I call. Even if I think it is a dumb question that a Web Admin like myself should know they still answer it, and if they can't they don't just say they can't, they work with me to find the answer or where I can find it. Thank you for being awesome!</blockquote>
                 <span class="quotename">Ralph Theart, </span>
                 <span class="quotefrom">WebAdmin</span>
                 <p><a href="http://www.greaterkingdom.com/">www.greaterkingdom.com</a></p>
            </div>

            <div class="raised island marg-bot">
                 <blockquote class="quoted">Absolutely amazing. Technical support is fast and responsive. Nearly ZERO down time. I just wanted to thank the technical support staff at inmotionhosting.com for making my visitors and myself welcome. I've used many other hosting companies only to be let down by hidden charges, unresponsive technical support and the like. I don't have to worry about minor details with this company. Keep up the Awesome Job Everyone!</blockquote>
                 <span class="quotename">Nick Patel</span>
                 <span class="quotefrom">Merced, CA</span>
                 <p><a href="http://www.rebelalliance.ws/">www.rebelalliance.ws</a></p>
            </div>

            <div class="raised island marg-bot">
                 <blockquote class="quoted">My website is my primary source of income, so uptime and reliability is my most important criteria. I came across InMotion Hosting and I have been able to find not only that, but a lot more. Living in India, I rely on email support. I've been able to contact the support department with my questions, and I get a very fast response. It's good to see a hosting company that is following good service principles. Keep doing what you guys are doing, and thanks for helping me establish my place on the internet.</blockquote>
                 <span class="quotename">Sameer Narain</span>
                 <span class="quotefrom">New Delhi, India</span>
            </div>

    </div>
</div>
{% endblock %}