{% extends 'layout.html.twig' %}
{% set active = 'webbuilder' %}

{# title #}
{% block title %}Premium Web Site Builder{% endblock %}

{# keywords #}
{% block keywords %}premium website builder, vps hosting, web hosting, dedicated server, inmotion hosting, inmotion, virtual private server, cpanel hosting{% endblock %}

{# description #}
{% block description %}Premium website builder free on all business class web hosting packages! Build a website for your business the quick and easy way.{% endblock %}

{# intro #}
{% block intro %}
<div class="row">
    <div class="span9">
        <h1>Premium Web Builder</h1>
    </div>
    <div class="span3">
        <img class="banner-img" src="../../img/gears-plain.png" alt="gears" />
        <a href="http://andrewn.imh.imhlabs.net/new_inor/choose_package.php?force_version=b" class="btn btn-primary">Get Started Today</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container wrap {{active}}">
    <div class="row">
        <div class="span3">
            <div class="well"><img src="../../img/webbuilder-1.gif" alt="site example 1" /></div>
            <div class="well"><img src="../../img/webbuilder-2.gif" alt="site example 2" /></div>
            <div class="well"><img src="../../img/webbuilder-3.gif" alt="site example 3" /></div>
            <div class="centercta"><a href="http://andrewn.imh.imhlabs.net/new_inor/choose_package.php?force_version=b" class="btn btn-primary">Get Started Now</a></div>
        </div>
        <div class="span4 addgutter">
            <h2>1. 2. Publish!</h2>
            <p>Using InMotion Hosting's premium web builder is the easiest way to get your site online. Simply choose a theme, edit your site's content then publish it for the world to see.InMotion Hosting's premium web builder offers one of the easiest ways to create and publish a full featured, great looking website.
            <h2>Over 500+ Themes</h2>
            <p>Choose from over 500+ industry specific themes, each with customizable color schemes, header graphics and logos. Some categories include:</p>
            <h2>Flash Intros</h2>
            <p>Upload your custom Flash intro or use our builder to easily create one from the provided templates. Customize your message, color &amp; animation with only a few clicks!</p>
            <h2>Functionality</h2>
            <p>Use InMotion Hosting’s premium builder to create a web site, blog, message board or photo gallery all from one location. No need to continue using multiple companies to do each. Our premium builder allows you to easily add a blog, photo gallery, message board, or guestbook to your site. You also have the ability to require users to register for your site, capturing vital user data. While many of these features can be found as stand-alone services elsewhere, with our builder you can create and manage all these features from a single location.</p>
            <h2>Easy as 1-2-3</h2>
            <ul>
                <li><strong>Choose a theme</strong>: Choose one of our over 500+ industry specific themes. You can then choose to customize the color scheme, header graphic, upload your own logo, create a flash intro &amp; add or remove pages.</li>
                <li><strong>Add your content</strong>: Using our What-You-See-Is-What-You-Get (WYSIWYG) website editor is as easy as using a word processor such as Microsoft™ Word® or OpenOffice™ WRITER®. Just add or paste your content and format your text using *our easy point-and-click interface.</li>
                <li><strong>Publish!</strong> Once you're happy with your site, simply publish it with a single click!</li>
            </ul>
        </div>
        <div class="span4 sunken well pull-right">
            <h2>Features</h2>
            <h4>Blog</h4><p>Create and edit your blog posts and categories at any time from anywhere.</p>
            <h4>Photo Gallery</h4><p>Easily upload and share your photos, create categories and add descriptions. Thumbnails of your photos are automatically created.</p>
            <h4>Message Board</h4><p>Create a message board so your users can communicate with each other or give you feedback. Message boards are also a great way to have your users help build website content that the search engines love!</p>
            <h4>Guestbook</h4><p>Create a guestbook so your visitors can easily leave you feedback or comments.</p>
            <h4>No Software to Buy</h4><p>With InMotion Hosting’s builder there's no need to purchase costly desktop applications to build your site. These applications retail for hundreds of dollars, your builder is included with your Business Class web hosting package for FREE.</p>
            <h4>Edit from Anywhere</h4><p>With our web builder you can create, edit or manage your web site from anywhere in the world, anytime you need.</p>
            <h4>EZ E-Commerce</h4><p>Power and Pro Hosting Plans allow you to easily add an ecommerce store to your site. Quickly upload and manage your products, shipping methods, payment gateways and more without having to create databases or install complicated scripts. Our premium web builder allows companies seeking an ecommerce solution to easily build an online store without the hassle of piecing together various scripts or software solutions. With our builder you can create product categories, upload product images, add descriptions and even track the orders you receive. Our premium builder also easily incorporates the leading payment processors such as PayPal, Authorize.Net and 2Checkout. *Ecommerce function is only available on Power and Pro Business Class Hosting plans.</p>
            <h4>Search Engine Friendly</h4><p>InMotion Hosting's builder allows you to create search engine friendly web sites ready to be found on Google, Yahoo &amp; More.</p>
            <a href="http://andrewn.imh.imhlabs.net/new_inor/choose_package.php?force_version=b" class="btn btn-primary">Get Started Now</a>
        </div>
    </div>
</div>
{% endblock %}