{% extends 'layout.html.twig' %}
{% set active = 'webdesign' %}

{# title #}
{% block title %}{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# intro #}
{% block intro %}
    <div class="span8">
        <h1>Web Design</h1>
        <p>Engage your customers. InMotion Hosting provides high-quality web design services in a wide range of customizable packages. Whether you are a small to medium business or you desire a robust eCommerce storefront, InMotion can get your business online in no time. Ask us about our Search Engine Optimization and Social Media options.</p>
    </div>
    <div class="span3 gears-top pull-right">
        <img src="../../img/cpu-webdesign.png" alt="computer graphic" />
        <div class="undercpu"><a href="#" class="btn btn-primary">Contact Us</a></div>
    </div>
{% endblock %}

{# content #}
{% block content %}
<div class="wrap pattern">
    <div class="container">
        <div class="row">
            <div class="span3">
                <h2>Design Gallery</h2>
                <ul class="nav gallery-list">
                    <li><a href="#">Auto</a></li>
                    <li><a href="#">Construction</a></li>
                    <li class="selected">Food &amp; Dining</li>
                    <li><a href="#">Health &amp; Beauty</a></li>
                    <li><a href="#">Hospitality &amp; Leisure</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Medical &amp; Dental</a></li>
                    <li><a href="#">Non-Profit</a></li>
                    <li><a href="#">Professional</a></li>
                    <li><a href="#">Real Estate</a></li>
                </ul>
            </div>
            <div class="span8 pull-right">
                <div class="well">
<!-- carousel starts -->
                    <div id="carousel" class="carousel slide">
                      <!-- Carousel items -->
                      <div class="carousel-inner">
                        <div class="active item">
                            <img src="../../img/webdesign/food/1.jpg" />
                            <div class="carousel-caption">
                                <h4>Under the Olive Tree</h4>
                                <p><a href="http://undertheolivetree.net/">http://undertheolivetree.net/</a></p>
                            </div>
                        </div>
                        <div class="item"><img src="../../img/webdesign/food/2.jpg" />
                            <div class="carousel-caption">
                                <h4>Kristina Rice</h4>
                                <p><a href="http://kristinarice.com/">http://kristinarice.com/</a></p>
                            </div>
                        </div>
                        <div class="item"><img src="../../img/webdesign/food/3.jpg" />
                            <div class="carousel-caption">
                                <h4>Union Pizza Company</h4>
                                <p><a href="http://www.unionpizzacompany.com/">http://www.unionpizzacompany.com/</a></p>
                            </div>
                        </div>
                      </div>
                      <!-- Carousel nav -->
                      <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
                      <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
                    </div>
<!-- carousel ends -->
                </div> <!-- end well -->
            </div>
        </div>
    </div>
</div>
<div class="jutwrap4 tabbg">
    <div class="navbar-inverse nav-static-top hosting-plan-details">
        <div class="navbar-inner">
            <div class="container"> 
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#business-websites" data-toggle="tab">Business Websites<div class="arrow"></div></a></li>
                    <li><a href="#ecommerce-websites" data-toggle="tab">E-Commerce Websites</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="tab-content">
            <div class="tab-pane active business-specification" id="business-websites">
                <div class="row jutwrap4">
                    <div class="span6 pull-left">
                        <h2>Small &amp; Medium sized Businesses</h2>
                        <p>Unable, unwilling, or just don’t have the time to build your website? InMotion Hosting can help you! Our easy 6-step process is designed with the busy professional in mind.
                        <h2>How it works</h2>
                        <ol class="howitworks-list">
                            <li><span class="b1">1</span>Give us a call</li>
                            <li><span class="b1">2</span>15 min. interview</li>
                            <li><span class="b1">3</span>Send us your content</li>
                            <li><span class="b1">4</span>We build your website</li>
                            <li><span class="b1">5</span>You review the website</li>
                            <li><span class="b1">6</span>We publish it!</li>
                        </ol>
                        <div class="chatstrip">
                            <ul class="nav nav-pills nav-pills-contact">
                                <li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
                                <li class="nav-pills-no-link"><i class="icon-phone"></i> 888.321.HOST</li>
                            </ul>
                        </div>
                    </div>
                    <div class="span6 pull-left">
    <!-- table starts -->
                        <table class="table table-striped {{ active }}">
                            <colgroup></colgroup><colgroup></colgroup><colgroup></colgroup>
                            <thead>
                                <tr>
                                    <th scope="col" class="tb-title">Package Specs</th>
                                    <th scope="col" class="tb-title">Premium</th>
                                    <th scope="col" class="tb-title">Plus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"># Pages Included</th>
                                    <td>5 Pages</td>
                                    <td>15 Pages</td>
                                </tr>
                                <tr>
                                    <th scope="row">E-Commerce</th>
                                    <td>Optional</td>
                                    <td>Optional</td>
                                </tr>
                                <tr>
                                    <th scope="row">Site Updates (per month)</th>
                                    <td>30 min.</td>
                                    <td>90 min.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Custom Design/Redesign</th>
                                    <td><span class="ir ideal">Ideal</span></td>
                                    <td><span class="ir ideal">Ideal</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Good Search Engine Placement</th>
                                    <td><span class="ir ideal">Ideal</span></td>
                                    <td><span class="ir ideal">Ideal</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Comprehensive Busienss Email</th>
                                    <td><span class="ir ideal">Ideal</span></td>
                                    <td><span class="ir ideal">Ideal</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">FREE New Domain or Transfer</th>
                                    <td><span class="ir ideal">Ideal</span></td>
                                    <td><span class="ir ideal">Ideal</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Marketing Tools & SEO</th>
                                    <td><span class="ir ideal">Ideal</span></td>
                                    <td><span class="ir ideal">Ideal</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Search Engine Reach</th>
                                    <td>Medium</td>
                                    <td>High</td>
                                </tr>
                                <tr>
                                    <th scope="row">Business Class Web Hosting</th>
                                    <td>Power</td>
                                    <td>Pro</td>
                                </tr>
                            </tbody>
                        </table>
    <!-- table ends -->
                    </div>
                </div>
            </div><!-- /#business-websites -->
            <div class="tab-pane business-specification" id="ecommerce-websites">
                <div class="row jutwrap4">
                    <div class="span6 pull-left">
                        <h2>E-Commerce Websites</h2>
                        <p>Sell your products on the web with our robust shopping cart solutions. Each cart offers unlimited products and easy-to-use reporting systems that make taking your storefront online quick and easy.</p>
                        <img src="../../img/icon-like.png" class="pull-left hspace" alt="Lots of modules" /><p class="no-wrap">InMotion Hosting offers a huge selection of modules for shopping carts including shipping calculators, language packs, Facebook “Like” buttons, and more!</p>
                        <img src="../../img/icon-chart.png" class="pull-left hspace" alt="E-Commerce solution" /><p class="no-wrap">Our E-Commerce solutions provide an easy-to-use reporting system where you can track your customers, learn of their behavior, send coupon offers and promotional info.</p>
                        <img src="../../img/icon-tag.png" class="pull-left hspace" alt="Fully optimized" /><p class="no-wrap">Your site is fully optimized to assist in good search placement on Google, Yahoo, and Bing. And your customers can pay with ease using their debit or credit cards, or services like PayPal.</p>
                    </div>
                    <div class="span6 pull-left">
    <!-- table starts -->
                        <table class="table {{ active }} table-striped">
                        <colgroup></colgroup><colgroup></colgroup><colgroup></colgroup>
                            <thead>
                                <tr>
                                    <th scope="col" class="tb-title">Package Specs</th>
                                    <th scope="col" class="tb-title">E-Commerce</th>
                                    <th scope="col" class="tb-title">Plus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"># Pages Included</th>
                                    <td>5 Pages</td>
                                    <td>15 Pages</td>
                                </tr>
                                <tr>
                                    <th scope="row">E-Commerce</th>
                                    <td><span class="ir ideal">Ideal</span></td>
                                    <td><span class="ir ideal">Ideal</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Site Updates (per month)</th>
                                    <td>30 min.</td>
                                    <td>90 min.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Custom Design/Redesign</th>
                                    <td><span class="ir ideal">Ideal</span></td>
                                    <td><span class="ir ideal">Ideal</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Good Search Engine Placement</th>
                                    <td><span class="ir ideal">Ideal</span></td>
                                    <td><span class="ir ideal">Ideal</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Comprehensive Busienss Email</th>
                                    <td><span class="ir ideal">Ideal</span></td>
                                    <td><span class="ir ideal">Ideal</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">FREE New Domain or Transfer</th>
                                    <td><span class="ir ideal">Ideal</span></td>
                                    <td><span class="ir ideal">Ideal</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Marketing Tools &amp; SEO</th>
                                    <td><span class="ir ideal">Ideal</span></td>
                                    <td><span class="ir ideal">Ideal</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Search Engine Reach</th>
                                    <td>Medium</td>
                                    <td>High</td>
                                </tr>
                                <tr>
                                    <th scope="row">Business Class Web Hosting</th>
                                    <td>Power</td>
                                    <td>Pro</td>
                                </tr>
                            </tbody>
                        </table>
    <!-- table ends -->
                    </div>
                </div>
            </div><!-- /#ecommerce-websites -->
        </div><!-- /#tab-content -->
    </div>
</div><!-- jutwrap4 tabbg -->
    <div class="wrap">
        <div class="container">
            <div class="row design-info">
                <div class="span6">
                    <h2>Search Engine Optimization (SEO)</h2>
                    <img class="pull-left hspace2" alt="google, bing, yahoo logos" src="../../img/design-seo-graphic.png" />
                    <p class="no-wrap">To build your traffic, InMotion Hosting uses the latest on-page SEO techniques, helping search engines to connect your website with the words and phrases your customers use when searching the web. We can also help your website to be considered important for those words and phrases by assisting you with strategies to “link build.”</p>
                </div>
                <div class="span6">
                    <h2>Create a Buzz with Social Media</h2>
                    <img class="pull-left hspace2" alt="facebook, twitter, linked in, wordpress logos" src="../../img/design-social-media-graphic.png" />
                    <p class="no-wrap">There is no point in having a great website if no one sees it. One of the best and least expensive ways to obtain new business is by interacting with your own brand fans through social media. InMotion Hosting can help to tie your website or eCommerce storefront to the most popular social media!</p>
                </div>
            </div>
        </div>
     <!-- suggestion box start -->
        <div class="container">
            <div class="row-fluid suggestion">
                <h3 class="island raised">To get started, <span class="red">Call 888-321-4678 x1</span> or fill out the form below.
                </h3>
            </div>
        </div>
     <!-- testimonial start -->
        <div class="container">
            <div class="island sunken">
                <img class="quotesample" src="../../img/design-website-thumb.jpg" alt="Website thumbnail" />
                <blockquote class="quoted bq-horiz">I would like to sincerely thank Jason S. and the team at InMotion Hosting for the outstanding TEAM effort and professionalism displayed in creating Pro Tones’ new website. The attention to detail, the willingness to listen to my ideas and answer my questions, and the patience to manage my repeated requests for changes, produced what I believe to be a work of art. Keep up the good work, and continue to strive for perfection!”</blockquote>
                <div class="emisor vibrant indentit">
                    <span class="quotename">Thomas Brennan</span>
                    <span class="muted quotefrom">Business Owner</span>
                </div>
            </div>
        </div>
    </div><!-- end wrap -->

{# /content #}
{% endblock %}

