{% extends '/../views/layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}Cheap VPS Hosting{% endblock %}

{# keywords #}
{% block keywords %}cheap vps hosting, cheap virtual private servers, affordable vps{% endblock %}

{# description #}
{% block description %}Low cost cheap affordable servers by InMotion has the features you need to keep you online.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Affordably Cheap VPS Hosting</h1>
    </div>
    <div class="span3">

    </div>
{% endblock %}

{% block content %}
<p>InMotion offers affordably cheap VPS servers. We only use 100% Dell servers, multiple internet providers, and proven software. This ensures that you remain online regardless of any external factors that may influence our data centers. Also, our team of system administrators are the experts at providing solutions to any issues.</p>
<p>You can read more about what you get with our VPS plans <a href="http://www.inmotionhosting.com/vps_hosting/articles/vps-price.html">here</a>.

<h3>100% Dell</h3>
<p>We believe in giving quality to our customers. That is why we use Dell servers which are known to be able to stand up to the most demanding of tasks. Each server is thoroughly tested at Dell then shipped to us ready to use.</p>

<p>Each component in our VPS server is matched together to give you the most performance for your dollar.</p>

<h3>Multiple ISP's</h3>
<p>Using multiple ISP's ensures that your server stays online regardless of any failures. A drop in ISP coverage in one provider will result in a swtich over to another provider. Our goal is to mitigate any possibilities of your server going down.</p>

<h3>Proven Software</h3>
<p>An important consideration when building our servers was deciding on which software should be used in our VPS servers. What was, and remains important to us is quality, reliability, and performance. With those traits in mind, we decided on using only the best software available.</p>

<ul>
    <li><p><strong>CentOS</strong> - Or Linux operating system of choice, CentOS was built specifically with servers in mind. It is a purpose built OS with performance and security in mind.</p></li>
    <li><p><strong>cPanel</strong> - cPanel allows you to manage your VPS and its settings. Manage domains, unlimited FTP and email accounts, secure your server, and much, much more.</p>
<img src="http://img01.inmotionhosting.com/_img/vps_hosting/cpanel.jpg" alt="cPanel screen shot" border="1" />
    </li>
    <li><p><strong>Web Hosting Manager (WHM)</strong> - Create unlimited cPanel accounts (important if you are resellling hosting), secure your server behind a firewall, restart services, and a whole slew of other features to fully manage your VPS.</p>
<img src="http://img01.inmotionhosting.com/_img/vps_hosting/WHM.jpg" alt="Web Hosting Manager screen shot" border="1" />

    </li>
</ul>

<p>These are just some of the reasons how InMotion Hosting offers you the cheapest VPS servers.</p>
<p>Read more about why InMotion VPS are a good solution for your hosting needs. <a href="http://www.inmotionhosting.com/vps_hosting/articles/good-vps.html" >Click here</a>.</p>
<h2>VPS Plans</h2>
<p>Our plans provide you the best solution at an affordable price. Give us a call today and learn more! <br />(888) 321-4678</p>
{% endblock %}
