{% extends '/../views/layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}How to Get a VPS{% endblock %}

{# keywords #}
{% block keywords %}get a vps, getting a vps, how to get virtual server{% endblock %}

{# description #}
{% block description %}Tips on how to get VPS hosting for you or your company.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Upgrading or Downgrading Hosting? Learn How to Get VPS Hosting</h1>
    </div>
    <div class="span3">

    </div>
{% endblock %}

{% block content %}
    <p>If you have decided on not getting an unmetered hosting plan. What is the next step? How do you get a VPS?</p>

    <p>The next steps would entail finding the features and specifications that are right for you. The main hardware specs you will want are RAM, disk space, and data transfer limits. Each of these will have an impact on what programs you use and ultimately how you use your VPS.</p>
    <p>These simple steps should help guide you to making a proper purchasing decision:</p>
    <ol>
        <li>
            <p>Narrow down your needs: Narrowing down exactly what you want to use the server for is important. After all, you don't want to be buying more than you need.</p>
        </li>
        <li>
            <p>Contact a hosting company: With your needs in hand, contact a sales representative to go over what they are. They will be able to help match a plan with your needs. Also, be sure to ask about any promotions.</p>

            <p>Give InMotion a call to see if we have the VPS solutions that's right for you. (888) 321-4678.</p>
        </li>
        <li>
            <p>Research. Research. Research: After reviewing and comparing many hosting companies, it is finally time to decide on just one. What you should be looking for are features that make the hosting company a better value over another. Do they offer round-the-clock support? A money-back guarantee?</p>

            <p>Like in the previous step, you should reach out to the sales representative when purchasing a server. Otherwise, you can order online if available.</p>
        </li>
        <li>
            <p>Completing the purchase: Once you have completed your purchase, you will need to wait until your VPS is setup. This can take anywhere between 1 - 24 hours. You should recieve a confirmation email with information on how to log into your VPS.</p>
        </li>
    </ol>
{% endblock %}
