{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}Low Cost VPS | InMotion Hosting{% endblock %}

{# keywords #}
{% block keywords %}low cost vps, low price vps, affordable virtual private server{% endblock %}

{# description #}
{% block description %}Low cost VPS by InMotion has all the features you need.{% endblock %}

{# intro #}
{% block intro %}
<h1>Low Cost VPS's With Performance &amp; Reliability in Mind</h1>
<p>Low cost hosting shouldn't leave you with inferior products or services. Rather, it should give you the best hosting solution, while providing top quality service and support.</p>

<p>Why should you choose a low cost VPS hosting solution at InMotion?</p>
{% endblock %}

{% block content %}
<table class="article">
    <tr>
        <th width="50%">Flexibility to Manage Your Server</th>
        <th width="50%">Giving Control to Your Customers</th>
    </tr>
    <tr>
        <td><p>The great thing about a VPS over shared hosting is the ability to manage the server how you want to. Whether it is modifying server files, managing domains, or monitoring server performance, you can truly see how your server is performing.</p></td>
        <td><p>If you plan on having a lot of customers and they need some freedom to manage their servers by themselves, then a VPS lets you do this. You can create individual cPanel accounts so that they can manage their emails, create FTP accounts, and let them see for themselves how their website is performing.</p>
        <p>This will save you time from not having to micromanage all of your customers websites.</p>
        </td>
    </tr>
</table>

<table class="article">
    <tr>
        <th width="50%">Reliable Equipment</th>
        <th width="50%">Performance of a Dedicated Machine</th>
    </tr>
    <tr>
        <td>
            <p>When it comes to server equipment, InMotion buys only the best hardware. Our Dell servers undergo rigourous testing before they leave the factory and are recieved by us.</p>
        </td>
        <td>
            <p>InMotion VPS's are built to be fast. We work to optimize each VPS so that your websites and applications are delivered with little to now slowdown or decreases in performance.</p>
        </td>
    </tr>
</table>
{% endblock %}
