{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}Top VPS Hosting | InMotion Hosting{% endblock %}

{# keywords #}
{% block keywords %}top vps hosting, top virtual private server hosting{% endblock %}

{# description #}
{% block description %}Top VPS Hosting means having great support and a strong dedication to our customers.{% endblock %}

{# intro #}
{% block intro %}
<h1>Top VPS Hosting by InMotion</h1>
<p>What makes InMotion one of the top VPS hosts in the industry? That's simple:</p>
<ul>
    <li>Award winning support</li>
    <li>Dedication to our customers</li>
</ul>
<h3>Award Winning Support</h3>
<p>What makes support great? Is it their availability to assisting you with an issue? Maybe it's their expert knowledge? At InMotion, it's all of these.</p>
{% endblock %}

{% block content %}
<p>Our support team is on the job 24/7/365. Your website doesn't take a holiday, and neither do we. We understand issues can happen at any time. That's why our staff is here for you whenever you need us. We can be reached either on the phone, by email, or online chat. Our many avenues of contact gives you an option you're most comfortable with.</p>

<p>When it comes to knowledge, we have the best. Our backgrounds range from computer enthusiasts, developers, website creatives, and programmers. This wide range of backgrounds means we have the know how and the resources to tackle the toughest of issues. Whether it is finding a run away Wordpress plugin, diagnosing causes of website latency, or mounting backups to replace corrupt files. We have you covered.</p>

<h3>Dedication to Our Customers</h3>
<p>We are dedicated to customer satisfaction. Our A+ rating from the Better Business Bureau was earned over the years because we provide exceptional customer service. We strive to make your experience a positive one. From the moment you sign up with us, to contacting our support team with technical questions, to talking with Customer Care to help resolve any issues. Our goal throughout remains the same, and that's to give you the best positive experience possible.</p>

<p>Read more about why you should <a href="http://www.inmotionhosting.com/vps_hosting/articles/buy-a-vps.html">buy a VPS</a> from InMotion or about the packages <a href="http://www.inmotionhosting.com/vps_hosting/articles/compare-vps.html">here</a>.
<h3>Did You Know You Can Resell Hosting?</h3>
<p>InMotion also lets you become a hosting reseller! Learn more <a href="http://www.inmotionhosting.com/vps_hosting/vps_hosting_reseller.html">here</a>.</p>
{% endblock %}
