{% extends '/../views/layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}Unlimited VPS Features{% endblock %}

{# keywords #}
{% block keywords %}unlimited vps, unlimited virtual private server, infinite data transfer{% endblock %}

{# description #}
{% block description %}Unlimited VPS features lets your company scale with growth.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Unlimited Features Lets Your Business Grow</h1>
    </div>
    <div class="span3">

    </div>
{% endblock %}

{% block content %}
    <p>Just because InMotion doesn't offer unmetered hosting, that doesn't mean we don't offer our customers a deluge of features. Features like unlimited emails, ftp accounts, domain addons, and cPanel accounts.</p>

    <p>You might be wondering what possible reason would you need to have these unlimited features?</p>

    <p>It's simple. The more you grow your services, the more features you will need to support your clients or your clients clients.</p>
    <table class="article">
        <tr>
            <td width="20%">Unlimted Features</td>
            <td width="80%">Example Use Case</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>If you are running a few websites, having a few emails is necassary to help organize your communications from your customers. Now image you have a hundred different websites. All with employees of their own. It could be for a sales team of 3, HR, and the managerial team. Multply that by 100 and you can quickly see why having unlimited emails is necessary.</td>
        </tr>
        <tr>
            <td>FTP Accounts</td>
            <td>The same case holds true for FTP accounts as it does with email. However, you don't want to be giving out FTP access to anybody. But the select few who know how to manage a website, then this is crucial to have.</td>
        </tr>
        <tr>
            <td>Domain Addons</td>
            <td>Have a lot of domain names? Plan on hosting your clients websites? Then having the ability to add unlimited domains to your account is crucial. Also, easily setup redirects through cPanel.</td>
        </tr>
        <tr>
            <td>cPanel Accounts</td>
            <td>If you plan on reselling hosting, InMotion VPS plans comes with Web Hosting Manager which allows you to create VPS packages for your customers. This means you can sell hosting to as many people that your VPS can handle.</td>
        </tr>
    </table>

    <p>With unlimited features such as these, as your business grows, you will be able to scale with it. This will save you time and money.</p>
{% endblock %}
