{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}VPS Plan Review | InMotion Hosting{% endblock %}

{# keywords #}
{% block keywords %}review vps plans, vps plan overview{% endblock %}

{# description #}
{% block description %}Multiple virtual private servers (VPS) plans by InMotion has the speed, performance and flexibilty to meet your needs. Review of our plans here.{% endblock %}

{# intro #}
{% block intro %}
<h1>A Quick Review of VPS Plans Offered by InMotion</h1>
<p>Virtual private servers offers a great middle ground for those who are getting serious about web hosting. From the developer looking for added performance, or a web designer looking for a place to host their clients' website, a VPS can do them all.</p>
<p>Thinking about upgrading from a Shared Hosting account? Be sure to read our <a href="http://www.inmotionhosting.com/vps_hosting/articles/shared-vs-vps.html">Shared vs. VPS</a>. article. Or if you are thinking about choosing between a VPS and a dedicated server, read our article <a href="http://www.inmotionhosting.com/vps_hosting/articles/vps-vs-dedicated.html">here</a> to help you decide.</p>
<h2>Which VPS Plan Is Right For You?</h2>

<h3>VPS-1000</h3>
<p>For those who are jumping into a VPS from shared hosting, this may be the best option. It is an affordable solution for those looking to learn how to use cPanel, utilize the command line, and possibly becoming a reseller for less intensive clients.</p>
{% endblock %}

{% block content %}
<h3>VPS-2000</h3>
<p>InMotion's most popular package, the VPS-2000 gives increased performance boost in RAM and data transfer limits. This plan is best suited for those who are running more CPU intensive tasks, multiple CMS software installations, and those who are reselling hosting to more advanced users.</p>

<h3>VPS-3000</h3>
<p>The high performing VPS-3000 package has all the specs a power user needs before going to a dedicated server. A great solution for large enterprises that run multiple large databases, host files, and needs to serve this to their employees and customers.</p>

<p>This is also suited for the developer looking to create a high-end application that requires high CPU cycles and multiple processing.</p>

<h3>Standard Features</h3>
<p>All VPS plans comes with the following features:</p>

<ul>
    <li>Burstable RAM: This allows your website to take a sudden hit in traffic which results in increased resource usage without it going down or being suspended.</li>
    <li>cPanel &amp; Web Hosting Manager: Take control of your hosting or resell it to others. InMotion offers these two programs for free!</li>
    <li>Optional root access: With root access, you are in control. Customize your server software how you want.</li>
    <li>SSH access: Use the power of the command line to manage your server.</li>
    <li>Automatic backups: This applies to accounts under 10GB of hard disk space used. Accounts over 10GB are charged. Contact us today to learn more about this option (888) 321-4678.</li>
    <li>Custom advanced firewall policy: Keep your VPS secure by allowing or disallowing specific IP addresses.</li>
</ul>
<h3>Keeping the Costs Down</h3>
<p>InMotion offers affordable VPS hosting solutions catering to individuals and small-to-large businesses. <a href="http://www.inmotionhosting.com/vps_hosting/articles/affordable-vps.html">Read more</a> about are affordable VPS offerings.</p>
{% endblock %}
