{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}VPS Pricing | InMotion Hosting{% endblock %}

{# keywords #}
{% block keywords %}vps prices, vps price features, vps pricing{% endblock %}

{# description #}
{% block description %}VPS pricing is greatly influenced by the hardware specs and feature sets that you get. InMotion provides the best VPS solution for the price.{% endblock %}

{# intro #}
{% block intro %}
<h1>VPS Pricing</h1>
<p>Pricing for VPS servers can vary greatly. The differences in pricing is the result of getting more features, increased hardware specs, and level of support.</p>

<h3>More Features</h3>
<p>If you are looking to upgrade from a Shared Hosting account, you will notice an increase of certain features. These include number of allowed MYSQL databases and sites on 1 account.</p>

<p>So what does this mean for you?</p>

<p>It means that you can have as many websites on your hosting account that you would like. With unlimited databases, it also means that you can build these websites using any CMS system that requires a database. With a VPS, the possibilities are endless.</p>
{% endblock %}

{% block content %}
<table class="article">
    <tr>
        <th width="33%">More Features</th>
        <th width="33%">Increased Hardware Specs</th>
        <th width="33%">Level of Support</th>
    </tr>
    <tr>
        <td>
            <p>If you are looking to upgrade from a Shared Hosting account, you will notice an increase of certain features. These include number of allowed MYSQL databases and sites on 1 account.</p>

            <p>So what does this mean for you?</p>

            <p>It means that you can have as many websites on your hosting account that you would like. With unlimited databases, it also means that you can build these websites using any CMS system that requires a database. With a VPS, the possibilities are endless.</p>
        </td>
        <td>
            <p>If you are looking to upgrade from a Shared Hosting account, you will notice an increase of certain features. These include number of allowed MYSQL databases and sites on 1 account.</p>

            <p>So what does this mean for you?</p>

            <p>It means that you can have as many websites on your hosting account that you would like. With unlimited databases, it also means that you can build these websites using any CMS system that requires a database. With a VPS, the possibilities are endless.</p>

            <p>Shared hosting accounts offer a very limited hardware abilities. Those types of servers are meant to handle a very limited number of websites per hosting account. But once you get into VPS, disk space volume and performance becomes an issue. Also, the hardware increases specifications in RAM and processing power.</p>
        </td>
        <td>
            <p>The level of support needed with a VPS requires more knowledge than managing a VPS account. With a VPS, since our customers get optional root access, can SSH into their servers, and have access to cPanel and Web Hosting Manager, the support level greatly increases.</p>

            <p>These factors help influence the pricing of VPS servers. At InMotion, with every VPS package, you get reliable Dell hardware, 24/7 customer service, and access to a suite of products that InMotion includes for free (cPanel &amp; Web Hosting Manager).</p>

            <p>Please take a look at the table below to see what plans and pricing that InMotion has to offer. Or better yet, give us a call today so that we can get a better understanding of what you are looking for. (888) 321-4678.</p>           
        </td>
    </tr>
</table>
{% endblock %}
