{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        
    </div>
    <div class="span3">

    </div>
{% endblock %}

{% block content %}
    
{% endblock %}
