{% extends 'longtail-webbuilder.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1></h1>
    </div>
    <div class="span3">
        <p></p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">


    </div>
    <!--  end span8  -->
{% endblock %}
