blockquote {
  border: none;
}
body {
  background: #fcfcfc;
}
img {
  height: auto;
  max-width: 100%;
}
.emisor, .emisor > span {
  display: block;
}
.gutterless {
  margin-left: 0;
}
.island {
  outline: 1px solid #ccc;
}
.island > * {
  padding: 0 27px;
}
.island > *:first-child {
  padding-top: 27px;
}
.island > *:last-child {
  margin-bottom: 0;
  padding-bottom: 27px;
}
.island-small > * {
  padding: 0 20px;
}
.island-small > *:first-child {
  padding-top: 20px;
}
.island-small > *:last-child {
  margin-bottom: 0;
  padding-bottom: 20px;
}
.muted {
  color: #888;
}
.pattern {
  background: url(../../img/pattern.gif) repeat left top;
}
.raised {
  background-color: #fff;
}
.sunken {
  background-color: #eee;
}
.three-tiered-rostrum {
  position: relative;
}
.tiered-item {
  position: absolute;
}
.tiered-item-one {
  width: 300px;
}
.quoted:before {
  content: "\201C";
  color: #c52127;
  display: block;
  font-size: 600%;
  margin-top: 27px;
}
.vibrant {
  color: #c52127;
}
.wrap {
  padding: 36px 0;
}
