/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............The section your currently reading
 *
 * CODING STANDARDS....READ BEFORE editing any CSS file
 *
 * MIXINS..............Super-simple Sass stuff
 * RESET...............Set some defaults
 * CLEARFIX............
 * SHARED..............Shared declarations
 */

/*------------------------------------*\
    $CODING STANDARDS
\*------------------------------------*/
/**
 * Read, learn, utilize for a consistent, reusable, understandable all around
 * better experience when writing quality CSS in a collaborative environment
 *
 * Most suggestions are taken from Google HTML/CSS Style Guide
 * Please read each topic entry listed below at its corresponding link
 */

    /**
     * General Formating Rules
     * https://google-styleguide.googlecode.com/svn/trunk/htmlcssguide.xml#General_Formatting_Rules
     *
     * Note: When writing HTML or PHP use PEAR Standards for indentation
     * http://pear.php.net/manual/en/standards.indenting.php
     */

    /**
     * CSS Formating Rules
     * https://google-styleguide.googlecode.com/svn/trunk/htmlcssguide.xml#CSS_Formatting_Rules
     *
     * Declaration order
     * Declaration stops
     * Property name stops
     *
     */

    /**
     * CSS Style Rules
     * https://google-styleguide.googlecode.com/svn/trunk/htmlcssguide.xml#CSS_Style_Rules
     *
     * Shorthand properties
     * 0 and units
     * Leading 0s
     * Hexadecimal notation
     * ID and class name delimiters
     * Type selectors
     */

blockquote {
  border: none;
}

body {
  background: #fcfcfc;
}

img {
  height: auto;
  max-width: 100%;
}

.emisor,
.emisor > span {
  display: block;
}

/**
 * Remove the gutter of the element
 */
.gutter-remove {
  margin-left: 0;
}

/**
 * Remove the gutter of the element
 */
.gutter-spillover {
  padding-right: 20px;
}

/*------------------------------------*\
    $ISLAND
\*------------------------------------*/
/**
 * Simple, boxed off content, as per: csswizardry.com/2011/10/the-island-object
 */
.island {
  outline: 1px solid #ccc;
  padding: 20px;
}

/*------------------------------------*\
    $ROSTRUM
\*------------------------------------*/
/**
 * Like what Olympic winners stand on during medal ceremony
 * Use for presenting a grouping of 3 items necessitating a visual indicator
 * of 'importance' or 'winner' like displaying hosting plans
 *
 * First place is visual center with second place left of center and
 * third place right of center
 */
.rostrum {
  margin-top: -20px;
  position: relative;
}

  .rostrum-tiered-item {
    position: relative;
    text-align: center;
  }

  .rostrum-tiered-item-first {
    margin: -20px 0 0 0;
    width: 340px;
    z-index: 5;
  }

  .rostrum-tiered-item-third {
    margin-left: 0;
  }

/*------------------------------------*\
    $SPLIT CENTER
\*------------------------------------*/
/**
 * Display group of two elements one after the other with the text centered
 * Makes it appear as if it were one element that is text aligned center
 * 
 */
.split-center {
  padding: 0 10px;
}

  .split-center-title,
  .split-center-value {
    display: inline-block;
    margin-left: 0;
  }

  .split-center-value + .split-center-title::before {
    content: ".";
    display: block;
    line-height: .75em;
    color: transparent;
    width: 8em;
  }

.icon {
  background: #fff;
  width: 33%;
}

.muted {
  color: #888;
}

/**
 * Apply the crosshatch pattern to element
 */
.pattern {
  background: url(../../img/pattern.gif) repeat 0 0;
}

/**
 * Apply white background to element
 */
.raised {
  background: #fff;
}

/**
 * Apply light grey background to element
 */
.sunken {
  background: #eee;
}

/**
 * Apply blue background with noise to element
 */
.intro {
  background: url(../../img/bluenoise.png) repeat 0 0;
}

/**
 * Apply red opening double quote above element
 */
.quoted:before {
  color: #c52127;
  content: "\201C";
  display: block;
  font-size: 600%;
  margin-top: 20px;
}

.vibrant {
  color: #c52127;
}

/**
 * Apply top and bottom padding to element
 */
.wrap {
  padding: 36px 0;
}

@media (min-width: 768px) and (max-width: 979px) {

  .rostrum-tiered-item-first {
    width: 268px;
  }
}