{% extends 'longtail-wordpress.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}cPanel VPS Optimized{% endblock %}

{# keywords #}
{% block keywords %}cpanel vps optimized, vps with cpanel hosting, vps cpanel host{% endblock %}

{# description #}
{% block description %}Software specifically designed to work with a VPS, cPanel VPS Optimized provides better performance without a loss in functionality.{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Host with cPanel</h1>
    </div>
    <div class="span3">
        Hosting Has Never Been Easier
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">


    </div>
    <!--  end span8  -->
{% endblock %}
