{% extends 'sales-page-premier-support-dedi.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Premier Support<span class="no-bold">&trade;</span></h1>
    </div>
    <div class="span3">
        <p>by InMotion Hosting</p>
    </div>
{% endblock %}

{% block container %}

    {% block left_column %}
        <div class="span8">
            <p>Premier Support by InMotion Hosting was created to help you meet the business objectives of your websites, databases and applications. We consult with you to help keep your data secure and your website performing optimally. Learn how our Advanced Support team can assist you with your needs today.</p>

            <table class="table longtail two-column">
                <thead>
                    <tr>
                        <th colspan="2">What You Get From Us</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h4>A Team Dedicated to You</h4>

                            <p>Premier Support customers have exclusive access to our Advanced Support team, comprised of highly experienced staff who are very familiar with the InMotion Hosting software stack and hardware, as well as with a wide variety of application software.</p>
                        </td>
                        <td>
                            <h4>Technically Complex Solutions</h4>

                            <p>Advanced server configurations including clustering, load balancing and failover require Premier Support. The Advanced Support team can also assist with security planning, custom partitioning, application software configuration and tuning and more.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>More Experience on Your First Call</h4>

                            <p>Premier Support customers have exclusive access to our Advanced Support team, comprised of highly experienced staff who are very familiar with the InMotion Hosting software stack and hardware, as well as with a wide variety of application software.</p>
                        </td>
                        <td>
                            <h4>Faster Responses</h4>

                            <p>Premier Support customers have separate phone and email contact points to get them through to the Advanced Support team faster. In most instances, support requests receive a response within 30 minutes (during operating hours of 9:00am – 9:00pm EST, M-F).</p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h3>Premier Support Services</h3>

            <p>The Advanced Support team is capable of providing complete solutions for most server-side scenarios. Some examples include:</p>

            <table class="table longtail two-column">
                <thead>
                    <tr>
                        <th colspan="2">Most Popular Services</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h4>Custom Configuration Support</h4>

                            <p>With our custom configuration support service; we can help create your own server clusters to match your specific requirements. From adding more RAM and/or additional hard drives; to virtualizing your web server, we can make it happen. We can also help with configuration of numberous open source applications.</p>
                        </td>
                        <td>
                            <h4>Failover Support Systems</h4>

                            <p>We can help you to configure a failover support system that keeps your business online. In the event of a server failure, our systems can automatically switch to another server in our other data center. This means your data is held in multiple locations which mitigates the risk of total data loss or extensive downtime.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Advanced Site Transfer</h4>

                            <p>Have multiple add-on domains? Or several domains on one cPanel account that need to be separated into multiple cPanel accounts? Our advanced transfer service can help migrate the domains to wherever they need to go.</p>
                        </td>
                        <td>
                            <h4>Disaster Recovery Planning</h4>

                            <p>If disaster strikes and your server goes down, stay one step ahead with a disaster recovery plan. We provide a twice-yearly 60-minute consultation to discuss options for a failover solution incase of disaster.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>PCI Scan/Security Check</h4>

                            <p>At InMotion Hosting, we take a proactive approach to security. That's why we scan your server to check for vulnerabilities so that your website is PCI compliant. Our team works around the clock to look for new threats that you may not be aware of.</p>
                        </td>
                        <td>
                            <h4>Advanced Script Installation</h4>

                            <p>More advanced processes call for more advanced scripts. Our 90-minute script consultation can help you resolve most issues. We can also help save you time by automating common processes.</p>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <p>To learn more about how our Premier Support team can help you, call us today! (888) 321-4678 ext. 1 and ask about Premier Support from InMotion Hosting.</p>
                        </td>
                    </tr>
                </tfoot>
            </table>

<h3>InMotion Hosting Premier Support Pricing &amp; Information</h3>

<p>Simply select a low cost plan below. If you decide to not purchase a plan, consulting is available on an as needed basis at $75/hour.</p>

<table class="table longtail premier-support four-column">
                <thead>
                    <tr>
                        <th></th>
                        <th class="center">
                                <p>Level I</p>
                        </th>
                        <th class="center">
                                <p>Level II</p>
                        </th>
                        <th class="center">
                                <p>Level III</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                                <p>Hours Included</p>
                        </td>
                        <td class="center">
                                <p>1</p>
                        </td>
                        <td class="center">
                                <p>2</p>
                        </td>
                        <td class="center">
                                <p>3</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                                <p>Monthly Charge*</p>
                        </td>
                        <td class="center">
                                <p>$40/mo.</p>
                        </td>
                        <td class="center">
                                <p>$70/mo.</p>
                        </td>
                        <td class="center">
                                <p>$100/mo.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                                <p>Additional Hours</p>
                        </td>
                        <td class="center">
                                <p>$45/mo.</p>
                        </td>
                        <td class="center">
                                <p>$40/mo.</p>
                        </td>
                        <td class="center">
                                <p>$37.50/mo.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                                <p>Minimum Commitment</p>
                        </td>
                        <td class="center">
                                <p>3 months<br />billed monthly</p>
                        </td>
                        <td class="center">
                                <p>3 months<br />billed monthly</p>
                        </td>
                        <td class="center">
                                <p>6 months<br />billed monthly</p>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <p>Contact us today to sign up or learn more! (888) 321-4678 ext. 1 or send an email request to: <a href="mailto: advanced@inmotionhosting.com">advanced@inmotionhosting.com</a></p>

                            <p>* Costs may vary from year to year. The costs are fixed for a calendar year and changes, if any, will be announced to you in November to be effective in January.</p>
                        </td>
                    </tr>
                </tfoot>
            </table>

<p>Please note, unless you subscribe to a Premier Support package, your direct access to the Advanced Support team may be limited at any time. However, our industry leading standard technical support team is always available to your regardless of whether you are a Premier Support member or not.</p>

<h3>VPS Customers</h3>

<p>We offer Premier Support to our VPS customers, too! Access professional consultations to help with advanced transfers, setups and more. Launch Assist for VPS is only $99. Normal rates for additional hours and subscription pricing are the same as above.</p>

<p>For more information or questions, please contact our Premier Support team – we are ready to design a custom solution for your business!</p>


        </div>
        <!--  end span8  -->
    {% endblock %}

{% endblock %}