{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Robust cPanel Email Features</h1>
    </div>
    <div class="span3">

    </div>
{% endblock %}

{% block content %}

<h2>Email management within cPanel gives a lot of tools to customers who want to host their own email. Account creation, deletion, forwarding, and access can all be done within the email control panel.</h2>
<img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/img-top-features-email-color.jpg" alt="cpanel top email features icons">
<ul>
    <li>
        <p><strong>E-mail Accounts</strong></p>
        <p>When it comes to email, this tool is your first stop. Create new email accounts, modify passwords, set mailbox sizes, access webmail, configure email clients, and delete accounts.</p>
    </li>
    <li>
        <p><strong>Forwarders</strong></p>
        <p>Save time by routing multiple emails into one account. A customer can setup as many forwarders as they need to cut down on time checking different email accounts.</p>
    </li>
    <li>
        <p><strong>Webmail</strong></p>
        <p>Access email from any computer at any time. As long as there is an internet connection, and access to a browser, users can easily view and reply to emails.</p>
    </li>
    <li>
        <p><strong>MX Entry Modification</strong></p>
        <p>This tool allows for a custom mail exchanger to be setup for a domain. From the MX control panel, emails can be used for routing or backing up the mail exchanger.</p>
    </li>
    <li>
        <p><strong>Auto Responders</strong></p>
        <p>These are especially useful when time away from a computer or internet access is expected. Like going on vacation. Auto responders can even be set with a custom reply message.</p>
    </li>
    <li>
        <p><strong>Account Level Filtering</strong></p>
        <p>Set filters to match specified rules against actions such as moving the email to a specific folder, disregard, redirect, and more! This saves time by having emails automatically routed to specified destinations.</p>
    </li>
    <li>
        <p><strong>User Level Filtering</strong></p>
        <p>This works like Account Level Filtering, however it allows individual users to set their own filters.</p>
    </li>
    <li>
        <p><strong>Mail Delivery Route</strong></p>
        <p>This tool is helpful for troubleshooting issues. The control panel interface allows users to view the path that an email takes from a local server to a remote email address.</p>
    </li>
    <li>
        <p><strong>Import Addresses/Forwarders</strong></p>
        <p>Manually creating individual email accounts can be a hassle. cPanel's Import Address feature makes this a breeze. Email lists can be created in either CSV or XLS format and then uploaded. This makes future account modifications an easy task. Also, creating email forwarders can be done in the same manner.</p>
    </li>
    <li>
        <p><strong>SpamAssassin</strong></p>
        <p>Spam is an unwelcome annoyance to any person. With SpamAssassin, email filtering is automatic. Options include auto-deletion of spam, configuring Whitelist and Blacklists, and setting score ratings on different filters.</p>
    </li>
    <li>
        <p><strong>Default Address</strong></p>
        <p>This feature routes any email sent to a non-existing email address to any specified email. This is useful if a customer misspells an email address. So instead of losing an email, it will get routed and placed in someones inbox.</p>
    </li>
    
    <li>
        <p><strong>Email Authentification</strong></p>
        <p>Email authentification helps to keep your emails safe and prevent others from sending spam from your email address by &ldquo;spoofing&rdquo; it.</p>
    </li>
</ul>

<p>You can view all the features that cPanel has to offer <a href="http://www.inmotionhosting.com/cpanel-hosting/cpanel-features.html">here</a>.</p>
{% endblock %}
