{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}cPanel VPS Optimized | InMotion Hosting{% endblock %}

{# keywords #}
{% block keywords %}cpanel vps optimized, vps with cpanel hosting, vps cpanel host{% endblock %}

{# description #}
{% block description %}Software specifically designed to work with a VPS, cPanel VPS Optimized provides better performance without a loss in functionality.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Host with cPanel</h1>
    </div>
    <div class="span3">
        Hosting Has Never Been Easier
    </div>
{% endblock %}

{% block content %}
<img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/icon_cpanel-logo.png" alt="cPanel logo" />
<h2>The cPanel Web Host Experts</h2>

<p>cPanel hosting with InMotion makes managing your server easier than ever. Whether you have a shared, VPS, dedicated hosting, or are a <a href="/cpanel-hosting/reseller-hosting-with-cpanel.html">hosting reseller</a>, you can take advantage of all the features cPanel has to offer. From creating email and FTP accounts, to easily installing software packages through Fantastico. InMotion gives you this functionality at no extra cost to you.</p>
<p>Check out some features below to see how hosting with cPanel benefits you:</p>

<div id="icons_left">
    <p><img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/advanced-features.jpg" />Advanced Features</p>
    <p><b>Advanced cPanel features lets you do more.</b> Control your MX entries, manage domains, check your server status, or set CRON jobs. cPanel gives you added control of what you can do with your VPS or dedicated server.</p>
    
    <p><img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/security.jpg" />Security</p>
    <p><b>Secure your server through with cPanel tools.</b> cPanel gives you the option to protect your server by keeping unwanted access out. With cPanel, you can  block a single, or an entire range of IP addresses, manage SSL/TLS keys, connect to your server remotely through SSH, and more!</p>

    <p><img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/email-administration.jpg" />Email Administration</p>
    <p><b>Keep your business communications professional.</b> Create email accounts with your domain as the address. With cPanel you can create multiple email addresses, setup email forwarding, access webmail, and get information on how to setup email on popular programs such as Outlook and Thunderbird.</p>
</div>

<div id="icons_right">
    <p><img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/website-statistics.jpg" />Website Statistics</p>
    <p><b>Track your website statistics.</b> You can utilize cPanel's robust website statistic tool AWStats to see how your website is performing. See the number of visitors you are getting, where they are coming from, how long they are staying, and which pages are getting the most hits.</p>
    
    <p><img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/ftp-features.jpg" />Advanced FTP Features</p>
    <p><b>Manage your files easily.</b> You can use cPanel's internal File Manager. Or you can setup FTP accounts so that you can easily use third party FTP programs to easily manage your server files.</p>

    <p><img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/database-administration.jpg" />Database Administration</p>
    <p><b>Build applications or install multiple platforms with ease.</b> Creating, managing, or deleting databases through cPanel gives you the control you need to run the latest software. Installing CMS platforms such as Wordpress, Joomla, or Prestashop is made easy.</p>

</div>
<p>cPanel comes with a lot more features that allows you to manage your server. You can read about cPanel's top features <a href="/cpanel-hosting/cpanel-web-hosting.html" >here</a>. Of if you want to see all the features that cPanel has to offer, check out the full list of <a href="/cpanel-hosting/cpanel-features.html">available features</a>.</p>

<h2>Backing Up &amp; Transferring Hosts Made Easy</h2>
<p>Create backups of entire directories, MySQL databases, email filters with ease. cPanel makes it easy for site owners to schedule backups of their files to ensure they have a copy of their critical information at all times. Site owners can even upload these files to a different hosting company and seamlessly switch hosting companies with little to no downtime. Read more about <a href="/cpanel-hosting/cpanel-backup-feature.html">cPanel Backups</a>.</p>

<h2>A Robust Server Management Tool...For Free!</h2>
<img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/icon-group-features.jpg" alt="cpanel features icons">
<p>Other companies charge for use of cPanel. InMotion does not. We provide cPanel for all of our customers regardless of hosting plans and packages. This means you can manage your server how you want, when you want. <a href="/cpanel-hosting/free-cpanel-hosting.html">Click here</a> to read more.</p>
{% endblock %}
