{% extends 'longtail-drupal.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}The Best Drupal Host{% endblock %}

{# keywords #}
{% block keywords %}cpanel vps optimized, vps with cpanel hosting, vps cpanel host{% endblock %}

{# description #}
{% block description %}Software specifically designed to work with a VPS, cPanel VPS Optimized provides better performance without a loss in functionality.{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>The Best Drupal Host</h1>
    </div>
    <div class="span3">
        <p>Top Drupal Hosting and an attention to detail</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">

        <p>Are you looking for the best Drupal hosting for your website? There's lots of review sites on the web that talk about the top hosting for Drupal, and they typically review just the standards, such as pricing and features.</p>

        <img src="{{ app.request.basepath }}/img/drupal-hosting/compare-drupal-hosting.png" class="sales-page-left-float" alt="compare drupal image" /><p>There are certain things you can read about and compare within a table or graph, but for other things you need first hand experience with. For example, the best Drupal hosting providers offer the best technical support. When you're in a bind and really need help, there's nothing worse than calling your Support Department only to get little to no help.</p>

        <h3>We know Drupal</h3>
        <p>Keeping on the topic of Technical Support, our Support Team knows Drupal. Browse our online <a href="http://www.inmotionhosting.com/support/edu/drupal-7">Drupal Tutorials</a>. Our Knowledge Base walks you through basic Drupal concepts all the way through advanced ones. For the beginner, we show you how to install Drupal, we explain the differences between basic pages and articles, and we also show you how to link everything together using menus. For advanced users, we show you how to run a forum, create a contact form, and even work with Drupal 7 views.</p>

        <img src="{{ app.request.basepath }}/img/drupal-hosting/icon_community.png" class="sales-page-left-float" alt="community image" /><p>When you do have questions, our <a href="http://www.inmotionhosting.com/support/community-support">Community Support</a> area allows you to post a question online. Our Support Department monitors all questions and can touch base to assist you most times within one hour. In addition to our team's help, your community support questions are public, which means that anyone else in the community can chime in and offer advise as well.</p>

        <h3>We know Hosting</h3>
        <p>InMotion Hosting offers more than just shared Drupal Hosting. We offer Shared, VPS, and fully Dedicated hosting. Our experience with different platforms gives us the knowledge to truly offer superior support. From advanced server configurations to troubleshooting obscure website issues, you're most likely not the first person to pose that specific question or request those MySQL configuration changes. We also know how important a fast website is, and we've <a href="/drupal-hosting/fast-drupal-hosting.html">built our servers for speed</a>.</p>

        <h3>We know Customer Service</h3>
        <p>Hosting companies are a dime a dozen. You can compare different hosts all day, maybe even all week if you had the time. You may already have had the experience of moving hosting companies several times too. In addition to unpredictable hosting, those less than flattering phone calls with Support can really push you over the line to the point where it's time to find another hosting provider.</p>

        <p>Whether it's Sales or Support, customer service plays a big role in being the best hosting provider. We know how important it is to feel like you're getting the attention you deserve. Starting from your very first call to our Sales Team, we listen to what your requirements are and ask the important question to help match your website with the best hosting plan. Our Support Department understands how valuable your time is, and their attention to detail and willingness to assist helps us to &ldquo;Wow!&rdquo; customers each and every day.</p>

        <h3>We know your Drupal website will be happy with InMotion Hosting!</h3>
        <p>If you have any questions about our Drupal hosting, give us a call at 888-321-4678. You can also find more information online about our Drupal Hosting plans <a href="/drupal-hosting.html">here</a>. We aim to thrill every customer. If you've ever thought to yourself, &ldquo;There's got to be better than this!&rdquo;, it's time to choose InMotion Hosting as your next hosting provider.</p>

    </div>
    <!--  end span8  -->
{% endblock %}
