{% extends 'longtail-drupal.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Cheap Drupal Hosting{% endblock %}

{# keywords #}
{% block keywords %}cpanel vps optimized, vps with cpanel hosting, vps cpanel host{% endblock %}

{# description #}
{% block description %}Software specifically designed to work with a VPS, cPanel VPS Optimized provides better performance without a loss in functionality.{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Affordable Drupal Hosting</h1>
    </div>
    <div class="span3">
        <p>Inexpensive Shared, VPS, and Dedicated Hosting plans</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>Cheap Drupal Hosting should be cheap only in the aspect of pricing. You're most likely looking for affordable and inexpensive Drupal Hosting, not overcrowded and unmaintained Drupal Hosting. Here at InMotion Hosting, we offer the highest quality of Drupal Hosting combined with several different hosting packages to meet your requirements.</p>
        <h3>Drupal Hosting plans that grow with you</h3>
        <h4>Shared Drupal Hosting</h4>
        <p>In the world of hosting, you need flexibility. When you purchase Drupal Hosting through InMotion Hosting, you're not tied down to a specific package or pricing plan. If you're just launching a website, you can choose our <a href="/drupal-hosting/drupal-shared-hosting.html">Shared Hosting</a>. As time progresses and your website grows, we give your hosting plan the ability to grow with you.</p>
        <h4>Drupal VPS Hosting</h4>
        <p>When your website receives more traffic, your server works more. This is natural. More hits to your site means more calls to your Drupal Database, more CPU time, and even more bandwidth to push your content across the world. If you outgrow Shared drupal hosting, you can upgrade your account to a <a href="/drupal-hosting/drupal-vps-hosting.html">VPS plan</a>. Our VPS packages are a big step up from our shared servers.</p>
        <p>Hosting Drupal on a VPS not only gives you a server environment with more power, it also gives you more control over all the various settings and configuration changes available within:</p>
        <ul>
            <li>Apache</li>
            <li>MySQL</li>
            <li>PHP</li>
            <li>... and the other processes on the server that make your website available</li>
        </ul>
        <h3>Dedicated Drupal Hosting</h3>
        <p>The next step up from VPS Hosting is <a href="/drupal-hosting/drupal-dedicated-hosting.html">fully Dedicated Hosting</a>. With a Dedicated Server, you have an entire physical server all to yourself. This is different than a VPS because a VPS only mimics a Dedicated Server. A Dedicated Server has all of the advantages of a Virtual Private Server, it just has more of them. Dedicated Servers give you more RAM, more disk space and bandwidth, and even more dedicated IP addresses.</p>
        <h3>Money Back Guarantee</h3>
        In addition to competitive prices, we also stand behind our Drupal Hosting with both 30 and 90 day money back guarantees.
        <ul>
            <li>Shared Drupal Hosting: 90 day money back guarantee</li>
            <li>Drupal VPS Hosting: 90 day money back guarantee</li>
            <li>Dedicated Drupal Hosting: 30 day money back guarantee</li>
        </ul>
        <p>If you're interested in inexpensive Drupal Hosting through InMotion Hosting, <a href="/drupal-hosting.html">click this link</a> to view our Drupal Hosting plans. If you have any questions, give our Sales Team a phone call at 888-321-HOST.</p>
    </div>
    <!--  end span8  -->
{% endblock %}