{% extends 'longtail-drupal.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Drupal Dedicated Hosting{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Hosting Drupal on a Dedicated Server</h1>
    </div>
    <div class="span3">
        <p>Dedicated Drupal Hosting provided by InMotion Hosting</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>Dedicated Drupal Hosting is the optimal solution for drupal websites with high demand. When Shared hosting and VPS hosting is just not enough, making the move to <a href="/drupal-hosting">hosting Drupal</a> on a fully dedicated server will help your website reach its full potential. Having your own server can mean more stability, more speed, and more security.</p>
        <h2>What should I look for in a top dedicated server?</h2>
        <img src="{{ app.request.basepath }}/img/drupal-hosting/dell-drupal-server.gif" class="sales-page-left-float" alt="dedicated server" /><p>Dedicated servers come in all sorts of shapes and sizes. If you're doing your research on the best Dedicated Hosting solutions, you will see that prices vary depending on:</p>
            <li>The quality of the server you're getting</li>
            <li>The features included (such as diskspace and bandwidth)</li>
            <li>The level of technical support that is offered</li>
        <h2>Quality Dedicated Servers</h2>
        <p>Here at InMotion Hosting, our goal is to provide a high quality of service to each and every customer. When it comes to our dedicated servers, this motto prevails. A server is only as good as the parts inside, and we've chosen to stock our servers with trusted, name brand components.</p>
        <p>Dell, Intel, you're sure to have heard of them. What about Xeon or Turbo Quad Core? We use Dell servers, and our higher end dedicated servers include Xeon / Turbo Quad Core processors.</p>
        <table class="table longtail">
            <thead>
                <tr>
                    <th>Xeon</th>
                    <th>Turbo</th>
                    <th>Quad Core</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>Most users are familiar with Intel processors that are in their desktop and laptop computers. Intel Xeon processors perform higher than other Intel processors you may be use to because they were specifically designed for use in servers.</p>
                    </td>
                    <td>
                        <p>The Turbo technology in Intel processors allows them to dynamically run faster. If your server is busy handling lots of traffic, as long as your processors aren't burning red and melting, they can overclock themselves in order to increase performance and help get the job done.</p>
                    </td>
                    <td>
                        <p>A quad core processor contains four cores, which means there are four microprocessors available for number crunching. With multiple cores running at the same time, speeds increase and programs run faster.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>Why should I host Drupal on a Dedicated Server with InMotion Hosting?</h2>
        <p>When choosing a host for your Drupal website, make sure of the following:</p>
        <h3>Servers:</h3>
        Our high quality servers deliver high performance. If you've made the mistake in the past of choosing a cheap server because of its low price, do yourself a favor and make a smarter decision. Our System Administration team has been building production servers for years, and our experience will work to your advantage. From small changes to more advanced server setups, we're happy to assist in <a href="/drupal-hosting/managed-drupal-hosting">managing your server</a> so it works best for your needs.
        <h3>Support:</h3>
        We know Drupal. We've got answers to many common questions, and you can find in-depth tutorials in our <a href="http://www.inmotionhosting.com/support/edu/drupal-7">Drupal Education Channel</a>. When you need help, our Technical Support team is available 24/7.
        <h3>Satisfaction:</h3>
        InMotion Hosting has been hosting websites since 2001. We understand the importance of customer service, and it's one of the many reasons our business has done so well over the years.
        <h2>What Dedicated Hosting plans are available?</h2>
        <p>If you're interested in purchasing a Dedicated Server to host your Drupal website, we have several plans available. Each plan varies based upon the features provided, not all servers are created equally. Click here to learn more about our <a href="/dedicated-servers">Dedicated Server</a> plans.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
