{% extends 'longtail-drupal.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Drupal Hosting Reviews{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Drupal Hosting Reviews</h1>
    </div>
    <div class="span3">
        <p>What our Customers say about us</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">

        <p>Reading Drupal hosting reviews is a great way to get a behind the scenes look at a potential web hosting provider. Customer reviews can be very helpful as they come from someone with firsthand experience using the hosting service you're interested in subscribing to.</p>

        <img src="{{ app.request.basepath }}/img/drupal-hosting/drupal-customer-reviews.png" class="sales-page-left-float" alt="customer reviews image" /><p>If you've been reviewing <a href="/drupal-hosting.html">InMotion Hosting's Drupal Hosting plans</a>, we'd like to take this opportunity to give you some firsthand feedback from users hosting Drupal on our servers!</p>

        <h3>Drupal Customer Reviews</h3>

        <table class="drupal-review">
            <thead>
                <tr>
                    <th>
                        <p>Saved my bacon!</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>Hi,</p>
                        <p>I just wanted to let you guys know that Jeremy K really saved my bacon with this solution, I'd been scratching my head over it for a few days now and, since I'm not a web dev, really couldn't sort it. The response time on my support request was fantastic, make sure you give this guy a raise!</p>
                        <p>Kind regards,<br />
                        Nathan</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="drupal-review">
            <thead>
                <tr>
                    <th>
                        <p>Easily understood and of great value</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>I have been having a few 'user' issues trying to get Drupal to open on my Temp URL. There have been a few folk involved and the guidance has been easily understood and of great value. My thanks to Chris B, Arnel C, Ed P, and Brian C.</p>
                        <p>You are definitely a great team to have helping me.</p>
                        <p>-John</p>
                    </td>
                </tr>
            </tbody>
        </table>

            <thead>
                <tr>
                    <th>

                    </th>
                </tr>
            </thead>

        <table class="drupal-review">
            <thead>
                <tr>
                    <th>
                        <p>It was nice to actually get some help.</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>Hello,</p>
                        <p>I just wanted to say that I am very happy with the level of customer support I received from Scott M today. I’ve worked with other hosts that will not answer any Drupal related questions, so it was nice to actually get some help.</p>
                        <p>Thanks!<br />
                        -Amber</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Positive reviews come from Great Hosting!</h3>
        <p>If you're interested in learning more about our Drupal Hosting plans, you can give our Sales team a call at 888-321-4678. Prefer to chat? No problem, click the Chat with Sales button at the top of this page.</p>

        <p>InMotion Hosting meets all of <a href="/drupal-hosting/drupal-requirements.html">Drupal's hosting requirements</a>. We make it fast and easy to setup a new Drupal website or transfer an existing website over.</p>

        <p>We offer Drupal Shared Hosting, VPS Hosting, and Dedicated Servers. Whatever your hosting needs are, our years of helping customers around the clock helps make us an excellent choice to host your next Drupal website!</p>

    </div>
    <!--  end span8  -->
{% endblock %}
