{% extends 'longtail-drupal.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Drupal System Requirements{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Drupal Hosting Requirements</h1>
    </div>
    <div class="span3">
        <p>InMotion Hosting meets all Drupal Server Requirements</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>If you're planning to build a website using Drupal, you must first ensure your hosting provider meets Drupal's requirements. InMotion Hosting meets all of Drupal 7's minimum system requirements, and we have many different hosting plans you can choose from to meet your website's needs.</p>
        <h2>Disk Space: 15 Megabytes</h2>
        <img src="{{ app.request.basepath }}/img/drupal-hosting/hard-drive.png" class="sales-page-left-float" alt="hard drive image" /><p>If you're not sure how much 15 Megabytes is, it's OK, just know it's not much at all. In fact, all of InMotion Hosting's shared accounts include unlimited disk space, so there's no need to worry about this system requirement.</p>
        <p>Our VPS Hosting and Dedicated Hosting accounts include more than enough disk space to host a Drupal Website. We'd like to show you a graph to compare the amount of diskspace our hosting plans include compared to the disk space required by Drupal, but it's impossible. The 15MB required by Drupal wouldn't even show as a blip on the radar when compared to the millions of MBs of diskspace that we offer!</p>
        <h2>Web server: Apache 1.3, Apache 2.x, Microsoft IIS</h2>
        <img src="{{ app.request.basepath }}/img/drupal-hosting/drupal-likes-apache.png" class="sales-page-left-float" alt="apache image" /><p>You don't need three different web servers to host Drupal. You can use either a version of Apache (version 1.3 or any of the version 2's) or Microsoft IIS. InMotion Hosting's servers run off the CentOS Linux operating system and uses the cPanel control panel. We use the Apache web server, and all of our latest servers are running a variation of Apache 2.x.</p>
        <h2>Database server: MySQL</h2>
        <img src="{{ app.request.basepath }}/img/drupal-hosting/drupal-uses-mysql.png" class="sales-page-left-float" alt="MYSQL image" /><p>The default installation of Drupal requires a MySQL database. While Drupal 7 is the latest version of Drupal, we've listed below the MySQL requirements for several different versions of Drupal:</p>
        <table class="table longtail">
            <thead>
            <tr>
                <th class="drupal">Drupal 5</th>
                <th class="drupal">Drupal 6</th>
                <th class="drupal">Drupal 7</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>MySQL 3.23.17 or higher</p>
                    </td>
                    <td>
                        <p>MySQL 4.1 or higher, PostgreSQL 7.1</p>
                    </td>
                    <td>
                        <p>MySQL 5.0.15 or higher with PDO, PostgreSQL 8.3 or higher with PDO, SQLite 3.3.7 or higher</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>InMotion Hosting runs a version of MySQL 5 that is compatible with all versions of Drupal! If you're more familiar with Microsoft server technologies (we do not run any Microsoft servers), you can use MS SQL, however an additional Drupal module is required for that. Oracle can also be used with Drupal, but again you'll need to use an extension to get it to work properly.</p>
        <h2>PHP</h2>
        <img src="{{ app.request.basepath }}/img/drupal-hosting/drupal-requires-php.png" class="sales-page-left-float" alt="requires php image" />
        <p>Just like Drupal's requirement for MySQL, different versions of Drupal require different versions of PHP. We've outlined them below:</p>
        <table class="table longtail four-column">
            <thead>
            <tr>
                <th class="drupal">Drupal 5</th>
                <th class="drupal">Drupal 6</th>
                <th class="drupal">Drupal 7</th>
                <th class="drupal">Drupal 8</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>PHP 4.4.0 - 5.2.x (5.2 recommended, 5.3 not supported)</p>
                    </td>
                    <td>
                        <p>PHP 4.4.0 or higher (5.2 recommended)</p>
                    </td>
                    <td>
                        <p>MPHP 5.2.5 or higher (5.3 recommended)</p>
                    </td>
                    <td>
                        <p>PHP 5.3.3</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>Not only does InMotion Hosting meet Drupal's minimum PHP requirements, our shared servers include a custom cPanel feature that allows you to switch between versions of PHP! You can easily switch between PHP 5.2, 5.3 and 5.4. If you choose VPS Hosting or Dedicated Hosting, our System Administration team can custom configure PHP for you, installing any available version that you would like!</p>
        <h2>Choose InMotion Hosting as your Drupal Hosting Provider!</h2>
        <p>Did we mention that InMotion Hosting is also a Drupal Association Organization Member? You can find us on Drupal's own website, listed as a quality hosting provider that supports the Drupal community directly. You can also <a href="/drupal-hosting/drupal-hosting-reviews">read customer reviews</a> and see what others have to say about us!</p>
        <p>InMotion Hosting offers several different hosting plans, capable of exceeded hosting requirements for both small and large Drupal websites. You can view more information about our Drupal hosting packages by <a href="/drupal-hosting">clicking this link</a>.</p>
        <p>Not only does InMotion Hosting meet Drupal's minimum PHP requirements, our shared servers include a custom cPanel feature that allows you to switch between versions of PHP! You can easily switch between PHP 5.2, 5.3 and 5.4. If you choose VPS Hosting or Dedicated Hosting, our System Administration team can custom configure PHP for you, installing any available version that you would like!</p>
        <h2>Choose InMotion Hosting as your Drupal Hosting Provider!</h2>
        <p>Did we mention that InMotion Hosting is also a Drupal Association Organization Member? You can find us on Drupal's own website, listed as a quality hosting provider that supports the Drupal community directly. You can also <a href="/drupal-hosting/drupal-hosting-reviews">read customer reviews</a> and see what others have to say about us!</p>
        <p>InMotion Hosting offers several different hosting plans, capable of exceeded hosting requirements for both small and large Drupal websites. You can view more information about our Drupal hosting packages by <a href="/drupal-hosting">clicking this link</a>.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
