{% extends 'longtail-drupal.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Drupal Shared Hosting{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Drupal Shared Hosting</h1>
    </div>
    <div class="span3">
        <p>Shared hosting solutions for Drupal Websites</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>If you're looking for Drupal Shared Hosting, InMotion Hosting has several different hosting packages available. We specialize in Linux servers and cPanel hosting, which is the best environment for Drupal website hosting. Our Support Department is available 24/7 to help answer any of your hosting questions, and our Drupal Education Channel includes tons of Drupal tutorials to help you get started.</p>
        <h3>Three different Shared Hosting Plans to choose from</h3>
        <p>InMotion Hosting offers three different shared hosting plans in which you can <a href="/drupal-hosting.html">host your next Drupal website</a> on: Launch, Power, and Pro. Each plan offers different features and specifications, allowing you to choose a Drupal Hosting plan to match your needs. Each plan includes unlimited diskspace and unlimited bandwidth, and we also provide file backup as well!</p>
        <table class="table table-striped">
            <caption class="a11y">Listing of Business Hosting Plan Specifications and Pricing</caption>
            <colgroup span="1" class="plan-specification-listing"></colgroup>
            <colgroup span="1"></colgroup>
            <colgroup span="1"></colgroup>
            <colgroup span="1" class="plan-specification-featured"></colgroup>
            <thead>
                <tr>
                    <td scope="col" class="tb-title">Package Specifications</td>
                    <th scope="col" class="tb-title">Launch</th>
                    <th scope="col" class="tb-title">Power</th>
                    <th scope="col" class="tb-title">Pro</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <button class="btn-link" data-toggle="collapse" data-target="#showme2">Sites On 1 Account - Included for FREE!</button>
                        <div id="showme2" class="collapse">
                            <p>Don't Be Fooled!</p>
                            <p>Unlike the others who claim to offer 6 sites on 1 account, or even 10 sites on 1 account, we're different because we don't have any hidden setup fees or hard to find additional monthly charges.</p>
                            <p>Our web hosting packages are plain and simple - host multiple websites on 1 account for one low price.</p>
                        </div>
                    </th>
                    <td>2</td>
                    <td>6</td>
                    <td>25</td>
                </tr>
                <tr>
                    <th scope="row">
                        <button class="btn-link" data-toggle="collapse" data-target="#showme3">Data Backup</button>
                        <div id="showme3" class="collapse">
                            <p>It is critical for you to have backups. We provide, included with your account, a complete backup of your Shared environment. This will occur automatically unless requested. The backup environment is as secure as the main Shared Web Hosting environment and the data is transmitted over an SSL encrypted connection. The following limits apply to the backups included with your account:</p>
                            <p>Restoring your account is FREE, but limited to once every 4 months. A fee of $49 will apply for any additional restores.</p>
                            <p>Sites larger than 10GB will not be backed up automatically. Options are available, please contact our Sales Department for current prices.</p>
                        </div>
                    </th>
                    <td>INCLUDED</td>
                    <td>INCLUDED</td>
                    <td>INCLUDED</td>
                </tr>
                <tr>
                    <th scope="row">
                        <button class="btn-link" data-toggle="collapse" data-target="#showme4">Disk Space</button>
                        <div id="showme4" class="collapse">
                            <p>Our Award Winning Business Class Web Hosting packages offer an unlimited amount of disk space on which to store your Web site. There are many factors you should be considering when choosing a web hosting company and we feel that disk space limitations shouldn't be one. Instead of worrying about limiting your megabytes &amp; gigabytes, we focus on the issues that really matter to business owners, namely, our exceptional Customer Support &amp; Quality of Service.</p>
                            <p>Certain restrictions apply, see <a href="/policies.html">Terms of Service</a> for details.</p>
                        </div>
                    </th>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <th scope="row">Max Speed Zone Enabled [ Find Your Zone ]</th>
                    <td colspan="3">Exclusively with InMotion Hosting!</td>
                </tr>
                <tr>
                    <th scope="row">FREE New Domain or FREE Transfer</th>
                    <td>1 Year</td>
                    <td>1 Year</td>
                    <td>1 Year</td>
                </tr>
                <tr>
                    <th scope="row">24/7 Toll-Free Phone Support</th>
                    <td>
                        <span class="ir ideal">Ideal</span>
                    </td>
                    <td>
                        <span class="ir ideal">Ideal</span>
                    </td>
                    <td>
                        <span class="ir ideal">Ideal</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <button class="btn-link" data-toggle="collapse" data-target="#showme6">Business Class Hardware - Up to 50% Faster</button>
                        <div id="showme6" class="collapse">
                            <p>Our Business Class Web Hosting servers are the highest grade Dell PowerEdge 2950s available.</p>
                            <ul>
                                <li>(2) Quad Core Xeon Processors</li>
                                <li>16GB - 32GB DDR RAM</li>
                                <li>15,000 RPM SAS Drives (50% faster than the commercial class 10,000 RPM SAS Drives used in our Value Class servers)</li>
                                <li>Dual Power Supplies</li>
                                <li>Battery Backed RAID 5</li>
                                <li>Dual Gigabit NICs</li>
                            </ul>
                        </div>
                    </th>
                    <td><span class="ir ideal">Ideal</span></td>
                    <td><span class="ir ideal">Ideal</span></td>
                    <td><span class="ir ideal">Ideal</span></td>
                </tr>
            </tbody>
        </table>
        <p><a href="/business-hosting">Click here</a> to see many other features available in our shared hosting plans.</p>
        <h3>Linux and cPanel Drupal Hosting</h3>
        <img src="{{ app.request.basepath }}/img/drupal-hosting/icon.centos.png" alt="centos and cPanel logos" />
        <p>If you're moving from another host that uses cPanel, you'll feel right at home with InMotion Hosting. Our shared servers run the popular cPanel and WHM software combination, which has become famous for making setting up and managing hosting easy enough for anyone to use. Our servers also run CentOS, a version of the Linux operating system. Over the last few years, CentOS has been included in the list of most popular Linux servers.</p>
        <h3>Drupal Tutorials and Technical Support</h3>
        <p>If you've ever used shared hosting before, you'll know that there's more to hosting than simply a web server. No two web servers are identical. When it comes to configuring your Drupal site or troubleshooting an error message, it's common to contact your shared hosting providers Support Department. The InMotion Hosting tech support team is available 24 hours a day, 7 days a week. Our team is very knowledgeable with Drupal, and with our years of shared hosting experience we can help troubleshoot most issues that will arise. We also have an extensive <a href="http://www.inmotionhosting.com/support/edu/drupal-7">Drupal Education Channel</a> in our Support Center, which is an our thorough how-to guide for using Drupal.</p>
        <p>If you host Drupal on Shared Hosting, consider InMotion Hosting as your next hosting solution. We want your business, and will earn it by providing solid hosting services and impressive customer service.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
