{% extends 'longtail-joomla.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Joomla Hosting you can Afford{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Joomla Hosting you can Afford</h1>
    </div>
    <div class="span3">
        <p>Low cost solutions for Joomla Hosting</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>Affordable Joomla Hosting is very hard to find because most often you'll end up with cheap hosting. Cheap hosting is unreliable hosting, which will cost you more in the long run. What you need is web hosting that you can afford for your Joomla website. InMotion Hosting offers inexpensive Joomla hosting for webmasters on a budget.</p>
        <h2>Who should buy low priced hosting?</h2>
        <p>If you're just getting started with your Joomla website, it's natural to look for low-cost joomla hosting. It's the same concept as getting your first used car as a teenager. You need something to get started with, and as you get more comfortable driving and your circumstances change, you can upgrade.</p>
        <p>If you are doing major business online, you'll need to pay a little more for a robust server than can handle all of your website's traffic. When you're learning how to use Joomla or initially launching your website, you most likely won't get a lot of activity right at first. As you put more time and into marketing and over time more people come to your website, then you may need more than an entry level hosting account. Much like after buying your first car, here at InMotion Hosting you can upgrade your hosting account at any time! Start off with what you need, and over time you can trade up to either a Virtual Private Server or a fully dedicated server.</p>
        <h2>Does InMotion Hosting offer affordable Joomla hosting?</h2>
        <p>We're glad you asked. Yes, we do offer <a href="/joomla-hosting/managed-joomla-hosting">managed Joomla hosting</a> that is affordable! If you're new to hosting, you'll learn there are several different types of hosting accounts, such as:</p>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/joomla-hosting-provider.png" class="sales-page-left-float" alt="joomla hosting provider" /><li>Shared hosting</li>
        <li>VPS Hosting</li>
        <li>Dedicated Server Hosting</li>
        <p>Shared hosting is like your first car, for many users it's an entry level hosting package. InMotion Hosting offers several different shared hosting plans, each one with it's own unique set of features. And as we're talking about price points specifically, you should know that each plan includes different subscription lengths as well. For example, if you want to save even more money, you can pay on a 24 month cycle instead of a 12 month plan. While shared hosting can be thought of as entry level hosting, a large majority of websites on the internet are on these types of hosting accounts.</p>
        <h2>Why is our hosting not "Cheap"?</h2>
        <p><a href="/joomla-hosting/cheap-joomla-hosting">Cheap hosting</a> for Joomla is unreliable. The servers are setup with cheap parts so they go down quite often. Working with the Support Department at a cheap host is very undesirable, you'll look forward to long hold times and less than helpful representatives.</p>
        <p>InMotion Hosting has been hosting websites since 2001. We've learned over time that Customer Service and Satisfaction is vital. Simply put, it's impossible to run a cheap web host. You can start a cheap hosting company, but it won't last.</p>
        <p>We focus on quality. From our high grade Dell servers to our intelligent Support Team, our efforts go into helping you succeed. Here at InMotion Hosting, we can offer affordable Joomla hosting because we know you're going to love our service! You'll tell your friends, and they're tell their friends. When you're not wasting precious resources on a Marketing Team to hide your company's faults, you can pass those savings to the Customer. We keep our hosting inexpensive by keeping our customers happy!</p>
        <p>Our Business Class Hosting accounts are great for small and mid-sized businesses. <a href="/business-hosting">Click here</a> to see our business class shared hosting accounts. As we mentioned, we also offer low priced VPS Hosting and blazing fast Dedicated Servers for those of you running Joomla websites that need more beef!</p>
    </div>
    <!--  end span8  -->
{% endblock %}
