{% extends 'longtail-joomla.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Best Joomla Hosting{% endblock %}

{# keywords #}
{% block keywords %}cpanel vps optimized, vps with cpanel hosting, vps cpanel host{% endblock %}

{# description #}
{% block description %}Software specifically designed to work with a VPS, cPanel VPS Optimized provides better performance without a loss in functionality.{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Best Joomla Hosting</h1>
    </div>
    <div class="span3">
        <p>How to find the Best Joomla Host</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>When managing a website using Joomla, many users find themselves in an almost endless loop searching for the top Joomla hosting available. At a minimum you need to have a web hosting account that supports both PHP and MySQL. Most first time webmasters look for web hosting based upon price, but they quickly learn there are many other factors besides price to take into consideration when looking for the best hosting for Joomla.</p>
        <h3>Are you in search of the best host for Joomla?</h3>
        <p>Webmasters looking for the best web hosting for Joomla usually fall into two groups:</p>
        <ol>
            <li>
                <p>Those building a Joomla website for the first time</p>
            </li>
            <li>
                <p>Those who currently maintain a Joomla site but are looking to find another hosting provider.</p>
            </li>
        </ol>
        <p>When looking for a better Joomla hosting provider, take a step back and really define your requirements. A good Joomla hosting provider should offer the following:</p>
        <li>Expertise in configuring servers for Joomla</li>
        <li>Fast Joomla hosting servers</li>
        <li>Joomla servers with 99.9% uptime</li>
        <li>Great Joomla technical support</li>
        <li>The ability to upgrade your hosting plan at any time</li>
        <p>Think about it! You need to host your Joomla website on a server that is always up, is fast, and offers the best Support Team to help you when you have questions. All of these are traits of the top Joomla hosts. If you sign up with a <a href="/joomla-hosting.html">Joomla hosting</a> provider that misses one of these features, you will be let down, and you'll once again be on the lookout for a new host.</p>
        <h3>Web Hosting Joomla Style!</h3>
        <p>Joomla currently requires PHP 5.3+, MySQL 4.0+, and a slew of php extensions. If none of that makes any sense to you, don't worry because we've got you covered. All of our hosting servers are properly configured to work with Joomla right out of box!</p>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/joomla-pre-installation-check.gif" alt="joomla pre installation check image" />
        <h3>Advanced Server Configuration</h3>
        <p>Are you writing custom solutions for your Joomla website that require a unique server setup? With our VPS Hosting and Dedicated Server solutions, you can take root access to your server and make those adjustments you need. Our System Administration team can also assist with many of the additional server changes that you may need.</p>
        <h3>Fastest Joomla Hosting</h3>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/fast-joomla-hosting.png" class="sales-page-left-float" alt="fast joomla hosting image" /><p>InMotion Hosting's 15K SAS Hardrives make your Joomla powered website run up to 20% faster than the competitors. You'll notice improved database performance too! We run MySQL locally, which decreases time when Joomla makes calls to your database. We've also optimized database caching to speed up SQL queries. The best hosting Joomla servers are fast, don't be quick to forget!</p>
        <h3>99.9% Uptime</h3>
        <p>Need your Joomla host to be online, all the time? InMotion Hosting has 99.9% uptime!</p>
        <h3>The Best Joomla Technical Support</h3>
        <p>InMotion Hosting knows Joomla! Our online Support Center is driven by Joomla, and we have over 100 Joomla tutorials! We have a tutorial for <a href="http://www.inmotionhosting.com/support/edu/joomla-25/getting-started/how-to-install-joomla-25">installing Joomla 2.5</a>, <a href="http://www.inmotionhosting.com/support/website/joomla-25/how-to-write-a-new-article">creating pages</a>, and much more.</p>
        <h3>Secure Joomla hosting</h3>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/secure-joomla-hosting.png" class="sales-page-left-float" alt="secure joomla hosting image" /><p>Before you even begin running a Joomla website, we've taken <a href="/joomla-hosting/secure-joomla-hosting.html">steps to secure our servers</a> and help prevent malicious activity targeted towards your site. Our servers are configured with suPHP, which runs Joomla sites under your server user rather than the standard 'nobody' Apache user. This helps prevent other accounts on your server from accessing your files and eliminates the need to set insecure 777 permissions. Our servers are also configured with an Apache module called mod_security, which adds another layer of security by blocking many types of injection like attacks.</p>
        <p>InMotion Hosting has been hosting Joomla websites since 2005. Not only does our own Support Center run off of Joomla, it is filled with Joomla 2.5 tutorials as well! Our hosting servers are fast, always up, and are backed by a 24/7 Support Department. If you're looking for the best Joomla host, look no further than InMotion Hosting! If you're just getting started with your website, our Shared Hosting should be suitable. If your website is established and you're getting significant traffic, we recommend looking into our <a href="/vps-hosting">VPS Hosting</a> and <a href="/dedicated-servers">Dedicated Hosting</a> plans.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
