{% extends 'longtail-joomla.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Buying Joomla Hosting{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Buying Joomla Hosting</h1>
    </div>
    <div class="span3">
        <p>How to purchase Joomla Web Hosting through InMotion Hosting</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>If you want to buy Joomla hosting, you can't go wrong with InMotion Hosting! We have been in the web hosting industry since 2001 and have acquired a great deal of knowledge and experience over the years. We understand what customers need from their web hosting, and our strong emphasis on customer satisfaction helps us provide those needs.</p>
        <h2>What do I get with InMotion Hosting?</h2>
        <p>The lights in our offices are on all day every day, because that's when we're here! Our friendly and very informative Support Team is available any time you need assistance with your account. The bottom line is that you get what you need, <a href="/joomla-hosting">great Joomla website hosting</a>. Our top priority is meeting your top priorities! Team up with InMotion Hosting to get:</p>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/imh-team.jpg" class="sales-page-right-float" alt="IMH team" /><li><a href="/joomla-hosting/affordable-joomla-hosting">Inexpensive Joomla Hosting</a></li><li>Fast account setup</li>
        <li>An easy to use control panel</li>
        <li>24/7/365 Technical Support</li>
        <li>Individual attention focused to help you succeed with your Joomla website!</li>
        <h2>How can I purchase and pay for my hosting account?</h2>
        <p>If you have any questions before purchasing hosting through InMotion Hosting, our Sales team is more than happy to speak with you. When we've had a chance to explain whey we're your <a href="/joomla-hosting/best-joomla-hosting">best option for Joomla hosting</a>, one of our Sales Representatives can walk you through the order process. If you prefer to learn more about our Joomla hosting packages through our website, we've have lots of thorough information here to help you make an informative decision.</p>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/buy-joomla-hosting.jpg" class="sales-page-right-float" alt="buy joomla hosting" /><p>When you're ready to buy Joomla hosting, click any of the three ORDER NOW buttons on the right of this page. The purchase process is easy, and you can pay using a Visa, MasterCard, Discover, American Express, or Purchase Order / Check.</p>
        <h2>What happens after I sign up?</h2>
        <p>After purchasing Joomla hosting through InMotion Hosting, we're quick to our feet in helping get you setup and started. After signing up, we call all new customers to find out what your hosting requirements are and if you have any questions. After the call, you'll receive an email with all your account information and details to help you with getting setup. We also email a receipt with every purchase, so you know exactly what you've bought. And no, there's no hidden charges!. If you have any questions along the way, you can contact our Support Department 24/7/365.</p>
        <p>Here at InMotion Hosting, we want your business. Host your next Joomla website with us and sign up today! If this is your first website, try our Business Class Hosting Joomla Packages. If you're already running a Joomla website and know your website is busier than the average, our <a href="/joomla-hosting/joomla-vps-hosting">Joomla VPS Hosting</a> and Dedicated Hosting plans are built to perform.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
