{% extends 'longtail-joomla.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Joomla Reseller Hosting{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Reselling Joomla Hosting Accounts</h1>
    </div>
    <div class="span3">
        <p>An overview on how to Resell Joomla Web Hosting Accounts</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>Joomla reseller hosting allows you to sell Joomla hosting and make a profit. It doesn't require that you own your own physical server or know how to setup a web server. As a Joomla reseller, you do more marketing than account setup.</p>
        <h3>How to resell Joomla Hosting through InMotion Hosting</h3>
        <h4>Reselling Overview</h4>
        <p>As a Joomla hosting reseller, your job is to provide your customers with a hosting account in which they can <a href="/joomla-hosting.html">host their Joomla website</a>. You can become your own hosting company and in essence sell hosting accounts that are marketed towards Joomla users.</p>
        <h4>Step 1. Sign up for hosting that includes Web Host Manager</h4>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/whm-cpanel.logo.jpg" class="sales-page-left-float" alt="whm and cpanel logo images" /><p> Web Host Manager (WHM) is a tool you can use to easily manage a web server. Using point and click steps, you can create cPanel hosting accounts, upgrade server software, and so much more. It is this software that you will use to create hosting accounts to resell. All VPS and Dedicated hosting accounts through InMotion Hosting include WHM.</p>
        <h4>Step 2. Market your new hosting services</h4>
        <p>After you've purchased an account that includes WHM, you're ready to become a joomla reseller. The next thing you need is a few customers! At this point in the process you'll want to experiment with different advertising techniques, monitoring closely for what works and what flops. Keep in mind that a great feature you can speak of is <a href="/joomla-hosting/fast-joomla-hosting.html">how fast your Joomla host is</a>!</p>
        <h4>Step 3. Create cPanel accounts for your Customers</h4>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/create-a-new-cpanel-account.gif" alt="create new cpanel account image" />
        <p>As soon as you have signed up a client that wants Joomla hosting, the next thing you must do is give them a hosting account! Within WHM you can easily <a href="http://www.inmotionhosting.com/support/edu/whm/creating-and-managing-accounts">create a new cPanel account</a> for each of your clients. These control panel accounts give each of your customers the ability to independently:</p>
        <ul>
            <li>Create and Manage their own email accounts</li>
            <li>Make and Backup their own databases</li>
            <li>And most importantly, perform all of the necessary steps to get a Joomla website up and running</li>
        </ul>
        <p>Reselling Joomla hosting with WHM and cPanel takes more leg work than standard reselling techniques, but this extra effort on your part will pay off with more profit! Because you're in control of the reselling and account setups, there's no need to only make percentages of your potential profit because you're paying for someone else to do this work for you. Invest time in learning the software, and you can become your own Joomla hosting provider.</p>
        <p>Take a few minutes today to learn more about our hosting accounts that come with Web Hosting Manager. Remember that VPS and Dedicated hosting accounts are the plans that give you WHM access, a vital tool in creating and reselling your own Joomla hosting! When you're ready, <a href="/joomla-hosting/buy-joomla-hosting.html">click here for more information</a> about buying your hosting account.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
