{% extends 'longtail-joomla.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Joomla Dedicated Server{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Joomla Dedicated Server</h1>
    </div>
    <div class="span3">
        <p>Joomla Dedicated Hosting Plans</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>If you're looking for a Joomla Dedicated Server, we know that you're serious about Joomla Hosting and you need the best. You may have outgrown Shared and VPS Hosting, or maybe you need to be behind the wheel of a fully stocked and ready to go joomla dedicated server. Either way, you're playing in the big leagues and need to find <a href="/joomla-hosting">Joomla hosting</a> that can step up to the plate as well.</p>
        <h3>Break free from shared hosting limitations</h3>
        <p>Shared hosting is an inexpensive way for many users to get started with hosting websites. Because you're literally "sharing" the server with other users, you need to host fair as well. This is like when your parents tell you to play nice and share. In shared hosting, there's only so much RAM you can use and only so much time your site can wait in line to use the processors. With a fully dedicated joomla server, you can finally be stingy! All that RAM, it's yours. Those blazing fast quad core processors, they're devoted to you, and how dare someone else's php scripts even touch those beauties! A joomla dedicated hosting solution will release you from the normal shared hosting constraints and allow you to focus on the more important details of running a website.</p>
        <h3>High Performance Hardware</h3>
        <p>Because we're talking about fully dedicated servers, we know you want all the technical details. <a href="/dedicated-servers">Full server specifications can be found here</a>, and some highlights are below:</p>
        <table class="table longtail">
            <thead>
                <tr>
                    <th>
                        <p>Hardware</p>
                    </th>
                    <th>
                        <p>The Technical Details</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h5>Processors</h5>
                        <p>It's 2012, and no one should be running a dedicated server with a single processor. All of our Dedicated Server plans include Intel&reg; processors with multiple cores.</p>
                        <p>Our top joomla dedicated server:</p>
                        <li>Includes Intel&reg; Xeon&reg; Processors: Top-of-the-line processors built for intense data crunching, not found in any ordinary computer</li>
                        <li>Features Intel's&reg; Turbo Boost Technology: Ever play around with overclocking your computer to make it run faster? With Turbo Boost Technology, our servers dynamically overclock themselves when maximum computing power is needed.</li>
                    </td>
                    <td>
                        <h5>Options</h5>
                        <p>Intel&reg; Xeon&reg; E3-1230<br />
                        3.20GHz, 8MB Cache<br />
                        Turbo Quad Core /8T</p>
                        <p>Intel&reg; Xeon&reg; E3-1220<br />
                        3.10GHz, 8MB Cache<br />
                        Turbo Quad Core /4T</p>
                        <p>Intel&reg; Core&reg; E2220/E5400<br />
                        Dual Core /2T</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>RAM</h5>
                        <li>Carefully chosen RAM: The more RAM the better, right? Well, yes, but there's more. Server CPUs interact with system RAM based on CPU Channels and RAM Ranks. If you don't choose the RAM type and number of DIMMs that matches the requirements of the CPU, the RAM will operate at a lower speed. For example, properly matched CPU and RAM will result in the RAM functioning at 1333Mhz. Take the very same RAM and improperly match it to a CPU and that RAM will operate at 800Mhz! Our System Administration team has carefully matched our server's CPUs with our RAM to achieve optimal speeds and maximize performance.</li>
                        <li>Much more than you may need: The base installation of Joomla 2.5 uses around 14MB or RAM. Multiply that by 100 simultaneous website visitors, and you're looking at over 1GB of RAM! Preparation is key, and that's why our Dedicated servers are loaded with 2GB - 8GB of RAM.</li>
                    </td>
                    <td>
                        <h5>Options</h5>
                        <p>8GB of RAM</p>
                        <p>4GB of RAM</p>
                        <p>2GM of RAM</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Disk Space &amp; Bandwidth</h5>
                        <p>Your server relies on bandwidth to deliver all of your web pages, so don't cut yourself short. Our Dedicated Server solutions include between 2.5TB and 4.0TB of monthly bandwidth.</p>
                        <p>Combine tons of bandwidth with large capacity harddrives, and you've got a solid server waiting for you to upload your site and go!</p>
                    </td>
                    <td>
                        <h5>Options</h5>
                        <p>500GB of disk space and 4TB of monthly bandwidth</p>
                        <p>500GB of disk space and 3TB of monthly bandwidth</p>
                        <p>2 x 160GB of disk space and 2.5 TB of monthly bandwidth</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Fully Customizable Setups</h3>
        <p>With a dedicated joomla server, it's yours to configure as you need. All of our servers have the CentOS Linux operating system installed. If you know your stuff, take root access to the server and configure all the details. Not ready for complete control of the server - we can help! Trust our System Administration team to assist you in configuring a wide array of server modules and extensions.</p>
        <p>InMotion Hosting's Joomla dedicated server hosting sets you up for the <a href="/joomla-hosting/best-joomla-hosting.html">best joomla hosting</a> for your site. For a full listing of our plans, please see our <a href="/dedicated-servers">Dedicated Server</a> solutions page. If you're not quite ready for a server all to yourself, get the dedicated benefits without the dedicated costs by checking out our <a href="/vps-hosting">VPS Hosting</a> plans.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
