{% extends 'longtail-joomla.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Joomla cPanel Hosting{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Hosting with cPanel and Joomla</h1>
    </div>
    <div class="span3">
        <p>The Benefits of hosting Joomla using cPanel</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <img src="{{ app.request.basepath }}/img/joomla-hosting/cpanel.logo.jpg" class="sales-page-left-float" alt="cpanel logo" /><p>Joomla cPanel hosting is very popular because of cPanel's ability to make common hosting tasks easy. Installing Joomla can usually be done using a one-click installer, such as Fantastico. You can also easily manage your Joomla site files using cPanel's File Manager. When it comes to working with your Joomla database, cPanel includes phpMyAdmin, one of the most popular database client's available. All of these features help contribute to InMotion Hosting being a great <a href="/joomla-hosting/joomla-hosting-service.html">joomla hosting provider</a>.</p>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/cpanel-joomla.gif" alt="cpanel joomla image" />
        <h3>Installing Joomla with Fantastico</h3>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/icon.fantastico.jpg" class="sales-page-left-float" alt="fantistico logo" /><p>When installing Joomla 2.5 manually, there is quite a bit of downloading, uploading, and configuring that is needed. If you've never manually installed a web program before, you may find this way of installation more than difficult. Common among many hosting providers is a one-click tool for installing many web applications.</p>
        <p>InMotion Hosting offers Fantastico in our cPanel. Fantastico is a program that helps you easily install other programs. It is a one-click type installer, and Joomla is one of the programs it will install for you. Fantastico installation steps are very easy, and follow this model:</p>
        <ol>
            <li>Tell Fantastico where you want Joomla installed</li>
            <li>Enter a title for your site, and create a username / password</li>
            <li>Click the "Install" button</li>
        </ol>
        <p>Fantastico does all of the hard work for you, within about a minute. It uploads Joomla to your account, configures a database, and runs through the standard installation steps.</p>
        <h3>Managing Joomla Files</h3>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/icon.file-manager.jpg" class="sales-page-left-float" alt="file manager icon" /><p>cPanel includes a tool they call File Manager that you can use to manage your files. File Manager is a very robust file editor, with many different uses.</p>
            <table class="table longtail">
                <thead>
                    <tr>
                        <th>
                            <p>With the File Manager, you can:</p>
                        </th>
                        <th>
                            <p>Common uses of the File Manager with Joomla include:</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <li>Create new files</li>
                            <li>Edit existing files</li>
                            <li>Copy and Move files</li>
                            <li>Compress and Extract files</li>
                        </td>
                        <td>
                            <li>Manually installing Joomla</li>
                            <li>Editing Joomla's configuration.php file</li>
                            <li>Making HTML and PHP changes to templates and other files</li>
                        </td>
                    </tr>
                </tbody>
            </table>
        <h3>Managing Your Joomla Database</h3>
        <h4>Command Line-Interface VS. a GUI</h4>
        <p>When working with any database, you can use either a command line-interface or a graphical user interface. When using the command line, you really need to know what you're doing. Not only do you need SSH access to your server, but you'll need to have a good understanding of SQL, a language used for interacting with a Database. If this doesn't sound like you, you may be more interested in learning to use phpMyAdmin, a graphical user interface for managing a database. A graphical user interface (GUI) is something like a "one-click" tool. For example, if you wanted to create a new database, with a GUI you can click a button that says "create database". If you were using the command line, you would have to manually type out the <em>CREATE DATABASE my_database_name</em> command.</p>
        <h4>Using Joomla and phpMyAdmin</h4>
        <p>phpMyAdmin is one of the most popular MySQL GUI's. It includes easy tools for beginners, and for more advanced users it allows them to run SQL statements as if they were at the command line. All InMotion Hosting accounts include access to phpMyAdmin, which will take away a lot of anxiety you may have if you need to work directly with your database.</p>
        <h3>InMotion Hosting offers cPanel Joomla Hosting!</h3>
        <p>Did we mention that all InMotion Hosting accounts run off of cpanel? You'll have access to cPanel's File Manager and also phpMyAdmin. cPanel comes with many other utilities that we've hadn't had time to mention! Within cPanel you can create email accounts, see website statistics, and much more. <a href="/joomla-hosting.html">Find more information here</a> about our Joomla Hosting plans!</p>
    </div>
    <!--  end span8  -->
{% endblock %}
