{% extends 'longtail-joomla.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Linux Hosting Solutions for Joomla{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Linux Hosting Solutions for Joomla</h1>
    </div>
    <div class="span3">
        <p>Running Joomla on a CentOS Server</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>Running Joomla on CentOS is a win win solution for web developers. Not only is the combination cost effective, it is one of the <a href="/joomla-hosting/cheap-joomla-hosting.html">most high quality server + software options</a> available for managing a website.</p>
        <h3>Free and OpenSource means lower costs and better quality</h3>
        <p>OpenSource software has a major advantage over other software types, they're built with love! The Joomla CMS and the CentOS Operating system are both opensource. This means that the majority of developers working on these programs do the work for free. They don't charge for their services because they believe in the products and take pride in their accomplishments. When you really care about what you're doing you usually put your best effort in, and with Joomla and CentOS it has shown!</p>
        <table class="table longtail">
            <thead>
                <tr>
                    <th colspan="2">
                        <p>Running Joomla on a CentOS server is very cost effective.</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h5>Software Costs</h5>
                        <p>You don't have to pay for Joomla or for CentOS, they're completely free to install and use.</p>
                    </td>
                    <td>
                        <h5>Technical Support</h5>
                        <p>When you need help, there are many free and helpful online communities more than happy to assist with your questions.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/joomla-hosting-provider.png" class="sales-page-left-float" alt="joomla hosting provider image" /><p>According to trends.builtwith.com, 10.95% of the top million websites on the internet are using Joomla to power their website. With so many websites using Joomla, this goes to show the quality and trust behind this Content Management System.</p>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/icon.centos.png" class="sales-page-left-float" alt="centos image" /><p>Did you know that of the top 500 supercomputers in the world, over 90% of them are running Linux? As CentOS is a Linux operating system, you know that you're working with an operating system whose relatives are royalty!</p>
        <p>Recent data also shows that 60% of the <a href="/joomla-hosting/best-joomla-hosting-providers.html">best hosting providers</a> use the cPanel software for managing their hosting servers. We're talking about millions of websites running on top of cPanel, which is a very big deal. Did you know that cPanel recommends those hosting companies use CentOS as the operating system for running their hosting servers? The biggest names in the business use and recommend CentOS!</p>
        <h3>Are you looking for a Joomla / Linux hosting server?</h3>
        <p>If you weren't already aware of the benefits of a Joomla Linux install, we hope we've shed some light on the advantages. InMotion Hosting's servers operate on LAMP stacks, meaning we offer Linux (CentOS), Apache, MySQL and PHP. We have various hosting plans including Shared Hosting, VPS Hosting, and Dedicated Server Hosting.</p>
        <p>With CentOS and Joomla you can't go wrong. These are juggernauts of the web hosting industry, and you don't have to be a big shot to use them. Choose Joomla hosting through InMotion Hosting and you've got a winning combination. All of our Shared Servers, Virtual Private Servers, and fully Dedicated Servers are carefully configured with the CentOS operating system. All there's left to do is use our one-click install tools to load Joomla, and you're ready to manage your very own Joomla website. Follow this link to <a href="/joomla-hosting">learn more</a> about our Joomla hosting features!</p>
    </div>
    <!--  end span8  -->
{% endblock %}
