{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}Best Dedicated Server Hardware &amp; Support | InMotion Hosting{% endblock %}

{# keywords #}
{% block keywords %}best dedicated hosting, best dedicated servers{% endblock %}

{# description #}
{% block description %}The best dedicated hosting that provides you with the a 30 day money back guarantee, quality hardware, and a knowledgeable support team.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>What You Should Look for When Looking for the Best</h1>
    </div>
    <div class="span3">

    </div>
{% endblock %}

{% block content %}
    <p>When looking for the best dedicated hosting solution, how do you find the one that's right for you? There are several things that you need to consider. Hardware, while important, shouldn't be the deciding factor. How does their support rate? Are they constantly suffering network downtime? Do they offer a guarantee?</p>
    <p>Those are good questions you should be researching and asking. So how does InMotion stack up?</p>

    <h2>How does InMotion stack up?</h2>
    <h3>Network</h3>
    <p>We utilize multiple ISP's in our data centers. These are here as a redundancy in case of failure. No provider is able to provide 100% uptime. We understand that problems do happen to ISP's, therefore, we use multiple networks to reduce any failure of service on our part.</p>

    <h3>Money Back Guarantee</h3>
    <p>InMotion offers a 30-day money back guarantee on our dedicated server plans. Give our service a try and experience what it is like having InMotion has your hosting provider.</p>

    <h3>Quality Hardware</h3>
    <p>We understand the frustrations of something unexpected happening. At InMotion, we try to minimize this by using only quality hardware purchased from Dell.</p>
    <p>If something should happen, our system administrators are on call 24/7 to fix any issues within 2 hours.</p>

    <h3>Staff</h3>
    <p>Our staff is devoted to providing excellent customer service. So much so, that we have a A+ rating from the Better Business Bureau. From our customer support, to billing, to our customer community team, our main focus is to give you the best experience.</p>

    <h2>Tips for Finding a Quality Hosting Company</h2>
    <p>Below are some tips that you should be on the look out for when selecting a hosting company:

    <table class="article">
        <tr>
            <td width="20%"></td>
            <td width="40%">Sales</td>
            <td width="40%">Support</td>
        </tr>
        <tr>
            <td><p>Friendly</p></td>
            <td><p>The sales staff should be approachable. You should want to talk to them so that both of you can set the proper expectations of what each has to offer.</p></td>
            <td><p>A friendly support team is valuable because they will be there to help you regardless of how frustrating the situation may be.</p></td>
        </tr>
        <tr>
            <td><p>Helpful</p></td>
            <td><p>The sales team should be helping you solve a problem. They should be able to field your general queries or give you an appropriate follow up response.</p></td>
            <td><p>A helpful support team will you provide solutions or be able to troubleshoot issues. They are available to you at all hours of the day to give you the answer you need.</p></td>
        </tr>
        <tr>
            <td><p>Knowledgable</p></td>
            <td><p>Above all, the sales team should be knowledgable about the product they are selling. They should have an understanding about how hardware specs works to interact with your application or website.</p></td>
            <td><p>A support team should be able to give you answers to your questions or can quickly troubleshoot an issue. They should be able to use their experience to give you solutions that work.</p></td>
        </tr>
    </table>
{% endblock %}
