{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}Cheap Dedicated Servers at an Affordable Price | InMotion Hosting{% endblock %}

{# keywords #}
{% block keywords %}cheap dedicated servers, cheap dedicated hosting server, cheapest dedicated hosting, affordable dedicated server{% endblock %}

{# description #}
{% block description %}Dedicated servers by InMotion offers customers an affordably cheap dedicated hosting solution for all website or application needs.{% endblock %}

{# intro #}
{% block intro %}
<h1>Cheap Dedicated Server Plans for Your Business</h1>
<p class="intro"></p>
<p>While researching different hosting solutions, you realize that an inexpensive, affordable and cheap dedicated server package is what you need. But when comparing different plans, what stands out the most are the prices which can range anywhere from $150 to $800 or more a month!</p>
<p>So what is the <a href="http://www.inmotionhosting.com/dedicated_servers/articles/dedicated-server-price.html">best choice for you</a>?</p>
<p>That depends. You can purchase a dedicated server that on paper is very impressive. But when something goes wrong and it comes time to talk to a support tech, they leave you hanging. At InMotion Hosting, not only do you get a great machine, but also the support that you need to keep your website running.</p>
{% endblock %}

{% block content %}
<table class="article">
    <tr>
        <th width="33%">Quality Hardware</th>
        <th width="33%">Web Hosting Specific Operating System</th>
        <th width="33%">Knowledgeable Support Team</th>
    </tr>
    <tr>
        <td style="text-align:center;"><img src="http://img01.inmotionhosting.com/_img/dedicated_servers/image_cheap_dedicated_server_computer.jpg" alt="Quality Server Hardware" /></td>
        <td style="text-align:center;"><img src="http://img01.inmotionhosting.com/_img/dedicated_servers/icon_cheap_dedicated_hosting_centOS.png" alt="Linux CentOS Logo" /></td>
        <td style="text-align:center;"><img src="http://img01.inmotionhosting.com/_img/dedicated_servers/imh_support_center_logo.png" alt="InMotion Hosting Support Center Logo" /></td>
    </tr>
    <tr>
        <td>At InMotion Hosting, we buy only from Dell. We do this because we know Dell uses only the best parts and test each machine against their rigorous standards. Our machines are not made up of random parts mated together just to boost specs. We have carefully chosen each component to maximize performance.</td>
        <td>CentOS is our operating system of choice. We do this because CentOS built specifically for web servers. Best of all, it is offered as a free operating system which lets us pass the savings to you. This is how we are able to offer a cheaper dedicated hosting alternative to our competitors.</td>
        <td>Our Systems Support Representatives are experienced in creating websites, database management, programming, or hacking their machines for fun. We hire these types because we believe that every background is unique and can bring to the team the type of expertise needed to help solve the most complex issues.</td>
    </tr>
</table>
<p><a href="http://www.inmotionhosting.com/dedicated_servers/articles/inexpensive-web-hosting.html" >Click here</a> to read about how to get an inexpensive dedicated server.</p>

<h3>More About InMotion Hosting's Support Team</h3>
    <ul>
        <li>Our 10+ years of experience has given us the knowledge to help you perform: Experienced with MySQL, PHP and Apache, we are ready to work with you to get your server optimized.</li>
        <li>We understand how hardware and software mix, sometimes for the best, but at times for the worst. We bring this knowledge to you.</li>
        <li>Whether helping to troubleshoot server side issues, or swapping hardware, we are available 24/7 to keep you online.</li>
    </ul>

<h2>Cheap Dedicated Hosting Plans</h2>
<p>To find out more about how are plans differ, read more <a href="http://www.inmotionhosting.com/dedicated_servers/articles/dedicated-hosting-plans.html">here</a>.</p>
{% endblock %}
