{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}Dedicated Hosting Plans | InMotion Hosting{% endblock %}

{# keywords #}
{% block keywords %}dedicated hosting plans, dedicated server plans{% endblock %}

{# description #}
{% block description %}Dedicated hosting plans for every user who needs their own high performance server.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Dedicated Hosting Plans For Every User</h1>
    </div>
    <div class="span3">

    </div>
{% endblock %}

{% block content %}
    <p>At InMotion, we offer three levels of dedicated servers. Each offers a robust solution for your hosting needs. If you are looking for power and performance to push through the most demanding of tasks, then we can get you setup.</p>

    <p>Each plan is geared to keeping you protected, keeping you online, and providing a safe and reliable solution for you and your company.</p>

    <table class="article">
        <tr>
            <th width="33%">Essential</th>
            <th width="33%">Advanced</th>
            <th width="33%">Elite</th>
        </tr>
        <tr>
            <td>
                <p>Built for the casual user who needs the horsepower to run interactive websites, resell hosting, or the developer looking for a stable environment above a VPS. No more sharing resources with other customers. This server is yours to run.</p>
            </td>
            <td>
                <p>For the power user who needs to run the most demanding of tasks, an Advanced dedicated server is a mid-range solution for all of your hosting needs. Whether you are hosting your clients' websites, developing applications, or running a small business, this server has the performance and reliability you need.</p> 
            </td>
            <td>
                <p>A perfect solution for the corporate enterprise level firm, creative professionals and developers who need nothing but the best hardware. Fast RAID drives, CPU, RAM, and software mix gives the performance you expect. </p>
            </td>
        </tr>
    </table>
    <h2>Our Dedicated Hosting Plans</h2>
    <p>Check out our plans and see which one is right for you. Questions? Call us today at (888) 321-4678.</p>
{% endblock %}
