{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}Dedicated vs VPS Hosting | InMotion Hosting{% endblock %}

{# keywords #}
{% block keywords %}dedicated vs vps hosting, vps versus dedicated hosting, dedicated or vps servers{% endblock %}

{# description #}
{% block description %}Choosing between a dedicated or a VPS hosting solution? What you should know.{% endblock %}

{# intro #}
{% block intro %}
<h1>Dedicated vs VPS Hosting</h1>
<p>What are the differences between a dedicated server and a VPS? Which one is right for you?</p>

<p>Some advantages of a dedicated server over a VPS include:</p>

<ul>
    <li>No shared resources</li>
    <li>Full control</li>
    <li>Improved performance</li>
</ul>
<h3>No Shared Resources</h3>
<p>With a dedicated server, all of the hardware specs are yours to use. Resources are not shared with any other users since there are no other users on the machine. There are no virtual drives or containers for other people to use.</p>
{% endblock %}

{% block content %}
<p>Since there are no shared resources and you cannot affect others with applications you want to install, you can install any applications as you see fit. You can take the dedicated server to its limits and not worry about limiting your application or website.</p>

<h3>Full Control</h3>
<p>With root access, you can modify the server as you want when you want it. Modify server side files and change system settings to cater to what you need to do.</p>

<h3>Improved Performance</h3>
<p>Since the server is all yours and you have full control of how programs behave, server performance is faster. You also do not need to worry about the server slowing severly because of a VPS constumer heavily loading the CPU and RAM.</p>
{% endblock %}
