{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}Reselling Hosting With a Dedicated Server | InMotion Hosting{% endblock %}

{# keywords #}
{% block keywords %}Become a hosting resell provider with a dedicated server by InMotion Hosting. We include free use of Web Hosting Manager and cPanel with all plans.{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Running Your Own Hosting: What You Need to Know</h1>
    </div>
    <div class="span3">

    </div>


{% endblock %}

{% block content %}
    <p>So you've decided or are thinking about running your own hosting. Either as a developer or web designer looking for a place to host your clients' websites, or just looking to brand and then sell hosting, InMotion has what you need.</p>

    <p>So where do you being?</p>

    <p>There are two main programs that you will need to use. The first is Web Hosting Manager (WHM) which as the name implies, allows you to manage your customers. The second is cPanel which is a hosting manager for you customers.</p>

    <h2>Web Hosting Manager &amp; cPanel Indepth</h2>

    <p>Let's take a more indepth look at what each of the programs allows you to do:</p>

    <div class="manage">
        <h3>WHM</h3>
        <ul>
            <li>Create and manage customer hosting accounts:<br />Create as many cPanel accounts needed. WHM also lets you suspend, unsuspend, or close accounts.</li>
            <li>Brand cPanel accounts:<br />Brand your company on every cPanel account you create.</li>
            <li>Create hosting packages to sell:<br />Set data transfer limits, disk space, number of databases allowed, how many email accounts and FTP accounts, and domains.</li>
            <li>Secure your server and your customers:<br />IP blocking, Spamd Startup, and mod security will help keep your server secure.</li>
        </ul>
    </div>

    <div class="manage">
        <h3>cPanel</h3>
        <ul>
            <li>Manage domains:<br />Create or delete sub-domains, add-on and parked domains.</li>
            <li>Email management:<br />POP3 and IMPA accounts available, email forwarding, and Spam Assassin spam protection.</li>
            <li>File management:<br />FTP account creation, file backups, and online file manager control.</li>
            <li>File protection:<br />Password protect directories, block individual or multiple IP addresses, SSH/Shell access.</li>
            <li>CRON job scheduling:<br />Schedule commands or shell scripts to run at specific times of the day.</li>
        </ul>
    </div>

    <h2>Reselling Hosting As a Developer or Web Designer</h2>

    <p>If you are planning on having a lot of customers on your server, and you build your applications that require intense processing power, then a dedicated server has the hardware requirements you need.</p>
{% endblock %}
