{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}Fast Dedicated Servers | InMotion Hosting{% endblock %}

{# keywords #}
{% block keywords %}fast dedicated servers, fast servers, speedy dedicated hosting{% endblock %}

{# description #}
{% block description %}Fast dedicated servers hardware, network and support keeps you online and performing to the max.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Speedy Server &amp; Network Features</h1>
    </div>
    <div class="span3">

    </div>
{% endblock %}

{% block content %}
    <p>At InMotion, we have fast dedicated server plans that performs at the speeds you expect. Our fast hardware, network connect, and support keeps you online and in front of your customers.</p>

    <h3>Fast Hardware</h3>

    <table class="article_intro">
        <tr>
            <th width="50%">CPU</th>
            <th width="50%">RAM</th>
        </tr>
        <tr>
            <td>
                Each CPU uses multiple cores and threads to decrease the time it takes to complete processes. Tasks are completed faster and gives your users a quick response.
            </td>
            <td>
                RAM is used in conjunction with the CentOS operating system to pull files faster and serve files to your users. It does so by loading commonly queried data into RAM, and then delivers this information without having to be requested from the hard drive.
            </td>
        </tr>
    </table>

    <h3>Fast Network</h3>

    <p>To ensure uptime and a fast connection, our network uses BGP4 Smart Routing technology. If there is an unexpected drop or latency, our network will seemlessly switch connections.</p>

    <p>In order to decrease the time between a file request and when it is served, we use Direct Data-Peering Connections. This there are fewer hops through which a file travels.</p>

    <h3>Fast Support</h3>

    <p>At InMotion, we understand the importance of having a fast and effecient support team. If an issue does come up, our goal is to resolve an issue within 24 hours.</p>

    <h2>Dedicated Hosting Plans</h2>

    <p>Check out our plans and see which is right for you.</p>
{% endblock %}
