{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}How to Get a Dedicated Server | InMotion Hosting{% endblock %}

{# keywords #}
{% block keywords %}how to get a dedicated server, purchasing dedicated hosting, buying dedicated server{% endblock %}

{# description #}
{% block description %}Tips on how to get a dedicated server. What to watch out for and things you should know.{% endblock %}

{# intro #}
{% block intro %}
<h1>How to Get a Dedicated Server</h1>
    <p class="intro"></p>
<p>What is the process of deciding whether or not a dedicated server is right for you? If you are already on a VPS and your website application is outperforming your wildest expectations, then an upgrade to a dedicated server is for you. Normally if this is the case, you would have had a talk with a system administrator and they would recommend a dedicated server plan for you.</p>
<p>However, if you are new to hosting and know that you do need a dedicated hosting solution, one question normally comes to mind, &ldquo;how do I get a dedicated server?&rdquo; You should first start by looking at the <a href="http://www.inmotionhosting.com/dedicated_servers/articles/purchase-dedicated-server.html">following tips</a> and questions you should be asking yourself.</p>
{% endblock %}

{% block content %}
<h2>Look Past the Hardware Specs</h2>
<p>While hardware specs are important, it is also important to know if there is a support team ready to assist you. It does you no good if the server goes down and there is no one to talk with to help resolve an issue. Having an expert support team, in this case, an expert systems administration team at the ready can help you tackle some of the challenges you might come across.</p>


<h2>What Guarantee Do They Offer?</h2>
<p>Watch for companies that do not have a money back guarantee. Otherwise, you could end up signing up with a hosting company and realize 2 weeks in that your website is inaccessible 20% of the time. With a guarantee, you can check out the service first hand at no risk to you. InMotion understands this and offers a 30 day money back guarantee on all dedicated server plans and packages.</p>

<h2>What Level of Server Access Do You Get?</h2>
<p><img src="http://img01.inmotionhosting.com/_img/dedicated_servers/console-windows.jpg" alt="root access window" class="left" />InMotion allows you to gain root access to your machine so that you can run it as if it was truly your machine. With root access, you can install a slew of applications or platforms or make modifications to services such as php  and apache. Why is this important? Simply because you can modify the server to meet your demands when you make them. Without root access, you are hindered by how fast a system administrator can handle your request, if at all. Worst, you may charged for additional support.</p>

<h2>Is Advanced Support Offered?</h2>
<p>Does the hosting company offer advanced support? Do they offer assistance with scripts or script installs? Or help troubleshoot server issues that may have been caused by a plugin you installed? This is where advanced hosting support can help. Though there is usually an extra fee associated with this, so be sure to double check the features to gauge whether or not advanced hosting support is right for you.</p>
<!--<p>InMotion Hosting does offer advanced support for a low additional monthly fee. Click here for details.</p>-->

<h2>Talk to a Sales Representative</h2>
<p>To get a better understanding of what you need, talk with a sales representative. They are trained to answer your questions and can talk with a system administrator to see if what you want is doable. Also, it never hurts to ask if there is a promotion running.</p>

<h2>Be Upfront About Your Goals</h2>
<p>It is important to let the sales team know what you plan on doing with the server. This way, they can give you an honest assessment of their hosting abilities. This will save a good amount of time spent talking with a sales agent who isn't able to give you what you need.</p>
<p>Be sure to keep in mind your budget when you are talking with sales. This will help the sales team quickly narrow down which package is for you. If you are unsure about what can affect your budget, <a href="http://www.inmotionhosting.com/dedicated_servers/articles/budget-dedicated-servers.html">click here</a>.</p>

<p>These are some general tips and should server as a good starting point to help assist you in finding the right hosting company. Also while you are here, consider InMotion Hosting as your dedicated server hosting provider. Our friendly tech support team is available 24/7. Our sales team is also here until 10pm Eastern to answer any questions you have. (888) 321-4678.</p>
        
<h2 style="height:100%;margin:0 0 10px;overflow:;width:100%;">Buy a Dedicated Server Package</h2>
<p>Check out our plans below to see what we have to offer. Our servers are <a href="http://www.inmotionhosting.com/dedicated_servers/articles/rent-a-dedicated-server.html">available to you</a> at a low monthly cost. Call us today for more information! (888) 321-4678</p>
{% endblock %}
