{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}Low Cost Dedicated Servers | InMotion Hosting{% endblock %}

{# keywords #}
{% block keywords %}low cost dedicated server, low cost hosting, affordable hosting{% endblock %}

{# description #}
{% block description %}Low cost dedicated hosting plans gives you performance and reliability.{% endblock %}

{# intro #}
{% block intro %}
<h1>Low Cost Dedicated Server Plans</h1>
<p class="intro">At InMotion, we give you the plan you need.</p>
<p>We have a range of plans for you to choose from. From our lowest priced Essential to our flagship Elite package, InMotion has the hardware to cover all of your hosting needs.</p>
<p>Every plan comes installed with cPanel and Web Hosting Manager. This allows you to manage your accounts from a simple to use graphical user interface. Manage users, allocate resources, and reduce the time you spend managing your account. All of these works together to save you money.</p>
{% endblock %}

{% block content %}
<h2>InMotion Dedicated Server Packages</h2>
<table class="article">
    <tr>
        <th width="33%">Essential</th>
        <th width="33%">Advanced</th>
        <th width="33%">Elite</th>
    </tr>
    <tr>
        <td>
            <p>Our Essential Dedicated package gets you off and running. A good step up if you are new to dedicated hosting or need to upgrade from a VPS.</p>
            <p>With dual 160GB hard drives and 2.5TB of monthy data transfer, you have the space and speed you need to store your heaviest websites.</p>
        </td>
        <td>
            <p>Our Advanced Dedicated package is a step to give you the right balance of power and space.</p>
            <p>Built to handle some of the most difficult tasks, this is a great solution for those looking to run intensive applications with large amounts of traffic.</p>
        </td>
        <td>
            <p>The Elite dedicated package is our top of the line server. The Turbo Quad Core, 8 threaded processor with 8MB cache running at a speed of 3.20GHz allows you to run simultaneous applications without any hiccups.</p>
            <p>Add in a RAID1 setup, and you have a server that can handle just about anything you can throw at it.</p>
        </td>
    </tr>
</table>
<p>If you would like you learn more about the features of each plan, be sure to review our <a href='http://www.inmotionhosting.com/dedicated_servers/features.html'>Features</a> page.</p>
<h2>Best Dedicated Hosting Plans</h2>
<p>Find the plan that's right for you. To talk to a sales representative, call us today! (888) 321-4678</p>
{% endblock %}
