{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}Rent a Dedicated Server | InMotion Hosting{% endblock %}

{# keywords #}
{% block keywords %}rent a dedicated server, dedicated server rental, lease dedicated hosting, colocation hosting{% endblock %}

{# description #}
{% block description %}Rent a dedicated server from InMotion and take advantage of our extensive support, network infrastructure and quality hardware.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Renting vs Colocation Hosting</h1>
    </div>
    <div class="span3">

    </div>
{% endblock %}

{% block content %}
    <p>With colocation, the main difference is that you do not own the hardware. Nor do you have the type of access to the hardware. For example, if there was a hardware issue, you would not be allowed to access your server.</p>

    <p>When you sign up for a hosting plan, you are indeed renting a server. Your monthly fee goes to paying for the following:</p>

    <ul>
        <li>Hardware</li>
        <li>Maintenance</li>
        <li>Bandwidth &amp; infrastructure support</li>
    </ul>

    <h3>Hardware</h3>

    <p>When you rent as opposed to colocating a server, you have the possiblity to take advantage of newer hardware. Recently, InMotion upgraded it's hardware specs for all customers for free! The bump up in physical specs were in CPU and RAM. Had you been a customer and were using a colocation service, you would not have been able to take advantage of the upgrade. Instead, you would be stuck with the same spec machine from when you make your original purchase.</p>

    <h3>Technical Support</h3>

    <p>With a traditional hosting plan, you have access to a wealth of knowledge. You get a support team that is available at all hours of the day and can help you troubleshoot issues. A good systems administrator team can help you solve issues ranging from network delays, to scripts that have gone awry.</p>

    <h3>Infrastructure</h3>

    <p>With network infrastructure, what you are getting is bandwidth and redundant connections. This helps ensure that your site remains online and is responsive to your customers.</p>
{% endblock %}
