<div class="wrap pattern pre-footer">
    <div class="container pf">
        <div class="row">
            <h2 class="centered jutwrap4">Select the hosting package that fits your needs.</h2>
            <div class="span4">
                <div class="island raised clearfix">
                    <div class="pf-cta-place">
                        <p class="pf-price">$5.95</p>
                        <a href="#" class="btn btn-primary">Continue</a>
                    </div>
                    <h4>Buisness Hosting</h4>
                    <p>Basic websites, start-ups and personalized email.</p>
                </div>
            </div>
            <div class="span4">
                <div class="island raised clearfix">
                    <div class="pf-cta-place">
                        <p class="pf-price">$29.95</p>
                        <a href="#" class="btn btn-primary">Continue</a>
                    </div>
                    <h4>VPS Hosting</h4>
                    <p>High-growth businesses and moderate web traffic.</p>
                </div>
            </div>
            <div class="span4">
                <div class="island raised clearfix">
                    <div class="pf-cta-place">
                        <p class="pf-price">$119.95</p>
                        <a href="#" class="btn btn-primary">Continue</a>
                    </div>
                    <h4>Dedicated Servers</h4>
                    <p>Big projects, high-traffic websites and root access.</p>
                </div>
            </div>
        </div>
    </div>
</div>