<div class="wrap pattern pre-footer">
    <div class="container">
        <div class="row">
            <h4 class="span12">Select the hosting package that fits your needs.</h4>
            <div class="span4">
                <div class="island raised clearfix">
                    <div class="pull-left">
                        <h5>Buisness Hosting</h5>
                        <p>Basic websites, start-ups and personalized email.</p>
                    </div>
                    <div class="pull-right">
                        <p>$5.95</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="island raised clearfix">
                    <div class="pull-left">
                        <h5>VPS Hosting</h5>
                        <p>High-growth businesses and moderate web traffic.</p>
                    </div>
                    <div class="pull-right">
                        <p>$29.95</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="island raised clearfix">
                    <div class="pull-left">
                        <h5>Dedicated Servers</h5>
                        <p>Big projects, high-traffic websites and root access.</p>
                    </div>
                    <div class="pull-right">
                        <p>$119.95</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>