{% extends 'longtail-vps.html.twig' %}

{# title #}
{% block title %}VPS Resellers{% endblock %}

{# keywords #}
{% block keywords %}vps hosting reseller, reseller hosting{% endblock %}

{# description #}
{% block description %}InMotion has the tools you need to resell VPS hosting. Offering Web Hosting Manager and cPanel for all VPS customers.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>VPS Hosting Reseller Features</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <h2>Reseller Description</h2>
        <p>Select a VPS plan start hosting today! Each server package includes Web Hosting Manager (WHM) &amp; cPanel software ($425 a year value)! Easily keep track of your customers and count on our 24/7 support to keep you online.</p>
        <h2>Reseller Features</h2>
        <ul>
            <li>Unlimited individual cPanel Sub Accounts</li>
            <li>Unlimited sub, parked and addon domains</li>
            <li>Unlimited email and FTP accounts for you and your clients</li>
            <li>Free Web Hosting Manager and cPanel (demo: WHM | cPanel)</li>
            <li>Create unlimited hosting packages</li>
            <li>CentOS Enterprise level Linux</li>
            <li>30 or 90-day money back guarantee (depending on hosting plan)</li>
        </ul>
        <h2>Reseller &amp; Client Hosting Features</h2>
        <table class="table longtail two-column">
            <tr>
                <th>
                    <p>You</p>
                </th>
                <th>
                    <p>Your Clients</p>
                </th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Cheaper</li>
                        <li>Fully Managed</li>
                        <li>Requires less knowledge about hosting</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Limited access to the server</li>
                        <li>Cannot customize the server match needs</li>
                        <li>Normally, hardware specs are slower. Abuse by one user can greatly affect performance on other users</li>
                        <li>Limited set of features such as total number of databases, number of ftp accounts, and how many sites can be hosted</li>
                    </ul>
                </td>
            </tr>
        </table>
        <h2>Support</h2>
        <ul>
            <li>24/7 support staff available by phone or live chat</li>
            <li>Hardware maintenance and replacement</li>
            <li>Server monitoring and system level performance monitoring</li>
            <li>Web Hosting Manager support</li>
            <li>Contact our VPS experts</li>
        </ul>
    </div>
    <!--  end span8  -->
{% endblock %}
