{% extends 'longtail-vps.html.twig' %}

{# title #}
{% block title %}VPS Features for All Plans{% endblock %}

{# keywords #}
{% block keywords %}vps plan features, vps features, features of vps plans{% endblock %}

{# description #}
{% block description %}VPS features on all plan types from InMotion Hosting.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>See What InMotion VPS Has to Offer</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>InMotion VPS plans and features are some the most competitve in the industry. Each plan comes with sizeable amounts of RAM, disk space, and data transfer limits to cover your hosting needs.</p>
        <p>What about the other features that comes with each hosting plan?</p>
        <p>InMotion VPS plans all come with features to keep you covered for almost any situation.</p>
        <h2>Unlimited Features</h2>
        <p>There are a set of features that are limitless. These include:</p>
        <ul>
            <li>Domains</li>
            <li>Websites allowed per VPS</li>
            <li>MYSQL databases</li>
            <li>FTP accounts</li>
            <li>Individual cPanel sub-accounts</li>
            <li>Email accounts</li>
        </ul>
        <h2>Domains &amp; Websites per VPS</h2>
        <p>With unlimited domains, you are free have as many addon domains you want. Also, if you purchase the right size VPS plan, you can host as many of these sites as you want. Of course, staying within your technical specifications.</p>
        <h2>MYSQL Databases</h2>
        <p>A lot of what you might be doing could involve a CMS platform or other type of online application. If this is the case, then MYSQL databases are a much needed feature to keep your data organized and your applications functioning. With unlimited databases, you are free to create as many applications, install as many blogs, or any other platform you can think of.</p>
        <h2>FTP Accounts</h2>
        <p>Have lots of users working for you? Or are a hosting reseller? Then being able to create FTP accounts with different levels of access is what you need to allow your customers access to their files.</p>
        <h2>Individual cPanel Sub-Accounts</h2>
        <p>This is a must if you plan on resellling hosting. With unlimited cPanel accounts, you are free to sell as much hosting as you please. This way you can let your customers manage their own emails, domains, and ftp accounts!</p>
        <h2>Email Accounts</h2>
        <p>Need lots of email addresses? Each VPS package lets you create an unlimited amount of email addresses to meet your needs. Create <em>info</em>, <em>admin</em>, <em>webmaster</em>, or <em>help</em> accounts to keep your incoming messages organized.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
