{% extends 'longtail-vps.html.twig' %}

{# title #}
{% block title %}VPS Sales &amp; Promotions{% endblock %}

{# keywords #}
{% block keywords %}vps sales, vps promotions{% endblock %}

{# description #}
{% block description %}Save on hosting with sales and special promotions.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>VPS Sales Saves You Money!</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>VPS promotions and sales come and go quickly with or without notice. To ensure you get the best price and take full advantage of any cost savings for your company, give our sales team a call.</p>
        <p>From time-to-time, InMotion does offer discounts on VPS hosting plans. Some of these plans range from 50% off the first month billing, a waived setup fee, or a percentage off a specific package.</p>
        <p>Speaking with a sales representative also has the added benefit of ensuring you get what you want.</p>
        <p>A sales representative can take your specifications to our systems administrators to help figure out which plan is right for you. For example, not sure if a VPS can handle multiple Joomla installs, a few shopping carts, and a couple of Wordpress blogs? Our system admins are in a position to review these needs and match you up with the approporiate VPS plan.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
