{% extends 'longtail-vps.html.twig' %}

{# title #}
{% block title %}VPS vs Dedicated Hosting{% endblock %}

{# keywords #}
{% block keywords %}vps hosting vs dedicated, dedicated hosting vs vps{% endblock %}

{# description #}
{% block description %}VPS vs dedicated hosting. Learn about the differences between the two to find which is right for you.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>VPS or Dedicated Servers. Which is Right For You?</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>Looking for a performance server but aren't sure about which one you should get? When it comes to performance, you have two options. A VPS or a dedicated server. Ultimately though, what influences which server you should choose would be what your needs are.</p>
        <p>Take a look at the tables below to see which server type would be most beneficial for you.</p>
        <h2>The Pros &amp; Cons of VPS Hosting</h2>
        <table class="table longtail two-column">
            <tr>
                <th>
                    <p>Pro</p>
                </th>
                <th>
                    <p>Con</p>
                </th>
            </tr>
            <tr>
                <td>
                    <li>
                        <p>You can fully manage your server. This means customizing it to your needs.</p>
                    </li>
                    <li>
                        <p>VPS's are generally placed on faster, higher end machines. More RAM and CPU power gives your websites or applications a fast and stable environment to live.</p>
                    </li>
                    <li>
                        <p>Unlimited number of databases, FTP account, and even cPanel accounts for your customers.</p>
                    </li>
                </td>
                <td>
                    <li><p>Although the server specs are increased, you are still sharing a machine with other accounts. As with shared hosting, abuse by one customer can affect all the others on the machine as well.</p></li>
                </td>
            </tr>
        </table>
        <h2>The Pros &amp; Cons of Dedicated Hosting</h2>
        <table class="table longtail two-column">
            <tr>
                <th>
                    <p>Pro</p>
                </th>
                <th>
                    <p>Con</p>
                </th>
            </tr>
            <tr>
                <td>
                    <li>
                        <p>The server is yours to manage as you please. From modifying server files, to installing any CMS platform or application, it is yours to use.</p>
                    </li>
                    <li>
                        <p>It is possible to add on hardware to increase your server specs. Need more RAM or hard drives? Adding those are all possible with a dedicated server.</p>
                    </li>
                    <li>
                        <p>Create VPS containers within your server.</p>
                    </li>
                </td>
                <td>
                    <li>
                        <p>More expensive than a VPS.</p>
                    </li>
                    <li>
                        <p>Since the owner has a lot more control, there is limited help from tech support. Support would just be limited to hardware and network issues. Basic troubleshooting of scripts may be possible. But the more complex the site or issue, the less likely tech support can help.</p>
                    </li>
                </td>
            </tr>
        </table>
    </div>
    <!--  end span8  -->
{% endblock %}
