{% extends 'longtail-vps.html.twig' %}

{# title #}
{% block title %}VPS Plan Review{% endblock %}

{# keywords #}
{% block keywords %}review vps plans, vps plan overview{% endblock %}

{# description #}
{% block description %}Multiple virtual private servers (VPS) plans by InMotion has the speed, performance and flexibilty to meet your needs. Review of our plans here.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>A Quick Review of VPS Plans Offered by InMotion</h1>
    </div>
    <div class="span3">

    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>Virtual private servers offers a great middle ground for those who are getting serious about web hosting. From the developer looking for added performance, or a web designer looking for a place to host their clients' website, a VPS can do them all.</p>
        <h2>Which VPS Plan Is Right For You?</h2>
        <h3>VPS-1000</h3>
        <p>For those who are jumping into a VPS from shared hosting, this may be the best option. It is an affordable solution for those looking to learn how to use cPanel, utilize the command line, and possibly becoming a reseller for less intensive clients.</p>
        <h3>VPS-2000</h3>
        <p>InMotion's most popular package, the VPS-2000 gives increased performance boost in RAM and data transfer limits. This plan is best suited for those who are running more CPU intensive tasks, multiple CMS software installations, and those who are reselling hosting to more advanced users.</p>
        <h3>VPS-3000</h3>
        <p>The high performing VPS-3000 package has all the specs a power user needs before going to a dedicated server. A great solution for large enterprises that run multiple large databases, host files, and needs to serve this to their employees and customers.</p>
        <p>This is also suited for the developer looking to create a high-end application that requires high CPU cycles and multiple processing.</p>
        <h2>Standard Features</h2>
        <p>All VPS plans comes with the following features:</p>
        <ul>
            <li>Burstable RAM: This allows your website to take a sudden hit in traffic which results in increased resource usage without it going down or being suspended.</li>
            <li>cPanel &amp; Web Hosting Manager: Take control of your hosting or resell it to others. InMotion offers these two programs for free!</li>
            <li>Optional root access: With root access, you are in control. Customize your server software how you want.</li>
            <li>SSH access: Use the power of the command line to manage your server.</li>
            <li>Automatic backups: This applies to accounts under 10GB of hard disk space used. Accounts over 10GB are charged. Contact us today to learn more about this option (888) 321-4678.</li>
            <li>Custom advanced firewall policy: Keep your VPS secure by allowing or disallowing specific IP addresses.</li>
        </ul>
        <h2>Comparing Differences in Types of Servers</h2>
        <h3>Shared or VPS? Which is Right for You?</h3>
        <p>When looking for hosting, finding the right solution for you can be difficult. Looking at server specs, features, and pricing can be a bit overwhelming. Below are lists of the pros and cons of shared and VPS hosting.</p>
        <h4>The Pros &amp; Cons of Shared Hosting</h4>
        <table class="table longtail two-column">
            <tr>
                <th>
                    <p>Pro</p>
                </th>
                <th>
                    <p>Con</p>
                </th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li><p>Cheaper</p></li>
                        <li><p>Fully managed</p></li>
                        <li><p>Requires less knowledge about hosting</p></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><p>Limited access to the server.</p></li>
                        <li><p>Cannot customize the server match needs.</p></li>
                        <li><p>Normally, hardware specs are slower. Abuse by one user can greatly affect performance on other users.</p></li>
                        <li><p>Limited set of features such as total number of databases, number of ftp accounts, and how many websites can be hosted.</p></li>
                    </ul>
                </td>
            </tr>
        </table>
        <h4>The Pros &amp; Cons of VPS Hosting</h4>
        <table class="table longtail two-column">
            <tr>
                <th>
                    <p>Pro</p>
                </th>
                <th>
                    <p>Con</p>
                </th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li><p>You can fully manage your server. This means customizing it to your needs.</p></li>
                        <li><p>VPS's are generally placed on faster, higher end machines. More RAM and CPU power gives your websites or applications a fast and stable environment to live.</p></li>
                        <li><p>Unlimited number of databases, FTP account, and even cPanel accounts for your customers.</p></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <p>More expensive than shared hosting.</p>
                        </li>
                        <li><p>Although the server specs are increased, you are still sharing a machine with other accounts. As with shared hosting, abuse by one customer can affect all the others on the machine as well.</p></li>
                    </ul>
                </td>
            </tr>
        </table>
        <h2>What About Dedicated Servers?</h2>
        <p>Looking for a performance server but aren't sure about which one you should get? When it comes to performance, you have two options. A VPS or a dedicated server. Ultimately though, what influences which server you should choose would be what your needs are.</p>
        <p>Take a look at the tables below to see which server type would be most beneficial for you.</p>
        <h4>The Pros &amp; Cons of VPS Hosting</h4>
        <table class="table longtail two-column">
            <tr>
                <th>
                    <p>Pro</p>
                </th>
                <th>
                    <p>Con</p>
                </th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <p>You can fully manage your server. This means customizing it to your needs.</p>
                        </li>
                        <li>
                            <p>VPS's are generally placed on faster, higher end machines. More RAM and CPU power gives your websites or applications a fast and stable environment to live.</p>
                        </li>
                        <li>
                            <p>Unlimited number of databases, FTP account, and even cPanel accounts for your customers.</p>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                    <li><p>Although the server specs are increased, you are still sharing a machine with other accounts. As with shared hosting, abuse by one customer can affect all the others on the machine as well.</p></li>
                    </ul>
                </td>
            </tr>
        </table>
        <h4>The Pros &amp; Cons of Dedicated Hosting</h4>
        <table class="table longtail two-column">
            <tr>
                <th>
                    <p>Pro</p>
                </th>
                <th>
                    <p>Con</p>
                </th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <p>The server is yours to manage as you please. From modifying server files, to installing any CMS platform or application, it is yours to use.</p>
                        </li>
                        <li>
                            <p>It is possible to add on hardware to increase your server specs. Need more RAM or hard drives? Adding those are all possible with a dedicated server.</p>
                        </li>
                        <li>
                            <p>Create VPS containers within your server.</p>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <p>More expensive than a VPS.</p>
                        </li>
                        <li>
                            <p>Since the owner has a lot more control, there is limited help from tech support. Support would just be limited to hardware and network issues. Basic troubleshooting of scripts may be possible. But the more complex the website or issue, the less likely tech support can help.</p>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <h2>InMotion Has Affordable VPS Hosting Solutions</h2>
        <p>.When shopping for a VPS server, price plays an important role. The higher the price, the more features you expect to get. Likewise, the lower the price, the more likely you will get a product that doesn't have as much features as you would like.</p>
        <p>At InMotion, all of our plans comes with a software package that makes VPS hosting an affordable option for your business. We provide cPanel and Web Hosting Manager for free regardless of plan type. That means you can easily manage your server or manage your clients by reselling hosting. </p>
        <p>InMotion believes in providing an affordable VPS solution that is reliable and has performance in mind. Take a look at our plans below to see which one is right for you.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
