{% extends 'longtail-cpanel.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}cPanel Security Protects Your Server{% endblock %}

{# keywords #}
{% block keywords %}cpanel security, server security{% endblock %}

{# description #}
{% block description %}cPanel security tools lets users lock up their server files and secure their server.{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Secure Transactions and Server Protection</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>With proactive tools to enable site owners to keep their servers locked down and secure from unwanted visitors, cPanel keeps websites up and running.</p>
        <img src="{{ app.request.basepath }}/img/cpanel-hosting/img-top-features-security-color.jpg" alt="cpanel top security features" />
        <ul>
            <li>
                <p><strong>Password Protect Directories</strong></p>
                <p>Easily password protect entire directories with a user specified login name and password.</p>
            </li>
            <li>
                <p><strong>Leech Protection</strong></p>
                <p>This feature prevents outside users from accessing secure areas of your site. This normally happens when a user gives out the password information publicly</p>
            </li>
            <li>
                <p><strong>IP Deny Manager</strong></p>
                <p>IP Deny Manager prevents abuse by allowing a user to restrict a single IP or a range of IP addresses from accessing the server.</p>
            </li>
            <li>
                <p><strong>SSH/Shell Access</strong></p>
                <p>For more advanced users, SSH access allows a user to connect and transfer files securely over the internet.</p>
            </li>
            <li>
                <p><strong>GNUPG Keys</strong></p>
                <p>This tool allows users to create temporary public access to private areas. Length of access can also be defined too. Be it years, weeks, or days!</p>
            </li>
            <li>
                <p><strong>SSL/TLS Manager</strong></p>
                <p>For users who are created ecommerce stores or are running applications that pass sensitive information over the internet, this tool is a must. Easily create the certificate, signing certificates and keys needed.</p>
            </li>
            <li>
                <p><strong>HotLink Protection</strong></p>
                <p>HotLink protection prevents users from stealing your bandwidth by blocking access to other sites that hotlink to your images or content.</p>
            </li>
        </ul>
        <p>You can view all the features that cPanel has to offer <a href="/cpanel-hosting/cpanel-features">here</a>.</p>
    </div>
    <!--  end span8  -->
{% endblock %}