{% extends 'longtail-cpanel.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}cPanel Website Backup{% endblock %}

{# keywords #}
{% block keywords %}cpanel backup, cpanel account transfer, cpanel account backup{% endblock %}

{# description #}
{% block description %}cPanel backups are an easy solution to keeping data safe and secure. Backups include site files, databases, email filters and forwarders.{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>cPanel Backs Up Your Entire Web Presence</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>With cPanel, it is possible to create entire backups of your website. This means you can package up and download files directly from your server to your personal computer.</p>
        <p>What backups are possible?</p>
        <ul>
            <li>Home Directory</li>
            <li>Email Forwarders</li>
            <li>Email Filters</li>
            <li>SQL Databases</li>
        </ul>
        <p>This means that in the event that files become corrupt, a site owner can simply upload the backups, or the entire website platform. Even if a CMS platform becomes damaged, whether it is an errant file or the database itself, a backup copy can be uploaded and restored in a few seconds. This means that with periodic updates, site owners can never worry about losing their online presence.</p>
        <h3>Scheduling Backups</h3>
        <p>With cPanel, it is possible to setup CRON jobs to automate when your backups occur. This takes out the hassle of remembering to perform a backup. Site owners will now know when the last backup was completed.</p>
        <h2>Moving From Another Host to InMotion Hosting</h2>
        <p>cPanel also makes it possible it is possible to copy an entire cPanel user account too! That means site owners can package up their entire website files and folders including MySQL databases, and move them over to an InMotion Hosting account. Changing web hosts is that easy.</p>
        <p>To learn more about how InMotion can help you switch hosting companies, give our sales team a call at (888) 321-4678. Or you can view all the other features that cPanel offers <a href="/cpanel-hosting/cpanel-features.html">here</a>.</p>
    </div>
    <!--  end span8  -->
{% endblock %}