{% extends 'longtail-cpanel.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}cPanel Reseller Hosting{% endblock %}

{# keywords #}
{% block keywords %}cpanel reseller hosting, cpanel resell, resell hosting webhost manager{% endblock %}

{# description #}
{% block description %}Reseller hosting with cPanel and WHM lets site owners create custome hosting packages and manage users.{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Reseller Hosting with cPanel &amp; WebHost Manager</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <h2>With cPanel, You Can Become The Host</h2>
        <p>Reselling hosting can only be done with those on a VPS &amp; dedicated server package and can only be accomplished with special privileges enabled. Customers will also need access to WebHost Manager (WHM) which InMotion provides for free!</p>
        <p>WHM not only allows resellers to create resource specific cPanel accounts, but it also lets them manage their customers. Through its easy to use interface, hosting resellers can add, monitor, suspend and delete accounts.</p>
        <h2>Creating Hosting Packages</h2>
        <p>With WHM, resellers can create individual cPanel packages that caters to their specific users. Whether their customers are novice web &ldquo;experts&rdquo;, or seasoned professionals, with WebHost Manager, a reseller has the ability to create packages for each customer type.</p>
        <h2>WHM Package Specifications</h2>
        <h3>Resource Allocation</h3>
            <ul>
                <li>Disk Space Usage</li>
                <li>Data Transfer Usage</li>
                <li>FTP Accounts</li>
                <li>Number of Databases</li>
            </ul>
        <h3>Email Allocation</h3>
            <ul>
                <li>Set number of email accounts</li>
                <li>Set number of email lists</li>
            </ul>
        <h3>Domain Management</h3>
            <ul>
                <li>Subdomains</li>
                <li>Parked domains</li>
                <li>Addon domains</li>
            </ul>
        <h3>General Settings</h3>
            <ul>
                <li>Assign dedicated IP</li>
                <li>Allow shell access</li>
                <li>Set custom theme</li>
            </ul>
        <h2>cPanel Branding</h2>
        <p>With cPanel's theme manager, resellers can take control of their brand. From changing the logo and colors, to modifying icons and placement, WebHost Manager makes customizing easy. Simply create the theme you want, click on an image you want to replace, and upload the file.</p>
        <h2>Easy Server Management</h2>
        <p>WebHost Manager is not only a great tool for setting up hosting packages, but it also lets resellers take control of their servers as well. WHM allows site owners to define nameservers, review server information, restart services, and much much more!</p>
        <p>Want to see more of WHM and all that it has to offer? Click the button below to demo WebHost Manager and see how easy it is to use.</p>
        <a href="http://whm.cpwhmdemo2.inmotionhosting.com/?post_login=1816059378592" title="InMotion Hosting - WebHost Manager Demo" target="_blank"><img src="{{ app.request.basepath }}/img/cpanel-hosting/whm-demo-button.png" alt="WebHost Manager Demo Login" border="0" /></a>
    </div>
    <!--  end span8  -->
{% endblock %}