{% extends 'longtail-cpanel.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}cPanel VPS Optimized{% endblock %}

{# keywords #}
{% block keywords %}cpanel vps optimized, vps with cpanel hosting, vps cpanel host{% endblock %}

{# description #}
{% block description %}Software specifically designed to work with a VPS, cPanel VPS Optimized provides better performance without a loss in functionality.{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>VPS with cPanel Optimized for Performance</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <h2>Efficiently Run Your VPS</h2>
        <p>When website are running resource intensive applications, memory allocation and usage becomes critical to overall performance. The more server resources used, means the more likely a website or application will run slower. cPanel VPS Optimized is specifically made to take advantage of the smaller hosting environment that is normally found on a VPS. This ensures websites and applications run without interuption.</p>
        <h3>What Does VPS Optimized Mean For You?</h3>
        <p>When a VPS server is idle and there is little traffic, site users can navigate the website without causing a strain on the system. However, if there is a sudden increase in traffic, resource usage will start to climb. cPanel VPS Optimized was created to use as little of those resources as possible. That means more memory is devoted to your website so that there is no impact on your users experience.</p>
        <h3>Better Performance With Nothing Lost</h3>
        <p>cPanel VPS Optimized maintains the same features and functionality as a regular cPanel installation on a shared or dedicated hosting account.</p>
        <h2>cPanel VPS Optimized Availability</h2>
        <p>This version of cPanel is only available on VPS servers. This is due to the inherent memory restrictions often found with VPS servers.</p>
        <p>If you have questions about cPanel or virtual private servers in general, please give our sales team a call and see how they assist you in getting a server that you need. (888) 321-4678.</p>
        <p>You can view all the features that cPanel has to offer <a href="/cpanel-hosting/cpanel-features.html">here</a>.</p>
    </div>
    <!--  end span8  -->
{% endblock %}