{% extends 'longtail-opencart.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Opencart Tempaltes{% endblock %}

{# keywords #}
{% block keywords %}opencart templates, opencart themes{% endblock %}

{# description #}
{% block description %}OpenCart is a free shopping cart system that can be integrated to any hosting package InMotion offers. Thousands of OpenCart templates, themes, extensions and modules enable you to really customize the store to fit your needs.{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>OpenCart Templates</h1>
    </div>
    <div class="span3">
        <p>Customize your e-commerce store.</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <h2>High Quality Templates and Simple Installs</h2>
        <p>OpenCart templates are ready-made website designs developed specifically for e-commerce sites, and are compatible with all <a href="/business-hosting">hosting packages</a> we offer They can be installed in minutes and do not require any technical skills. As one of the more popular up-and-coming e-commerce solutions, OpenCart is constantly expanding its template and theme libraries to provide you the best options when customizing your store. The OpenCart community also contains dozens of companies who contribute their templates and themes which really gives you a wide variety to choose from. Many OpenCart templates include free downloads to test the waters before committing to a design, and you have the choice to pay a little more for higher quality and more powerful options. The majority of OpenCart templates feature the following:</p>
        <ul>
            <li>semantic code and CSS3 progressive enhancements</li>
            <li>cross-browser compatibility</li>
            <li>search engine optimization</li>
            <li>intuitive installation support and documentation</li>
            <li>multi-level menu dropdown support</li>
            <li>sidebar banners</li>
        </ul>
        <img src="{{ app.request.basepath }}/img/opencart-hosting/template-examples.jpg" alt="opencart template example website" />
        <h2>Go the Extra Mile</h2>
        <p>Let's say your product is quite popular around the holiday seasons. A 'gift wrapping service' would be the perfect module for you install to provide your customers a better shopping experience. And when searching for your modules, OpenCart provides ratings, votes, views and other useful information to you to ensure you're picking the best choice. Find out more about the <a href="/site-hosting-tools">free tools</a> we offer.</p>
    </div>
    <!--  end span8  -->
{% endblock %}