{% extends 'longtail-dedi.html.twig' %}

{# title #}
{% block title %}Affordable Dedicated Servers &amp; Features{% endblock %}

{# keywords #}
{% block keywords %}affordable dedicated hosting, low cost dedicated servers, cheap dedicated servers{% endblock %}

{# description #}
{% block description %}Affordable dedicated hosting solutions from InMotion offering great support, quality machines, and the latest server management software.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Affordable Servers &amp; Features For Your Money</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>Affordable hosting shouldn't mean cheap. When purchasing a dedicated server at a low price, you should be getting a server that matches what you are willing to spend. With it, you should also be getting features to match.</p>
        <ul>
            <li>Great Support</li>
            <li>Reliable Dedicated Servers</li>
            <li>Latest Software</li>
        </ul>
        <h2>Great Support</h2>
        <p>When it comes to hosting, support should always be great. Regardless of what you are paying, there should be someone available to you 24/7. They should have the knowledge to resolve common issues.</p>
        <h2>Great Support</h2>
        <p>When it comes to hosting, support should always be great. Regardless of what you are paying, there should be someone available to you 24/7. They should have the knowledge to resolve common issues.</p>
        <h2>Reliable Machines</h2>
        <p>Having reliable hardware running your web application is important. An application is useless if no one can get to it because of a hardware failure. That is why InMotion uses only Dell servers. We bring you these quality machines at an affordable rate.</p>
        <h2>Latest Software</h2>
        <p>With a top hosting company, you should be getting not only great hardware and support, but also software packages should be made available to you as well. At InMotion, we provide you with cPanel and Web Hosting Manager for free! That's how we try to make our affordable dedicated servers even more cost friendly.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
