{% extends 'longtail-dedi.html.twig' %}

{# title #}
{% block title %}Best Dedicated Server{% endblock %}

{# keywords #}
{% block keywords %}best dedicatd server, top dedicated server, best hosting servers{% endblock %}

{# description #}
{% block description %}Providing the best dedicated server solutions for small to large business.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>The Best Dedicated Hosting by InMotion Hosting</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>With every Dedicated Server we sell, our priority is to ensure you have the best high performance machine. We understand what you need and we do our best to give you and your customers the best experience. Below is information about how we at InMotion Hosting strive to give you the best low cost dedicated hosting.</p>
        <p>To see what you get with a low cost dedicated server plan from InMotion, <a href="/dedicated_servers/articles/low-cost-dedicated-servers">click here</a>.</p>
        <h2>Dedicated Hosting Hardware</h2>
        <p>All of our machines are 100% Dell. What does that mean? That means every machine is built and tested by Dell before we get them.</p>
        <table class="table longtail">
            <thead>
                <tr>
                    <th>CPU</th>
                    <th>RAM</th>
                    <th>Disk Space</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Each of our server CPU's has at least 2 cores and are threaded for increased performance. This allows you to run multiple processes in parallel thereby decreasing wait time.</td>
                    <td>Our RAM amounts are selected to work specifically with our chosen CPU's. We don't put some arbitrary amount of DIMM and RANKS in each machine. Instead, each unit of RAM is matched with the CPU in order to maintain a clock speed of 1333mhz.</td>
                    <td>We only use the highest quality server grade SATA drives. Each hard drive is tested before we get them to ensure that failure does not happen.</td>
                </tr>
            </tbody>
        </table>
        <p>What other features makes us the best? <a href="/dedicated_servers/articles/fast-dedicated-server" >Read more</a>.</p>
        <h2>Dedicated Hosting Software</h2>
        <p>InMotion provides Dedicated Linux Hosting through CentOS. Each machine comes preinstalled with our Linux, Apache, MySQL, and PHP (LAMP) stack and is optimized for best performance. We also include a cPanel and WHM install for free.</p>
        <ul>
            <li><strong>Linux</strong>: Each server comes with CentOS which is performance built, specifically for a server environment. CentOS maximizes CPU, RAM, and the network interface card for to increase speeds.</li>
            <li><strong>Apache</strong>: We tweak settings so that processes are already spawned long before they are needed. We also configure RAM to work with these processes to further reduce load times.</li>
            <li><strong>MySQL</strong>: We increase performance of your application or website by increasing the efficiency of the MySQL database.</li>
            <li><strong>PHP</strong>: Our Dedicated Servers utilizes SuPHP to give your website added security and functionality. Changes to the php.ini can also be made to allow customization of specific functions.s</li>
        </ul>
        <h2>Dynamic Combinations</h2>
        <p>Now that you have some information about how we give you as much performance possible on both the hardware and software side, let's put some combinations together and demonstrate how server performance is improved.</p>
        <h3>CPU + MySQL + RAM</h3>
        <p>When it comes to maximizing how MySQL retrieves and stores data, we are the pros. If you are going to be running a large multiple data set database, our CPU selection utilizes threaded processors and high clock speeds to call or write data faster.</p>
        <p>We utilize RAM to decrease data retrieval times by fine tuning the my.cnf file. Here we are able to create a table cache that pulls directly from RAM and not the physical hard drive.</p>
        <img src="{{ app.request.basepath }}/img/dedicated-hosting/graphic_mysql_process_flow.jpg" class="longtail-center" alt="MySQL database retrieval process" />
        <h3>RAM + CentOS</h3>
        <p>The combination of RAM and CentOS allows data to be retrieved faster. RAM has the benefit of not having any moving parts, which slows down overall data retrieval times. Linux was built to use RAM almost as a separate disk and pulls commonly queried data from the physical hard drive onto the RAM chip. Since CentOS is a version of Linux, data is stored into RAM and then quickly sent to the user when requested.</p>
        <h2>Dedicated Hosting Plans</h2>
        <p>Be sure to check out our <a href="/dedicated_servers/articles/compare-dedicated-server">dedicated hosting plan comparisons</a> to see the differences between our Essential, Advanced, and Elite dedicated servers.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
