{% extends 'longtail-dedi.html.twig' %}

{# title #}
{% block title %}Budget Dedicated Servers{% endblock %}

{# keywords #}
{% block keywords %}budget low cost, budget dedicated servers, affordable servers{% endblock %}

{# description #}
{% block description %}Budget dedicated hosting solutions by InMotion. Affordable data transfer speeds, disk space, and more.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Budget Dedicated Servers</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>It's easy to go over budget on servers. This is especially true if you are given a ton of features to look over. What has the most influence on your web hosting budget?</p>
        <h2>Web Traffic</h2>
        <p>You should definitely take into consideration the amount of visitors per month you are expecting. If you are expecting a lot of visitors, then selecting a hosting package with a high data transfer limit would be the obvious choice. This would help guarantee that your website will remain online and you staying within budget by not getting charged data transfer overages.</p>
        <h2>Application Processes</h2>
        <p>The more processor intensive your application is, the more processing power you need. To stay within budget, you should estimate the processing power of your application, and then plan some space above that limit. So if your application needs grow, your server won't unexpectedly slow down.</p>
        <h2>Hard Drive Disk Storage</h2>
        <p>Will you be running a file server for your company, or hosting many websites? This factor will influence how much disk space you will need and ultimately which hosting plan you would be choosing.</p>
        <p>To keep within budget, it is best to stay with what amount of storage that is given for a specific plan. However, to get the most for your money if you do need more disk space, then see if you can add more storage to an existing plan. To do this, get a hold of a sales person who can try to make it happen for you.</p>
        <h2>Talking With Sales</h2>
        <p>As mentioned above, a sales representative is your best resource when it comes to staying within budget. They can work with you to get you the dedicated server you need at the right price.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
