{% extends 'longtail-dedi.html.twig' %}

{# title #}
{% block title %}Compare Dedicated Server Packages{% endblock %}

{# keywords #}
{% block keywords %}dedicated server comparison, compare dedicated servers, comparing dedicated servers{% endblock %}

{# description #}
{% block description %}Dedicated server comparisons by InMotion Hosting.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Comparing Dedicated Server Plans</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>InMotion offers three levels of plans. From our lower CPU spec Essential dedicated server, to our top of the line Elite plan, we have the servers to drive your business.</p>
        <h2>Intel Processors</h2>
        <p>Our Elite plan uses the fast Xeon&reg; E3-1230 processor. With 8 cores and 8 threads, this processor will let you run through your most demanding applications while running your other intensive processes.</p>
        <p>Likewise, if you expect to run less processor intense tasks, then our Essential plan will have you covered. Our Essential package with an Intel Dual Core, 2 thread processor has the performance and extra capacity you need to run everyday tasks.</p>
        <h2>RAM</h2>
        <p>Our servers have the RAM to match what you need to do. We have carefully selected the amount of RAM to match each processor. Also, our server operating system CentOS, takes the fullest advantage of each gigabyte of RAM. Improved performance is what you get.</p>
        <h2>Disk Space</h2>
        <p>We have the disk sizes you need. Whether serving files to your company, or hosting a multitude of sites. Our fast hard drives lets you access data fast.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
