{% extends 'longtail-dedi.html.twig' %}

{# title #}
{% block title %}Dedicated Server Pricing{% endblock %}

{# keywords #}
{% block keywords %}dedicated server price, dedicated hosting pricing, affordable dedicated server pricing{% endblock %}

{# description #}
{% block description %}Buy a dedicated hosting plan today. InMotion Hosting has the pricing and award-winning support you need to stay competitive.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Affordable Dedicated Server Pricing</h1>
    </div>
    <div class="span3">
        <p>You get what you pay for.</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>When it comes to dedicated servers, what is the price you're willing to pay?</p>
        <p>Pay too little, and you can end up hardware assembled from various off the shelf parts. Or you get a support team that either doesn't know what they are doing, or who aren't around to answer your emails or calls.</p>
        <p>Pay too much, and chances are you will be getting features that you will never need. Sure, a quad core, 8 thread processor might sound good, but if you are running a single Wordpress website, then that might be a little overkill.</p>
        <h2>What You Should Know</h2>
        <p>So how do you figure how much you are going to pay? That really comes down to what your needs are. You should analyze the specs that you are expecting to need. Then you can consult with a sales representative and they can give you the best estimate or let you know which dedicated server plan is right for you.</p>
        <table class="table longtail">
            <tr>
                <td>
                    <h5>Low Priced Dedicated Servers</h5>
                </td>
                <td>
                    <p>When your applications start outpacing your VPS, a low cost dedicated hosting solution is your next step. These  give you the full resources of the server and gives you the ability to run the machine as you wish.</p>
                    <p>If these specs don't meet your needs, then a mid-level plan might be what you need.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>Mid-Price Servers</h5>
                </td>
                <td>
                    <p>As your web presence starts to expand, you will need a better machine that can handle more requests, run processes faster, give more bandwidth, store more data, and is ready to go when you need it.</p>
                    <p>Mid-level servers are an affordable solution that meets affordabitlity and performance and puts it into a single package.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>High-End, High-Priced Dedicated Servers</h5>
                </td>
                <td>
                    <p>For a high-end machine, the cost is a lot greater. But what you get in return is a high performance machine and the ability to run the most demanding applications and host plenty of feature rich websites.</p>
                </td>
            </tr>
        </table>
        <h2>InMotion Dedicated Servers</h2>
        <p>At InMotion Hosting, you are not only purchasing a dedicated server from us. You are also getting expert support to keep you online. We are here at all hours of the day to help you troubleshoot any server issue you may have.</p>
        <h2>Best Dedicated Hosting Plans</h2>
        <p>Find the plan that's right for you. See our <a href="/dedicated-servers/features">Features</a> page for more information or call us today! (888) 321-4678</p>
    </div>
    <!--  end span8  -->
{% endblock %}
