{% extends 'longtail-dedi.html.twig' %}

{# title #}
{% block title %}Dedicated Server Review{% endblock %}

{# keywords #}
{% block keywords %}dedicated hosting review, reviewing dedicated hosting company, InMotion Hosting review{% endblock %}

{# description #}
{% block description %}Dedicated servers by InMotion Hosting gives you the support, knowledge, and reliable hardware you need.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>InMotion Dedicated Server Review</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>A lot has been written about why InMotion dedicated servers are a great solution for you. But what has not been given much attention are the other areas of the business that we excel in. Here's a quick review:</p>
        <h2>Quality Service</h2>
        <p>Service and support is what we specialize in. Our technical support team has experience in crafting solutions. Whether it is finding causes of hardware issues, or troubleshootings problematic scripts.</p>
        <p>We understand the importance of having a good technical support team. But we also know that there is more to hosting than just a support. Our sales, billing, and customer care groups all have one focus in mind; and that's to provide the best customer service experience.</p>
        <h2>Around the Clock Support</h2>
        <p>Issues can happen at the worst possible times. On a holiday, or in the middle of the night, InMotion has a 24 hour support presence all 365 days a year. Or 366 if it's a leap year.</p>
        <h2>Devoted to Increasing Knowledge</h2>
        <p>Did you know we also have an extensive Education Channels in our Support Center? We created these because we understand that sometimes you just want to figure things out on your own. If you need help with Drupal, Wordpress, or setting up email accounts, we have you covered.</p>
        <p>However, if those are a little too mundane for you, then try submitting a question and we'll see if we have a solution. Or at least be able to point you in the right direction.</p>
        <h2>Purchasing Dependable Hardware</h2>
        <p>When selecting server hardware, we are looking to reduce the mean time to failure. The only way to do that is by choosing the highest of quality hardware. By utilizing Dell as our primary hardware vendor, we have taken a proactive step to ensuring time to failure is lengthened.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
