{% extends 'longtail-dedi.html.twig' %}

{# title #}
{% block title %}How to Get a Dedicated Server{% endblock %}

{# keywords #}
{% block keywords %}how to get a dedicated server, purchasing dedicated hosting, buying dedicated server{% endblock %}

{# description #}
{% block description %}Tips on how to get a dedicated server. What to watch out for and things you should know.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>How to Get a Dedicated Server</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>What is the process of deciding whether or not a dedicated server is right for you? If you are already on a VPS and your website application is outperforming your wildest expectations, then an upgrade to a dedicated server is for you. Normally if this is the case, you would have had a talk with a system administrator and they would recommend a dedicated server plan for you.</p>
        <h2>Look Past the Hardware Specs</h2>
        <p>While hardware specs are important, it is also important to know if there is a support team ready to assist you. It does you no good if the server goes down and there is no one to talk with to help resolve an issue. Having an expert support team, in this case, an expert systems administration team at the ready can help you tackle some of the challenges you might come across.</p>
        <h2>What Guarantee Do They Offer?</h2>
        <p>Watch for companies that do not have a money back guarantee. Otherwise, you could end up signing up with a hosting company and realize 2 weeks in that your website is inaccessible 20% of the time. With a guarantee, you can check out the service first hand at no risk to you. InMotion understands this and offers a 30 day money back guarantee on all dedicated server plans and packages.</p>
        <h2>What Level of Server Access Do You Get?</h2>
        <p><img src="{{ app.request.basepath }}/img/dedicated-hosting/console-windows.jpg" class="sales-page-left-float" alt="windows console screenshot" />InMotion allows you to gain root access to your machine so that you can run it as if it was truly your machine. With root access, you can install a slew of applications or platforms or make modifications to services such as php  and apache. Why is this important? Simply because you can modify the server to meet your demands when you make them. Without root access, you are hindered by how fast a system administrator can handle your request, if at all. Worst, you may charged for additional support.</p>
        <h2>Is Advanced Support Offered?</h2>
        <p>Does the hosting company offer advanced support? Do they offer assistance with scripts or script installs? Or help troubleshoot server issues that may have been caused by a plugin you installed? This is where advanced hosting support can help. Though there is usually an extra fee associated with this, so be sure to double check the features to gauge whether or not advanced hosting support is right for you.</p>
        <h2>Talk to a Sales Representative</h2>
        <p>To get a better understanding of what you need, talk with a sales representative. They are trained to answer your questions and can talk with a system administrator to see if what you want is doable. Also, it never hurts to ask if there is a promotion running.</p>
        <h2>Be Upfront About Your Goals</h2>
        <p>It is important to let the sales team know what you plan on doing with the server. This way, they can give you an honest assessment of their hosting abilities. This will save a good amount of time spent talking with a sales agent who isn't able to give you what you need.</p>
        <p>These are some general tips and should server as a good starting point to help assist you in finding the right hosting company. Also while you are here, consider InMotion Hosting as your dedicated server hosting provider. Our friendly tech support team is available 24/7. Our sales team is also here until 10pm Eastern to answer any questions you have. (888) 321-4678.</p>
        <h2>Keeping Within Budget</h2>
        <p>It's easy to go over budget on servers. This is especially true if you are given a ton of features to look over. What has the most influence on your web hosting budget?</p>
        <h3>Web Traffic</h3>
        <p>You should definitely take into consideration the amount of visitors per month you are expecting. If you are expecting a lot of visitors, then selecting a hosting package with a high data transfer limit would be the obvious choice. This would help guarantee that your website will remain online and you staying within budget by not getting charged data transfer overages.</p>
        <h3>Application Processes</h3>
        <p>The more processor intensive your application is, the more processing power you need. To stay within budget, you should estimate the processing power of your application, and then plan some space above that limit. So if your application needs grow, your server won't unexpectedly slow down.</p>
        <h3>Hard Drive Disk Storage</h3>
        <p>Will you be running a file server for your company, or hosting many websites? This factor will influence how much disk space you will need and ultimately which hosting plan you would be choosing.</p>
        <p>To keep within budget, it is best to stay with what amount of storage that is given for a specific plan. However, to get the most for your money if you do need more disk space, then see if you can add more storage to an existing plan. To do this, get a hold of a sales person who can try to make it happen for you.</p>
        <h3>Talking With Sales</h3>
        <p>As mentioned above, a sales representative is your best resource when it comes to staying within budget. They can work with you to get you the dedicated server you need at the right price.</p>
        <h2>What You Should Know When Purchasing a Dedicated Server</h2>
        <p>If you are a first time buyer of a dedicated server, the process can seem a bit daunting. Some questions you might have could be:</p>
        <p>Where do I begin? What do I need? Who do I talk to?</p>
        <p>Hopefully this article can give you a starting point and put you on a path to buying your first dedicated server.</p>
        <h3>Where to Begin</h3>
        <p>So where do you begin. First you should write down what you plan on using the dedicated server for. This will help narrow down what you need in terms of hardware specs or specific software packages.</p>
        <h4>Contacting a Sales Person</h4>
        <p>The next step would be to contact a sales person. Review with them what you want to do and what your expectations are. If you have any special request such as custom hardware needs, please let them know upfront. Sometimes, they will be able to cater to your needs. Also, it never hurts to ask.</p>
        <p>This is an important step because it gives you an opportunity hear your expectations from a technical expert. Maybe you didn't need that quad core processor and 16GB or RAM after all.</p>
        <p>But during this process, you shoud also go over any software packages you're looking to install. Or if you plan on running scripts and other intensive processes, review it with your sales representative.</p>
        <h4>Researching</h4>
        <p>After talking with the sales representative, you should do some research to see how they rate in terms of customer satisfaction, reliability, and professionalism. The worst situation you want to be in is to have signed a contract and realize after it's too late that their support team is closed on the weekend.</p>
        <h4>Purchasing</h4>
        <p>If all the specs match up and the hosting company is able to provide you with a solution, then you should also ask to see if there any ongoing promotions.</p>
        <p>Also, be sure to check the pricing versus sign up terms. Often times, you will get a price break if you sign up for specific lengths. For example, on an Advanced Dedicated server plan from InMotion, you get $20 off per month if you sign up for a 6-month term instead of going month-to-month.</p>
        <h2>What About Renting vs. Colocation Hosting?</h2>
        <p>With colocation, the main difference is that you do not own the hardware. Nor do you have the type of access to the hardware. For example, if there was a hardware issue, you would not be allowed to access your server.</p>
        <p>When you sign up for a hosting plan, you are indeed renting a server. Your monthly fee goes to paying for the following:</p>
        <ul>
            <li>Hardware</li>
            <li>Maintenance</li>
            <li>Bandwidth &amp; infrastructure support</li>
        </ul>
        <h3>Hardware</h3>
        <p>When you rent as opposed to colocating a server, you have the possiblity to take advantage of newer hardware. Recently, InMotion upgraded it's hardware specs for all customers for free! The bump up in physical specs were in CPU and RAM. Had you been a customer and were using a colocation service, you would not have been able to take advantage of the upgrade. Instead, you would be stuck with the same spec machine from when you make your original purchase.</p>
        <h3>Technical Support</h3>
        <p>With a traditional hosting plan, you have access to a wealth of knowledge. You get a support team that is available at all hours of the day and can help you troubleshoot issues. A good systems administrator team can help you solve issues ranging from network delays, to scripts that have gone awry.</p>
        <h3>Infrastructure</h3>
        <p>With network infrastructure, what you are getting is bandwidth and redundant connections. This helps ensure that your website remains online and is responsive to your customers.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
