{% extends 'longtail-dedi.html.twig' %}

{# title #}
{% block title %}Features of Inexpensive Web Hosting{% endblock %}

{# keywords #}
{% block keywords %}inexpensive dedicated servers, inexpensive web hosting, cheap dedicated hosting{% endblock %}

{# description #}
{% block description %}Features that you should be on the look out for when looking for an inexpensive web hosting solution.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Inexpensive Dedicated Hosting Features</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>When looking for an inexpensive dedicated hosting solution, there are features that you should be on the look out for. Whether it is hardware speed, customer support, or free software packages. Any hosting company at minimum should offer these features free.</p>
        <h3>What Makes Hosting Inexpensive?</h3>
        <p>You could be paying a lot for hosting, and what you end up getting is a machine that is way above what you need. If you are just running a few Wordpress sites, do you really need that quad core CPU? Or maybe you want to create the most advanced website ever, so a top of the line dedicated server is something you will need .</p>
        <p>In the end, what factors influence how much you should be paying?</p>
        <h3>Hardware Pricing</h3>
        <p>Pricing tends to be based off of the hardware features as well as data transfer limits. Therefore, to keep your monthly costs down, you should go for a plan that will fit your needs. While at the same time, giving you some room to grow.</p>
        <h3>Software Bundles</h3>
        <p>When reviewing you order, be sure to check if there is any software bundles that have been automatically attached. This might be either cPanel, Web Hosting Manager, or both. The license for these programs are paid yearly. InMotion offers both cPanel and Web Hosting Manager free to our customers.</p>
        <h3>Advanced Support</h3>
        <p>Most often there is a minimum level of support that comes with hosting. If you need more advanced support because of your specific uses, then check out what they have to offer. However, if the minimum is all you need, then skip the added support.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
