{% extends 'longtail-dedi.html.twig' %}

{# title #}
{% block title %}Tips for a Purchasing Dedicated Server{% endblock %}

{# keywords #}
{% block keywords %}purchase dedicated hosting, buy dedicated server, dedicated server buying tips{% endblock %}

{# description #}
{% block description %}Tips for purchasing affordable dedicated hosting plan by InMotion Hosting.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Purchasing a Dedicated Server: What You Should Know</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>If you are a first time buyer of a dedicated server, the process can seem a bit daunting. Some questions you might have could be:</p>
        <p>Where do I begin? What do I need? Who do I talk to?</p>
        <p>Hopefully this article can give you a starting point and put you on a path to buying your first dedicated server.</p>
        <h3>Where to Begin</h3>
        <p>So where do you begin. First you should write down what you plan on using the dedicated server for. This will help narrow down what you need in terms of hardware specs or specific software packages.</p>
        <h3>Contacting a Sales Person</h3>
        <p>The next step would be to contact a sales person. Review with them what you want to do and what your expectations are. If you have any special request such as custom hardware needs, please let them know upfront. Sometimes, they will be able to cater to your needs. Also, it never hurts to ask.</p>
        <p>This is an important step because it gives you an opportunity hear your expectations from a technical expert. Maybe you didn't need that quad core processor and 16GB or RAM after all.</p>
        <p>But during this process, you shoud also go over any software packages you're looking to install. Or if you plan on running scripts and other intensive processes, review it with your sales representative.</p>
        <h3>Researching</h3>
        <p>After talking with the sales representative, you should do some research to see how they rate in terms of customer satisfaction, reliability, and professionalism. The worst situation you want to be in is to have signed a contract and realize after it's too late that their support team is closed on the weekend.</p>
        <h3>Purchasing</h3>
        <p>If all the specs match up and the hosting company is able to provide you with a solution, then you should also ask to see if there any ongoing promotions.</p>
        <p>Also, be sure to check the pricing versus sign up terms. Often times, you will get a price break if you sign up for specific lengths. For example, on an Advanced Dedicated server plan from InMotion, you get $20 off per month if you sign up for a 6-month term instead of going month-to-month.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
