{% extends 'longtail-dedi.html.twig' %}

{# title #}
{% block title %}Top Dedicated Hosting{% endblock %}

{# keywords #}
{% block keywords %}top dedicated server, top hosting company, best dedicated server company{% endblock %}

{# description #}
{% block description %}InMotion provides top services and features for all dedicated server plans. Exceptional customer service and hardware included with all dedicated hosting plans.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Top Dedicated Server Hosting Traits</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>What separates a top hosting company from the rest of the competition? What makes one great and others look like amatuers?</p>
        <p>It's a combination of factors that taken as a whole gives you a hosting company that exceeds all of your expectations. Some factors include:</p>
        <ul>
            <li>Customer service</li>
            <li>Technical expertise</li>
            <li>Hardware performance and reliability</li>
            <li>Server uptime</li>
        </ul>
        <p>While on the surface, it is easy to see what makes a good hosting company, what is not readily apparent are the flaws that you should be on the look out for when buying a dedicated server.</p>
        <h2>What to Look Out For in a Hosting Company</h2>
        <p>Here are some tips to help you distinguish the top hosting companies from the bottom.</p>
        <table class="table longtail two-column">
            <tr>
                <td>Poor Experience</td>
                <td>If in the process of shopping for a hosting company, you are greeted rudely by any member of the business you are dealing with, then that should be sign of things to come. </td>
            </tr>
            <tr>
                <td>Constant Downtime</td>
                <td>Having your website down when it shouldn't be is frustrating. Be sure to research the hosting company and look for what users have to say about constant downtime and for what reasons.</td>
            </tr>
            <tr>
                <td>No Guarantee</td>
                <td>Does the hosting company offer a money back guarantee? If not, be leery as the hosting company might sweet talk you into signing a long term contract. Then 2 months in you discover how poor their customer service and technical support really is.</td>
            </tr>
            <tr>
                <td>Add-on Features Cost Extra</td>
                <td>Be sure to check which features are included with your hosting packages. Some may be attractive upfront, but if you want SSH access, multiple FTP accounts, or cPanel installed, then that could cost you.</td>
            </tr>
            <tr>
                <td>Unlimited or Unmetered Data Transfer Rates</td>
                <td>While this may sound good, be careful as your true overall limits may be dictated by what port speed the hosting has your server set at. For example, you plan on using 5TB of data, but your hosting company has set the port speed to 10mbps. Given this, if your website is running at the maximum port speed of 10mbps, you are only using 3.2TB/month. Sure you have unlimited data transfer, but it does you no good if the port restricts you.</td>
            </tr>
            <tr>
                <td>No Distinction Between Dedicated &amp; VPS Hosting</td>
                <td>If you really need a dedicated server and are shopping between hosting companies, is there a clear distinction between what is a <a href="/dedicated-servers/articles/dedicated-hosting-vs-vps" >dedicated server and a VPS</a>? If you need your own server, is it easy to find on their website? Or do you get lost in their odd naming conventions?</td>
            </tr>
            <tr>
                <td>Limited Hours for Support</td>
                <td>We all know problems happen at all hours of the day. Therefore, someone should be available to assist you whenever you might need help.</td>
            </tr>
        </table>
            <h2>Top Dedicated Hosting Plans</h2>
            <p>Review our plans below to see the plans that InMotion can offer you. If you have any questions, please don't hesitate to call! (888) 321-4678</p>
            <p>Check out our server plans <a href="/dedicated-servers/articles/dedicated-server-review">here</a>.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
