{% extends 'longtail-dedi.html.twig' %}

{# title #}
{% block title %}Unlimited Dedicated Server{% endblock %}

{# keywords #}
{% block keywords %}unlimited dedicated hosting features, unlimited data transfer, unmetered data transfer{% endblock %}

{# description #}
{% block description %}Unlimited dedicated hosting features gives you the added features you need.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Unlimited Dedicated Server Features &amp; Support</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>InMotion does not offer unlimited data transfer. We understand the appeal of such an offering, but decide not to choose it because we understand that it is indeed a misleading claim.</p>
        <p>Instead, we set limits to protect each of our customers from being affected by abuses from a few individuals.</p>
        <h2>Unlimited Offerings</h2>
        <p>While we don't offer unlimited data transfer, we do give all of our customers a slew of other unlimited features to help you manage your server and customers.</p>
        <table class="table longtail">
            <tr>
                <th>
                    <p>MySQL Databases</p>
                </th>
                <th>
                    <p>FTP Accounts</p>
                </th>
                <th>
                    <p>cPanel Sub-Accounts</p>
                </th>
            </tr>
            <tr>
                <td>
                    <p>With unlimited MySQL databases, you can install as many blogs, shopping carts, or any other platforms that require a database.</p>
                </td>
                <td>
                    <p>Have multiple users on your server? Create as many FTP accounts to give them all access.</p>
                </td>
                <td>
                    <p>If you are hosting reseller, create cPanel accounts for your customers so that they can easily manage their server settings.</p>
                </td>
            </tr>
            <tr>
                <th>
                    <p>Email Accounts</p>
                </th>
                <th>
                    <p>Separate Websites</p>
                </th>
                <th>
                    <p>Parked Domains</p>
                </th>
            </tr>
            <tr>
                <td>
                    <p>Create as many email accounts that you need. There is no need to worry about running out of email accounts as you grow.</p>
                </td>
                <td>
                    <p>Create multiple websites under one account with separate domain names for each one!</p>
                </td>
                <td>
                    <p>The more websites you have, the more domains you will have. You have the option of pointing all of those to one main domain.</p>
                </td>
            </tr>
        </table>
        <h2>Best Dedicated Hosting Plans</h2>
        <p>Contact a sales representative today to find out more about what we can offer you. (888) 321-4678</p>
    </div>
    <!--  end span8  -->
{% endblock %}
