{% extends 'longtail-dedi.html.twig' %}

{# title #}
{% block title %}Unmetered Dedicated Servers Pros &amp; Cons{% endblock %}

{# keywords #}
{% block keywords %}unmetered data transfer, unmetered dedicated hosting, unlimited hosting{% endblock %}

{# description #}
{% block description %}Unmetered dedicated hosting data transfer. What to know and watch out for.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>The Truth Behind Unmetered Dedicated Hosting</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>When hosting companies claim to offer unmetered data transfer, that simply means that they do not track the amount data usage against you and penalize you for any overages since there is no imposed cap on data usage. But do they really not track your usage? Yes, they do. It is necessary for them to do this since the hosting company needs to know if they are about to hit their data transfer limits with their ISP.</p>
        <p>The next question becomes, when you sign up for an unmetered plan, are you really free to use as much data as you want?</p>
        <p>Well yes and no.</p>
        <table class="table longtail two-column">
            <tr>
                <th>Yes</th>
                <th>No</th>
            </tr>
            <tr>
                <td><p>The hosting company clearly states that they do offer unmetered data transfer.</p>
                <p>But there is a catch. Be sure to read the fine print regarding resource abuse. Anything above the norm can be considered resource abuse and get you shut down.</p>
                </td>
                <td><p>The biggest barrier to how much data you can use is port speed. Port speed controls how much data can be transfered at any second. Most common speeds are 1Mbps/10Mbps/100Mbps. What this equates to is about 320GB/3200GB/32000GB of total data per month that can utilized.</p>
                <p>So if a hosting company sets their port speeds at 10Mbps for your plan, you will only be utilizing 3200GB of your unlimited data transfer every month.</p></td>
            </tr>
        </table>
        <div class="features" id="package_specs">
            <!-- package checklist -->
            <h2>Don't Get Oversold</h2>
            <p>Finally, when shopping for a dedicated server, don't get oversold on the idea of unmetered data transfer. The idea is flawed and a little misleading since chances are they do not disclose true data transfer limits or bury that detail within their terms of service.</p>
            <p>At InMotion Hosting, all of our plans clearly lay out <a href="/dedicated-servers/articles/unlimited-dedicated-server">what you get</a>. If you find that you may need more from us, give us a call and we can try to work with you. Call us today at (888) 321-4678.</p>
        </div>
    </div>
    <!--  end span8  -->
{% endblock %}
