{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}cPanel File Management Keeps Your Server Organized | InMotion Hosting{% endblock %}

{# keywords #}
{% block keywords %}cpanel file manager, cpanel file management, server organization{% endblock %}

{# description #}
{% block description %}cPanel provides a complete set of tools to help manage website files and users who access the site via FTP.{% endblock %}

{# intro #}
{% block intro %}

{% endblock %}

{% block content %}
<h2>File Management &amp; FTP Server Access</h2>
<p>cPanel file management tools provides a great solution for keeping your information organized.</p>
<img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/img-top-features-file-color.jpg" alt="cpanel top file management features icons">
<ul>
    <li>
        <p><strong>File Backups</strong></p>
        <p>The backup tool allows the user to save specific directories of the website which can be downloaded onto a users computer. In the event of a website failure or issue, the user can upload the backup files and restore the website to its previous state. Users can download the entire home directory, MySQL database, email forwarders and filters.</p>
    </li>
    <li>
        <p><strong>Backup Wizard</strong></p>
        <p>This easy-to-use tool provides a step-by-step way for site owners to create backups, as well restoring backup files. This feature is used much in the same way as the backup manager where full or partial file restores can be completed.</p>
    </li>
    <li>
        <p><strong>Legacy File Manager</strong></p>
        <p>This older Legacy File Manager is for those who are comfortable with the older cPanel File Manager. This tool allows the user to access the server from any computer and location. The easy to use interface has the options to create new files and folders, upload and download files, delete, rename, copy, move, change permissions, and edit files and folders.</p>
    </li>
    <li>
        <p><strong>File Manager</strong></p>
        <p>This updated File Manager has the same features as the Legacy File Manager, except included is a WYSIWYG HTML editor. This allows site owners to quickly make simple modifications to website files. The File Manager also has an updated look and feel which makes navigating the server even easier.</p>
    </li>
    <li>
        <p><strong>FTP Account Management</strong></p>
        <p>cPanel lets the user create multiple FTP accounts. The FTP creation tool lets the website owner define levels of access, set transfer quotas, modify passwords, and provides configuration files that lets a user use third party FTP clients.</p>
    </li>
    <li>
        <p><strong>Web Disk</strong></p>
        <p>Web Disk lets site owners and users access files on their server as if they were located on their computer. This makes it easier for users who are uncomfortable using the File Manager or an FTP program to make changes to their server files.</p>
    </li>
    <li>
        <p><strong>Disk Space Usage</strong></p>
        <p>This is a useful tool for viewing where data is most concentrated. If there is a problem with disk space, the graphical results page quickly shows where the most disk space is being used. Whether it is email, main web folder, or even the size that databases are taking up.</p>
    </li>
    <li>
        <p><strong>FTP Session Control</strong></p>
        <p>With multiple FTP users, a site owner can become overwhelmed and not know who is accessing server at any given time. The FTP Session Control tools provides a way for site owners to see who is currently accessing the server. The site owner can see which user is currently logged in, their IP address they are connected from, the login time, status, view Process ID, and manually disconnect a user.</p>
    </li>
</ul>
<p>You can view all the features that cPanel has to offer <a href="http://www.inmotionhosting.com/cpanel-hosting/cpanel-features.html">here</a>.</p>
{% endblock %}
