{% extends 'longtail-cpanel.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Simple Domain Management{% endblock %}

{# keywords #}
{% block keywords %}cpanel domain manager, domain management{% endblock %}

{# description #}
{% block description %}cPanel allows for easy domain management for all of your web domains. Create redirects, addon domains, and parked domains with ease.{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Unify Your Online Presence with cPanel</h1>
    </div>
    <div class="span3">

    </div>
{% endblock %}

{# left column #}
{% block left_column %}

    <div class="span8">

        <p>With cPanel domain management, site owners can manage all of their website properties from a single control panel interface.</p>
        <img src="{{ app.request.basepath }}/img/cpanel-hosting/img-top-features-domain-color.jpg" alt="cpanel top domain management features" />

        <ul>
            <li>
                <p><strong>Sub-Domains</strong></p>
                <p>Sub-domains provides an easy way to organize large websites with varying topics. cPanel's subdomain interface allows the site owner to quickly create and view all subdomains.</p>
            </li>
            <li>
                <p><strong>Redirects</strong></p>
                <p>cPanel allows site owners to create either Permanent 301 or Temporary 302 redirects through its control panel. This easy to use feature means anyone can redirect webpages without needing to create or modify an htaccess file.</p>
            </li>
            <li>
                <p><strong>Addon Domains</strong></p>
                <p>Addon Domains allows site owners to host more than 1 domain on their hosting account. Any new domains will show up as part of their server file structure. cPanel lets users define addon domains as well as new the FTP user associated with that account.</p>
            </li>
            <li>
                <p><strong>Simple DNS Zone Editor</strong></p>
                <p>The control panel interface for adding and modifying A and CNAME records makes defining new records a breeze. Simply select a domain, and fill in the new information in the A and CNAME records area. </p>
            </li>
            <li>
                <p><strong>Parked Domains</strong></p>
                <p>Site owners who own multiple domains can easily point unused domains to their primary domain. The owner simply needs to ensure that the DNS server for the unused domain is properly pointed to the primary domain. Then all the user needs to do is add the unused domain and click on &ldquo;Add Domain&rdquo; to enable a parked domain.</p>
            </li>
        </ul>

        <p>You can view all the features that cPanel has to offer <a href="/cpanel-hosting/cpanel-features.html">here</a>.</p>

    </div>
    <!--  end span8  -->

{% endblock %}