{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}Top cPanel Features | InMotion Hosting{% endblock %}

{# keywords #}
{% block keywords %}unlimited cpanel hosting, unlimited cpanel host, top cpanel features{% endblock %}

{# description #}
{% block description %}cPanel web hosting brings all server administration features to site owners. Allowing for easy server management and user administration.{% endblock %}

{# intro #}
{% block intro %}

{% endblock %}

{% block content %}
<h2>The Most Popular Features</h2>
<p>The quantity of tools offered by cPanel web hosting represents a near unlimited number of possibilities in the way a user can manage their website or server. The top features alone allows each user to fully manage their online presence professionally and with minimal training involved.</p>

<p>We've taken the most popular features of cPanel and have broken them down for you.</p>

<h2>Running Your Website With Ease</h2>
<p>cPanel provides tools to let you run your website successfully:</p>

<h3>Email</h3>
<p>Business communication is important. Managing multiple email users, business specific email addresses, blocking spam, and creating filters can be a hassle. What cPanel has done is create easy to use tools that enables the site owner to control email from easy to use interfaces. <a href="http://www.inmotionhosting.com/cpanel-hosting/cpanel-email-feature.html">Learn more &raquo;</a></p>
<img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/img-top-features-email.jpg" alt="cpanel top email features">

<h3>Security</h3>
<p>Securing a website and server can be a hassle for even the most seasoned professional. cPanel helps its users by providing the tools needed to help reduce the possibilites of attacks all the while giving the site owner secure access to their server. <a href="http://www.inmotionhosting.com/cpanel-hosting/cpanel-security-feature.html">Learn more &raquo;</a></p>
<img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/img-top-features-security.jpg" alt="cpanel top security features">

<h3>File Management</h3>
<p>With multiple domains, subdomains, email accounts, CMS platforms, and users who access the server via FTP; A site owner can quickly become overwhelmed with trying to manage the server. cPanel makes this easy with their File Management tools. <a href="http://www.inmotionhosting.com/cpanel-hosting/cpanel-file-management-feature.html">Learn more &raquo;</a></p>
<img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/img-top-features-file.jpg" alt="cpanel top file management features">

<h3>Domain Management</h3>
<p>Customers running a server will for the most part need to create sub-domains, add domains to their hosting account, or park domains. cPanel makes these features available to our customers. <a href="http://www.inmotionhosting.com/cpanel-hosting/cpanel-domain-management-feature.html">Learn more &raquo;</a></p>
<img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/img-top-features-domain.jpg" alt="cpanel top domain management features">

<h2>Easy Server Management</h2>
<p>For the more advanced users found on VPS and dedicated servers, command line scripts are available! Save time by working within the command line to quickly configure, investigate server issues, and execute commands.</p>

<p>Some scripts included:</p>
<ul>
    <li><em>cpbackup</em> - perform system wide backups</li>
    <li><em>setupftpserver</em> - gives the option to choose between pure-ftpd &amp; proftpd or disable FTP</li>
    <li><em>suspendacct</em> - automate account suspensions</li>
    <li><em>restorepkg</em> - restores an account from a backup file</li>
    <li><em>delpop</em> - removes email accounts over SSH</li>
    <li><em>restartsrv_*</em> - restarts servers through SSH</li>
</ul>
<h2>cPanel VPS Optimized</h2>
<p>For site owners who have or are considering purchasing a VPS, cPanel has created a version just for you. You can read more about cPanel VPS Optimized <a href="http://www.inmotionhosting.com/cpanel-hosting/vps-with-cpanel.html">here</a>.</p>
{% endblock %}
