{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}All cPanel Features | InMotion Hosting{% endblock %}

{# keywords #}
{% block keywords %}cpanel features, control panel features, cpanel tools{% endblock %}

{# description #}
{% block description %}Control your server and website by taking advantage of the cPanel tools that are made available to all InMotion Hosting customers.{% endblock %}

{# intro #}
{% block intro %}

{% endblock %}

{% block content %}
<h2>All cPanel Features Available to Our Customers</h2>
<p>Below are all the features that are easily accessible through the control panel interface.</p>

<h3>Server Statistics</h3>
<p>Monitor your server to ensure performance is maintained.</p>
<ul>
    <li>Domain &amp; Sub-Domain Management</li>
    <li>Bandwidth Usage</li>
    <li>Website Overview</li>
    <li>Logaholic</li>
    <li>File Management</li>
    <li>Disk Space Usage</li>
    <li>Custom Errors Pages - 404, 401, 503 and more</li>
</ul>

<h3>Database Administration</h3>
<p>Install CMS platforms or build custom applications that require a database.</p>
<ul>
    <li>MySQL 4, 5 with phpMyAdmin</li>
    <li>Remote MySQL Control</li>
</ul>

<h3>Email Management</h3>
<p>Easily manage email accounts and your inbox.</p>
<ul>
    <li>POP3/IMAP Email Accounts</li>
    <li>Third Party Mail Client Configuration Support</li>
    <li>Create Forwards &amp; Aliases</li>
    <li>Autoresponders</li>
    <li>Account Level Filtering</li>
    <li>Spam Assassin Anti-Spam Tool</li>
    <li>BoxTrapper Email Verification</li>
    <li>Create Mailing Lists</li>
    <li>Webmail Access</li>
    <li>Email Reports</li>
    <li>Email Delivery Route</li>
    <li>Email Authentication</li>
    <li>MX Record Setup</li>
    <li>Mass Email Account Creation</li>
</ul>

<h3>Advanced Server Features*</h3>
<p>Feature set for more advanced users who need additional server modifications.</p>
<ul>
    <li>PHP</li>
    <li>PERL</li>
    <li>Perl Module Installer</li>
    <li>Ruby on Rails with RubyGems</li>
    <li>Python</li>
    <li>Setup Cron Jobs</li>
    <li>Bandwidth Allocation</li>
    <li>Perform Server Backups</li>
</ul>

<p>* available on VPS and dedicated servers only</p>
{% endblock %}
