{% extends 'layout.html.twig' %}
{% set active = 'longtail' %}

{# title #}
{% block title %}Free cPanel With Hosting{% endblock %}

{# keywords #}
{% block keywords %}free cpanel hosting, host with free cpanel{% endblock %}

{# description #}
{% block description %}Free cPanel software provided by InMotion Hosting for all hosting plans and packages.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Save Up To $425 Annually</h1>
    </div>
    <div class="span3">

    </div>
{% endblock %}

{% block content %}
<h2>cPanel is Free to All Customers</h2>
<p>Regardless of what server level and plan length you select. Be it a shared hosting account, or a dedicated server, purchased month-to-month or 12 months at a time. InMotion provides all of our hosting customers with cPanel for free.</p>
<p>Some hosting companies offer cPanel as an addon for $20 - $30 a month! Or if you purchase direct through cPanel, it can cost up to $425 a year. At InMotion, cPanel is included. No extra costs or additional fees are added.</p>

<h3>cPanel Access</h3>
<p><img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/cpanel-login.jpg" alt="cpanel login screen shot" style="float:right; margin-left:15px;">Once a new customer purchases a hosting plan with InMotion, a welcome email is sent with information on how to log into their cPanel account. From here, they can immediately start creating email addresses, putting addon domains, or setting up specific access points.</p>
<p>cPanel can be easily accessed from your domain. Just simply type into your browsers URL address bar &ldquo;yourdomain.com/cpanel&rdquo;, put in your username and password, and hit enter. It's that easy!</p>

<p>Once you have successfully logged in, you can then start making edits to your server. Click on the easy to recognize icons to get to modify whichever section you want to make changes to.</p>
<h2>Commonly Used cPanel Features</h2>
<dl class="cpanel_features">
    <dt>
        <img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/icon-email-accounts.jpg" alt="cpanel email accounts icon">
    </dt>
    <dd>
        Easily create email accounts, account usage quota's, or access easily access webmail.
    </dd>
    <dt>
        <img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/icon-ftp-accounts.jpg" alt="cpanel ftp accounts icon">
    </dt>
    <dd>
        Manage who has access to specific directories and set limits on how much data can be transferred. Get information on information how to setup access for third party FTP programs such as FileZilla.
    </dd>
    <dt>
        <img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/icon-phpmyadmin.jpg" alt="cpanel phpmyadmin icon">
    </dt>
    <dd>
        With phpMyAdmin, you have control over your MySQL databases. Easily create databases for your Wordpress blog or any other CMS you use.
    </dd>
    <dt>
        <img src="http://img01.inmotionhosting.com/_img/cpanel-hosting/icon-addon-domains.jpg" alt="cpanel addon domains icon">
    </dt>
    <dd>
        Have more than 1 domain? Easily host additional domains from a single account.
    </dd>
</dl>

<p>These are just 4 features available to our customers. If you want some more information about how cPanel lets you manage your server, <a href="/cpanel-hosting/cpanel-web-hosting.html">click here</a>.</p>
{% endblock %}
