{% extends 'longtail-vps.html.twig' %}

{# title #}
{% block title %}Affordable VPS Plans{% endblock %}

{# keywords #}
{% block keywords %}low cost vps, affordable vps, cheap hosting{% endblock %}

{# description #}
{% block description %}Low cost affordable VPS hosting solutions keeps you within budget.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>A VPS Shouldn't Cost an Arm &amp; a Leg. Get Affordable VPS Hosting by InMotion</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>.When shopping for a VPS server, price plays an important role. The higher the price, the more features you expect to get. Likewise, the lower the price, the more likely you will get a product that doesn't have as much features as you would like.</p>
        <p>At InMotion, all of our plans comes with a software package that makes VPS hosting an affordable option for your business. We provide cPanel and Web Hosting Manager for free regardless of plan type. That means you can easily manage your server or manage your clients by reselling hosting. </p>
        <p>InMotion believes in providing an affordable VPS solution that is reliable and has performance in mind. Take a look at our plans below to see which one is right for you.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
