{% extends 'longtail-vps.html.twig' %}

{# title #}
{% block title %}Best VPS Offerings{% endblock %}

{# keywords #}
{% block keywords %}best vps, best virtual private server{% endblock %}

{# description #}
{% block description %}The Best VPS hosting by InMotion provides the knowledge and understanding you need to stay online.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>InMotion Provides the Best Virtual Private Server Hosting</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>Being the best takes time and effort. InMotion has been in the hosting industry for over 10 years. This experience has given us a little perspective on what it takes to be the best. So what exactly does it take?</p>
        <ul>
            <li>Providing the best features</li>
            <li>Giving you the tools to stay online</li>
            <li>Understanding your needs</li>
        </ul>
        <h3>Features</h3>
        <h3>The Best VPS Tools</h3>
        <h3>Understanding Your Needs</h3>
        <p>We understand the needs of our VPS customers. Whether you goal is to be a hosting reseller, manage multiple websites, develop applications, or just build cool websites, we know what you want. Our support team is comprised of individuals who themselves build sites, write code, and tinker with computers.</p>
        <p>Speed and performance is a must. Read more about how we make your VPS operate faster <a href="/vps_hosting/articles/fast-vps.html">here</a>.
    </div>
    <!--  end span8  -->
{% endblock %}
