{% extends 'longtail-vps.html.twig' %}

{# title #}
{% block title %}VPS Features for All Plans{% endblock %}

{# keywords #}
{% block keywords %}vps plan features, vps features, features of vps plans{% endblock %}

{# description #}
{% block description %}VPS features on all plan types from InMotion Hosting.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Getting Good VPS Hosting is Tough. InMotion Makes it Easy.</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>Getting a good VPS hosting solution from a reputable company should be your main goal. When you do buy one, what you should be getting in return great customer service, the best hardware, and a team with the expert knowledge to keep you online.</p>
        <p>At InMotion, we do our best to provide you with all of the above and more!</p>
        <h2>What Makes InMotion a Good VPS Host?</h2>
        <ol>
            <li>
                <h3>Reasonable Prices</h3>
                <p>InMotions offers quality hardware for all VPS plan levels. We do this because we understand the importance of being online. We try to give our customers the most for every dollar within their budget.</p>
            </li>
            <li>
                <h3>Customer Service</h3>
                <p>Our entire company believes that all of our customers should have a positive experience with any department they are in contact with. Our team is here to help you resolve any issue in a friendly, curteous manner.</p>
            </li>
            <li>
                <h3>Expert Knowledge</h3>
                <p>The system administrators at InMotion have experience in coding, managing servers, and giving recommendations and solutions to the most complex of problems. Whether it is helping you tune your MYSQL database, mount and copy a backup file, or checking your connection to ensure maximum uptime, we are here to give you the best answer.</p>
            </li>
        </ol>
    </div>
    <!--  end span8  -->
{% endblock %}
