{% extends 'layout.html.twig' %}
{% set active = '' %}

{# title #}
{% block title %}Sales FAQ{% endblock %}

{# keywords #}
{% block keywords %}web hosting faq, web hosting answers{% endblock %}

{# description #}
{% block description %}Frequently asked web hosting questions answered by the award-winning InMotion Hosting team.{% endblock %}

{# intro #}
{% block intro %}
 <div class="span9">
  <h1>Los Angeles Web Hosting</h1>
 </div>
 <div class="span3">
 </div>
{% endblock %}

{# content #}
{% block content %}
<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="span9">
<p>InMotion Hosting is an employee owned and operated business that has proudly operated in Los Angeles since 2001. Our <a href="https://plus.google.com/103317364137339195785/about?gl=US&hl=en-US" target="_blank">Los Angeles office</a> is home to our Marketing, Design, Technical Support, and Executive Staff. We love Los Angeles, and we believe in helping preserve its natural beauty for future generations to enjoy. That's why we're proud to be the first web hosting company in Los Angeles to offer <a href="/meet-us/go-green">Green Web Hosting</a>. InMotion Hosting actively contributes to the Los Angeles tech-community having been a presenting sponsor of <a href="http://2011.la.wordcamp.org/" target="_blank">WordCamp LA</a> since 2009. Support the local Los Angeles economy and order web hosting service with InMotion Hosting.</p>

<p> All business class web hosting plans come with an industry leading 90 Day Money Back Guarantee*</p>
            </div><!--  end span9  -->
            <div class="span3 offset1"></div>
        </div><!--  end row  -->
    </div><!--  end container  -->
</div><!--  end wrap  -->
{% endblock %}
